@using System.Globalization
@using Microsoft.Extensions.Options
@using Moonglade.Core
@using Moonglade.Model.Settings
@model IReadOnlyList<Moonglade.Model.PostListItem>
@inject IOptions<AppSettings> Settings

@section meta
{
    <meta name="robots" content="noindex, nofollow" />
}

@if (null != ViewBag.IsServerError && ViewBag.IsServerError)
{
    <partial name="_ServerErrorMessage" />
}
else
{
    <h3>
        Search Result
    </h3>
    <hr />
    if (!Model.Any())
    {
        <div class="alert alert-info">
            No Matching Result
        </div>
    }
    else
    {
        foreach (var item in Model.OrderByDescending(s => s.PubDateUtc))
        {
            <article class="article-post-summary">
                <div class="post-date-box d-none d-md-block">
                    <h1 class="post-date-day">@item.PubDateUtc.Day.ToString("00")</h1>
                    <div class="post-date-month">
                        @Utils.UtcToZoneTime(item.PubDateUtc, Settings.Value.TimeZone).ToString("MMM", new CultureInfo("en-US")).ToUpper()
                    </div>
                </div>
                <div class="post-summary-box">
                    <time datetime="@item.PubDateUtc.ToString("u")" class="none d-none">
                        @item.PubDateUtc
                    </time>

                    <h4 class="post-summary-title">
                        <a asp-controller="Post" asp-action="Slug"
                           asp-route-year="@item.PubDateUtc.Year"
                           asp-route-month="@item.PubDateUtc.Month"
                           asp-route-day="@item.PubDateUtc.Day"
                           asp-route-slug="@item.Slug">
                            @item.Title
                        </a>
                    </h4>

                    <p class="post-summary-text">@(item.ContentAbstract)...</p>

                    <div class="post-summary-tags">
                        @foreach (var tag in item.Tags)
                        {
                            <a asp-controller="Tags"
                               asp-action="List"
                               asp-route-normalizedName="@tag.NormalizedTagName"
                               class="post-summary-tag">
                                @tag.TagName
                            </a>
                        }
                    </div>
                </div>
            </article>
            <div class="mb-4 d-none d-md-block"></div>
            <hr class="d-none d-md-block" />
        }
    }
}