@using Microsoft.Extensions.Options
@using Moonglade.Core
@using Moonglade.Model.Settings
@model IReadOnlyList<Moonglade.Model.SearchResult>
@inject IOptions<AppSettings> Settings

@section meta
{
    <meta name="robots" content="noindex, nofollow" />
}

@if (null != ViewBag.IsServerError && ViewBag.IsServerError)
{
    <partial name="_ServerErrorMessage" />
}
else
{
    <h3>
        Search Result
    </h3>
    <hr />
    if (!Model.Any())
    {
        <div class="alert alert-info">
            No Matching Result
        </div>
    }
    else
    {
        foreach (var item in Model.OrderByDescending(s => s.PubDateUtc))
        {
            <div class="card mb-3">
                <div class="card-header">
                    <strong>
                        <a asp-controller="Post" asp-action="Slug"
                           asp-route-year="@item.PubDateUtc.Year"
                           asp-route-month="@item.PubDateUtc.Month"
                           asp-route-day="@item.PubDateUtc.Day"
                           asp-route-slug="@item.Slug"
                           target="_blank">
                            @item.Title
                        </a>
                    </strong>
                    <span class="text-muted pull-right">
                        @Utils.UtcToZoneTime(item.PubDateUtc, Settings.Value.TimeZone).ToString("yyyy-MM-dd")
                    </span>
                </div>
                <div class="card-body">
                    @item.Summary
                </div>
            </div>
        }
    }
}