@{
    Layout = "_LayoutAdmin";
}

@model IReadOnlyList<Moonglade.Model.PostMetaData>
@section scripts{
    <script>
        $(function () {
            $(".btn-delete").click(function () {
                var cfm = confirm("Delete Confirmation?");
                if (cfm) {
                    deletePost($(this).data("postid"));
                }
            });
        });

        function deletePost(postid) {
            $("#span-processing-" + postid).show();
            ajaxPostWithCSRFToken("delete", { postid: postid }, function (data) {
                $("#tr-" + data).hide();
            });
        }
    </script>
}

<partial name="_PostManageHeader" />

@if (Model.Any())
{
    @Html.AntiForgeryToken()
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model.OrderByDescending(p => p.CreateOnUtc))
            {
                <tr id="tr-@post.Id">
                    <td>@post.Title</td>
                    <td class="text-muted">@post.CreateOnUtc.ToString("MM/dd/yyyy HH:mm")</td>
                    <td>
                        <a class="btn btn-primary btn-sm btn-edit" asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id">
                            <span class="icon-pencil"></span>
                        </a>
                        <a class="btn btn-danger btn-sm btn-delete" data-postid="@post.Id" href="javascript:;">
                            <span class="icon-bin"></span>
                        </a>
                        <span id="span-processing-@post.Id" style="display: none">...</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <partial name="_NoPosts" />
}