@using Moonglade.Core
@using Moonglade.DateTimeOps

@model Moonglade.Model.PostSlug
@inject IDateTimeResolver DateTimeResolver

@{
    ViewBag.ShowBloggerIntroInXS = true;
    ViewBag.BodyClass = "body-post-slug";
    var ec = Settings.Value.Editor;
    var content = ContentProcessor.AddLazyLoadToImgTag(Model.RawPostContent);
}

@section keywords {
    @if (Model.Tags.Length > 0)
    {
        <meta name="keywords" content="@string.Join(", ", Model.Tags.Select(t => t.NormalizedName))" />
    }
}

@section meta {
    @if (!Model.ExposedToSiteMap)
    {
        <meta name="robots" content="noindex, nofollow" />
    }

    <meta name="title" content="@Model.Title" />
    <meta name="displaydate" content="@Model.PubDateUtc.GetValueOrDefault().ToString("u")">
    <meta name="copyright" content="(C) @Model.PubDateUtc.GetValueOrDefault().Year @BlogConfig.GeneralSettings.SiteTitle">
    <meta name="author" content="@BlogConfig.GeneralSettings.OwnerName" />
}

@if (BlogConfig.AdvancedSettings.EnableOpenGraph)
{
    @section opengraph{
        <meta property="og:site_name" content="@BlogConfig.GeneralSettings.SiteTitle">
        <meta property="og:title" content="@Model.Title">
        <meta property="og:type" content="article" />
        <meta property="og:description" content="@Model.ContentAbstract" />
        @if (!string.IsNullOrWhiteSpace(BlogConfig.GeneralSettings.CanonicalPrefix))
        {
            <meta property="og:url" content="@(Utils.ResolveCanonicalUrl(BlogConfig.GeneralSettings.CanonicalPrefix, Context.Request.Path))" />
        }
    }
}

@section metadescription{
    <metadesc description="@Model.ContentAbstract" />
}

@section scripts {
    <script src="~/js/3rd/highlight.pack.js"></script>
    <script>
        var pid = $("article").data("postid");
        postSlug.getStatistics(pid);
        postSlug.registerRatingButtons(pid);
        postSlug.resizeImages();
        postSlug.applyImageZooming();
        postSlug.renderCodeHighlighter();

        $(function() {
            @if (BlogConfig.SecuritySettings.WarnExternalLink)
            {
                <text>
                    postSlug.warnExtLink();
                </text>
            }

            @if (null == ViewBag.IsDraftPreview)
            {
                <text>
                    $("#img-captcha").click(function() {
                        postSlug.resetCaptchaImage();
                    });

                    postSlug.postStatistics(pid, false);

                    $('#post-qrcode').qrcode(document.URL);
                </text>
            }

            @if (BlogConfig.ContentSettings.EnableComments && Model.CommentEnabled)
            {
                <text>
                    $('#comment-form').on('submit', function (e) {
                        e.preventDefault();
                        submitComment();
                    });
                </text>
            }
        });
    </script>
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

@if (null != ViewBag.IsDraftPreview)
{
    <div class="alert alert-info">
        @Localizer["This is a preview for draft content."]
    </div>
}

<article class="article-post-slug box border mb-4" data-postid="@Model.Id" lang="@Model.ContentLanguageCode">
    <header class="post-header">
        <h1 class="post-title">
            @Model.Title
        </h1>

        <div class="d-block d-sm-none">
            <div class="post-publish-info post-publish-info-mobile bg-light">
                <time datetime="@Model.PubDateUtc.GetValueOrDefault().ToString("u")" title="GMT @Model.PubDateUtc">
                    @DateTimeResolver.ToTimeZone(Model.PubDateUtc.GetValueOrDefault()).ToString("MM/dd/yyyy")
                </time>
                <span>
                    @BlogConfig.GeneralSettings.TimeZoneId
                </span>
            </div>
        </div>

        <div class="d-none d-md-block post-publish-info text-muted mb-2">
            📅
            <time datetime="@Model.PubDateUtc.GetValueOrDefault().ToString("u")" title="GMT @Model.PubDateUtc">
                @DateTimeResolver.ToTimeZone(Model.PubDateUtc.GetValueOrDefault()).ToLongDateString()
            </time>
            @BlogConfig.GeneralSettings.TimeZoneId
            -
            <span class="post-hit-number"><span class="post-hit-number-text">...</span> @Localizer["Reads"]</span>
        </div>

        <hr class="d-none d-md-block" />
    </header>
    <section class="post-content clearfix">
        @if (ec == EditorChoice.Markdown)
        {
            @Html.Raw(ContentProcessor.MarkdownToContent(content, ContentProcessor.MarkdownConvertType.Html, false))
        }
        else
        {
            @Html.Raw(content)
        }
    </section>
    @if (BlogConfig.ContentSettings.ShowPostFooter)
    {
        <section class="post-footer clearfix">
            @Html.Raw(BlogConfig.ContentSettings.PostFooterHtmlPitch)
        </section>
    }
    @if (null == ViewBag.IsDraftPreview)
    {
        <partial name="_PostSlugActions" />
    }

    <div class="tag-mobile d-block d-sm-none">
        <hr />
        @if (Model.Tags.Length > 0)
        {
            <span class="toptags-list toptags-list-sm">
                @foreach (var item in Model.Tags)
                {
                    <a asp-controller="Home"
                       asp-action="TagList"
                       asp-route-normalizedName="@item.NormalizedName">@item.DisplayName</a>
                }
            </span>
        }
    </div>
</article>

@if (null == ViewBag.IsDraftPreview)
{
    <div class="hidden-print">
        @if (BlogConfig.ContentSettings.EnableComments)
        {
            if (Model.CommentEnabled)
            {
                <div class="card bg-light comment-form-containter mb-4">
                    <div class="card-header">
                        @Localizer["Comments"]
                        <span class="badge badge-secondary float-right">@Model.CommentCount</span>
                    </div>
                    <form id="comment-form">
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Your name"
                                           id="input-comment-name"
                                           required />
                                </div>
                                <div class="col-md-8">
                                    <input type="email"
                                           class="form-control"
                                           placeholder="Email (Optional)"
                                           id="input-comment-email"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="@Localizer["Providing your email address can enable blog admin to send notifications for replying your comment. Your email address will also be used to show Gravatar if it has one."]" />
                                </div>
                            </div>
                            <div class="comment-md-content form-group">
                                <textarea id="input-comment-content"
                                          class="form-control"
                                          cols="60"
                                          rows="4"
                                          placeholder="@Localizer["Your comments (Markdown supported)"]"
                                          maxlength="1024"
                                          required></textarea>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <img id="img-captcha" src="@Url.Action("GetCaptchaImage", "Assets")" data-toggle="tooltip" data-placement="top" title="@Localizer["Can't read? Click to change another image."]" />
                                        </div>
                                        <input type="text"
                                               id="input-comment-captcha"
                                               class="form-control input-captcha"
                                               placeholder="Captcha Code"
                                               autocomplete="off"
                                               minlength="4"
                                               maxlength="4"
                                               required />
                                    </div>
                                </div>
                                <div class="col-3">
                                    <button id="btn-submit-comment" type="submit" class="btn btn-success float-right">
                                        @Localizer["Submit"]
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            }
            else
            {
                <div class="alert alert-warning">@Localizer["Comment of this post is disabled."]</div>
            }
        }
        else
        {
            <div class="alert alert-warning">@Localizer["Comment is disabled by blog administrator."]</div>
        }

        <div id="loadingIndicator" style="display: none;" class="mb-4">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only">@Localizer["Processing..."]</span>
                </div>
            </div>
        </div>

        <div id="thx-for-comment" class="alert alert-warning" style="display: none;">
            @Localizer["Thanks, your comment is pending approval now."] <br />
            @Localizer["It will show up once blog administrator approved your comment."]
        </div>

        <div id="thx-for-comment-non-review" class="alert alert-success" style="display: none;">
            @Localizer["Thanks for your comment."] <br />
            @Localizer["Refresh the page to see your comment."]
        </div>

        @if (Model.CommentCount > 0)
        {
            <section id="comments-list">
                @await Component.InvokeAsync("CommentList", new { postId = Model.Id })
            </section>
        }
    </div>
}

<partial name="_LightSwitch" />

<div class="modal fade" id="imgzoomModal" tabindex="-1" role="dialog" aria-labelledby="imgzoomModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-imgzoom" role="document">
        <div class="modal-content">
            <img id="imgzoom" alt="imgzoom" />
        </div>
    </div>
</div>

@if (BlogConfig.SecuritySettings.WarnExternalLink)
{
    <div class="modal fade" id="externalLinkModal" tabindex="-1" role="dialog" aria-labelledby="externalLinkModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-externalLink" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">External Link Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You are about to leave this website and go to this external link. We are not responsible for any content or malicious behaviours of this link. Please confirm before continue browsing the link.</p>
                    <p id="extlink-url"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a id="extlink-continue" href="#" target="_blank" class="btn btn-primary">Continue</a>
                </div>
            </div>
        </div>
    </div>
}