@using Edi.AspNetCore.Utils
@using Microsoft.AspNetCore.Builder
@using Moonglade.Utils

@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new { Value = c.Name, c.NativeName });
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    var currentCulture = System.Globalization.CultureInfo.CurrentUICulture.Name;
}

<footer id="blog-footer" class="moonglade-footer pt-4 pb-4 d-print-none">
    <div class="container">
        <div class="row">
            <section id="footer-copyright" class="col-auto">
                <div>
                    @Html.Raw(Helper.FormatCopyright2Html(BlogConfig.GeneralSettings.Copyright))
                </div>
                <small>
                    Powered by <a href="https://github.com/EdiWang/Moonglade" target="_blank">Moonglade</a> @VersionHelper.AppVersion
                </small>
            </section>

            <section id="footer-language"
                <div class="language-selection d-print-none btn-group dropup">
                    <button type="button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi-translate"></i> @SharedLocalizer["Languages"]
                    </button>
                    <ul class="dropdown-menu">
                        @foreach (var item in cultureItems)
                        {
                            <li>
                                <a class="dropdown-item @(currentCulture == item.Value ? "active" : "")"
                                   href="#"
                                   onclick="setLanguage('@item.Value', '@returnUrl'); return false;">
                                    @item.NativeName
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </section>

            <section id="footer-language-mobile" class="col d-block d-md-none text-end font-125rem">
                <a href="#" data-bs-toggle="modal" data-bs-target="#langselectormodal" aria-label="Choose display language"><i class="bi-translate"></i></a>
            </section>
        </div>
    </div>
</footer>

<div class="modal fade" id="langselectormodal" tabindex="-1" role="dialog" aria-labelledby="langselectorLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="langselectorLabel">Languages</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    @foreach (var item in cultureItems)
                    {
                        <li>
                            <a href="#"
                               onclick="setLanguage('@item.Value', '@returnUrl'); return false;"
                               rel="nofollow"
                               class="@(currentCulture == item.Value ? "fw-bold" : "")">
                                @item.NativeName
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<form id="setLanguageForm" method="post" action="/api/language/set" style="display:none;">
    @Html.AntiForgeryToken()
    <input type="hidden" name="culture" id="language-culture" />
    <input type="hidden" name="returnUrl" id="language-returnUrl" />
</form>

<script>
    function setLanguage(culture, returnUrl) {
        document.getElementById('language-culture').value = culture;
        document.getElementById('language-returnUrl').value = returnUrl;
        document.getElementById('setLanguageForm').submit();
    }
</script>