@using Moonglade.Configuration
@using Moonglade.Utils
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet _javaScriptSnippet
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment _webHostEnvironment
@{
    if (string.IsNullOrEmpty(BlogConfig.GeneralSettings.AvatarUrl))
    {
        BlogConfig.GeneralSettings.AvatarUrl = Url.Action("Avatar", "Assets");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @if (IsSectionDefined("keywords"))
    {
        @await RenderSectionAsync("keywords", false)
    }
    else
    {
        <meta name="keywords" content="@Html.Raw(BlogConfig.GeneralSettings.MetaKeyword)" />
    }

    @await RenderSectionAsync("meta", false)
    @if (BlogConfig.AdvancedSettings.EnableOpenGraph)
    {
        @if (IsSectionDefined("opengraph"))
        {
            @await RenderSectionAsync("opengraph", false)
        }
        else
        {
            <partial name="_OpenGraph" />

        }
    }

    @if (IsSectionDefined("metadescription"))
    {
        @await RenderSectionAsync("metadescription", false)
    }
    else
    {
        <metadesc description="@BlogConfig.GeneralSettings.Description" />
    }

    <title>
        @(ViewBag?.TitlePrefix)@(null == ViewBag?.TitlePrefix ? string.Empty : " - ")@BlogConfig.GeneralSettings.SiteTitle
    </title>

    @if (BlogConfig.ImageSettings.EnableCDNRedirect &&
    !string.IsNullOrWhiteSpace(BlogConfig.ImageSettings.CDNEndpoint))
    {
        <link rel="dns-prefetch" href="@Helper.GetDNSPrefetchUrl(BlogConfig.ImageSettings.CDNEndpoint)" />
    }

    @if (!string.IsNullOrWhiteSpace(BlogConfig.GeneralSettings.CanonicalPrefix))
    {
        <link rel="canonical" href="@(Helper.ResolveCanonicalUrl(BlogConfig.GeneralSettings.CanonicalPrefix, Context.Request.Path))" />
    }

    <link rel="start" title="@BlogConfig.GeneralSettings.SiteTitle" href="~/" />
    <rss title="@BlogConfig.FeedSettings.RssTitle" href="@Url.Action("Rss", "Subscription")" />
    @if (BlogConfig.AdvancedSettings.EnableOpenSearch)
    {
        <opensearch href="/opensearch" title="@BlogConfig.GeneralSettings.SiteTitle" />
    }

    @if (BlogConfig.AdvancedSettings.EnableMetaWeblog)
    {
        <rsd href="/rsd" />
    }
    <feature name="Foaf">
        <foaf href="/foaf.xml" />
    </feature>
    <partial name="_Favicons" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <environment exclude="Development">
        <link href="~/css/bundle.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment include="Development">
        <link href="~/css/src/fonts.css" rel="stylesheet" />
        <link href="~/css/src/base.css" rel="stylesheet" />
        <link href="~/css/src/rwd.css" rel="stylesheet" />
        <link href="~/css/src/navigation.css" rel="stylesheet" />
        <link href="~/css/src/timeline.css" rel="stylesheet" />
        <link href="~/css/src/post-slug.css" rel="stylesheet" />
        <link href="~/css/src/darkmode.css" rel="stylesheet" />
        <link href="~/css/src/highlighter-custom.css" rel="stylesheet" />
    </environment>
    @await RenderSectionAsync("head", false)
    <link href="~/theme.css" rel="stylesheet" asp-append-version="true" />
    @if (BlogConfig.CustomStyleSheetSettings.EnableCustomCss)
    {
        <link href="~/custom.css" rel="stylesheet" asp-append-version="true" />
    }
    <environment include="Production">
        @if (!(bool)Context.Items["DNT"])
        {
            @Html.Raw(_javaScriptSnippet.FullScript)
        }
    </environment>
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    @if (BlogConfig.GeneralSettings.Pride)
    {
        <style>
            body {
                cursor: url('/images/pride-heart-24.svg'), auto;
            }
        </style>
    }
</head>
<body class="@ViewBag.BodyClass">
    @if (BlogConfig.ContentSettings.ShowCalloutSection)
    {
        <section class="call-out">
            @Html.Raw(BlogConfig.ContentSettings.CalloutSectionHtmlPitch)
        </section>
    }

    <header class="sticky-top d-print-none">
        <nav id="blog-nav" class="navbar navbar-expand-lg navbar-dark bg-accent1">
            <div class="container">
                <div class="animbrand">
                    <a class="moonglade-logo font-sairas navbar-brand animate" href="/">
                        @BlogConfig.GeneralSettings.LogoText
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#blog-navbar-content" aria-controls="blog-navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="blog-navbar-content">
                    <ul class="navbar-nav me-auto">
                        <!-- System Nav Menu -->
                        <feature name="Menu_Categories">
                            <li id="navbar-dropdown-post" class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                                    <i class="bi-folder2 nav-item-icon"></i>
                                    <strong>@Localizer["Categories"]</strong>
                                </a>
                                @await Component.InvokeAsync("CategoryList", new { isMenu = true })
                            </li>
                        </feature>

                        <feature name="Menu_Tags">
                            <li class="nav-item">
                                <a asp-page="/Tags" class="nav-link">
                                    <i class="bi-tag nav-item-icon"></i>
                                    <strong>@Localizer["Tags"]</strong>
                                </a>
                            </li>
                        </feature>

                        <feature name="Menu_Archive">
                            <li class="nav-item">
                                <a asp-page="/Archive" class="nav-link">
                                    <i class="bi-calendar3 nav-item-icon"></i>
                                    <strong>@Localizer["Archive"]</strong>
                                </a>
                            </li>
                        </feature>

                        @await Component.InvokeAsync("Menu")
                    </ul>
                    <form class="d-flex search-form my-2 my-lg-0" action="/search" method="get">
                        <input id="term"
                               class="form-control bg-transparent me-sm-2"
                               type="search"
                               value=""
                               title="@Localizer["Search"]"
                               aria-label="Search"
                               placeholder="@Localizer["Search"]"
                               name="term"
                               maxlength="30">
                        <button class="btn btn-outline-light btn-search my-sm-0" type="submit"><i class="bi-search"></i></button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div id="page-content" class="content">
        @if (null != ViewBag.HideSideBar && ViewBag.HideSideBar)
        {
            @RenderBody()
        }
        else
        {
            <section class="profile-mobile d-block d-sm-none d-print-none">
                <div class="card-bkimg-container">
                    <img class="card-bkimg" alt="" src="@BlogConfig.GeneralSettings.AvatarUrl" />
                </div>
                <div class="blogger-intro-content">
                    <div class="row">
                        <div class="col-3">
                            <img src="@BlogConfig.GeneralSettings.AvatarUrl"
                             alt="@BlogConfig.GeneralSettings.OwnerName"
                             class="rounded-circle blogger-head-pic" />
                        </div>
                        <div class="col-9">
                            <h4 class="text-center">
                                @BlogConfig.GeneralSettings.ShortDescription
                            </h4>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container mt-4 mb-5">
                <div class="row">
                    @if (BlogConfig.GeneralSettings.SideBarOption == SideBarOption.Left)
                    {
                        <partial name="_Aside" />
                    }

                    <section class="col-md-12 @(BlogConfig.GeneralSettings.SideBarOption == SideBarOption.Disabled ? null : "col-lg-9")">
                        @RenderBody()
                    </section>

                    @if (BlogConfig.GeneralSettings.SideBarOption == SideBarOption.Right)
                    {
                        <partial name="_Aside" />
                    }
                </div>
            </div>
        }
    </div>
    <div class="clearfix"></div>
    <partial name="_Footer" />
    <partial name="_EnvInfo" />
    <partial name="_Toast" />

    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <environment exclude="Development">
        <script src="~/js/dist/app-bundle.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/3rd/jquery.qrcode.min.js"></script>
        <script src="~/js/app/base.js"></script>
        <script src="~/js/app/postslug.js"></script>
        <script src="~/js/app/httpService.js"></script>
        <script src="~/js/app/comments.js"></script>
        <script src="~/js/app/darklighttheme.js"></script>
    </environment>

    @if (BlogConfig.GeneralSettings.AutoDarkLightTheme && (ViewBag.DisableLightSwitch == null || !ViewBag.DisableLightSwitch))
    {
        <script>
            if (window.matchMedia && window.themeModeSwitcher) {
                if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    themeModeSwitcher.useDarkMode();
                } else {
                    themeModeSwitcher.useLightMode();
                }
            }
        </script>
    }
    @await RenderSectionAsync("scripts", false)
</body>
</html>
