@using System.Text.RegularExpressions
@using Moonglade.Data.DTO
@model PostDigest

@{
    string searchTerm = ViewData["SearchTerm"] as string ?? string.Empty;
}

@functions {
    private static string HighlightKeywords(string text, string searchTerm)
    {
        if (string.IsNullOrWhiteSpace(text) || string.IsNullOrWhiteSpace(searchTerm))
            return text;

        var pattern = Regex.Escape(searchTerm);
        var regex = new Regex(pattern, RegexOptions.IgnoreCase);
        return regex.Replace(text, match => $"<span style=\"color: red;\">{match.Value}</span>");
    }
}

<article class="article-post-summary d-flex rounded-3 shadow-sm border bg-white mb-4" lang="@Model.LangCode">
    <div class="post-date-box border-end d-none d-md-block font-sairas pe-4">
        <div class="post-date-day">
            @Model.PubDateUtc.Day.ToString("00")
        </div>
        <div class="post-date-month">
            @Model.PubDateUtc.ToString("MMM").ToUpper()
        </div>
    </div>
    <div class="post-summary-box">
        <time datetime="@Model.PubDateUtc.ToString("u")" class="d-none">
            @Model.PubDateUtc
        </time>

        <h3 class="post-summary-title mb-3">
            <a asp-page="/Post"
               asp-route-year="@Model.PubDateUtc.Year"
               asp-route-month="@Model.PubDateUtc.Month"
               asp-route-day="@Model.PubDateUtc.Day"
               asp-route-slug="@Model.Slug">
                @Html.Raw(HighlightKeywords(Model.Title, searchTerm))
            </a>

            @if (Model.IsFeatured)
            {
                <i class="bi-star-fill text-warning"></i>
            }
        </h3>

        <abbr class="post-summary-text d-block mb-3">
            @Html.Raw(HighlightKeywords(ContentProcessor.HtmlDecode(Model.ContentAbstract), searchTerm))
        </abbr>

        @if (null != Model.Tags)
        {
            <div class="post-summary-tags pt-2">
                @foreach (var tag in Model.Tags)
                {
                    <a asp-page="/TagList"
                       asp-route-normalizedName="@tag.NormalizedName"
                       class="d-inline-block me-1 mb-1 btn btn-sm btn-accent">
                        @tag.DisplayName
                    </a>
                }
            </div>
        }
    </div>
</article>