@{
}
<ul class="list-inline">
    @if (BlogConfig.SocialProfileSettings.GPGKeyUrl != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.GPGKeyUrl" title="GPG Key">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fas fa-key fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.Twitter != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.Twitter" title="Twitter">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.Instagram != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.Instagram" title="Instagram">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.YouTube != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.YouTube" title="Youtube">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.Xing != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.Xing" title="Xing">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-xing fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.Reddit != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.Reddit" title="Reddit">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-reddit fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.Behance != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.Behance" title="Behance">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-behance fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.Twitch != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.Twitch" title="Twitch">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-twitch fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.Skype != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.Skype" title="Skype">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-skype fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.Steam != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.Steam" title="Steam">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-steam fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.DevTo != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.DevTo" title="Dev.To">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-dev fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.AmazonAuthorPage != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.AmazonAuthorPage" title="Amazon Authors Page">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-amazon fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.CodeProject != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.CodeProject" title="CodeProject">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fas fa-code fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.OpenHub != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.OpenHub" title="OpenHub">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fas fa-code-branch fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.KeyBase != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.KeyBase" title="KeyBase">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-keybase fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.Mastodon != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.Mastodon" title="Mastodon">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-mastodon fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.Facebook != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.Facebook" title="Facebook">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.LinkedIn != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.LinkedIn" title="LinkedIn">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.GitHub != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.GitHub" title="GitHub">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.Pinterest != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.Pinterest" title="Pinterest">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-pinterest fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.Vimeo != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.Vimeo" title="Vimeo">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-vimeo fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.Spotify != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.Spotify" title="Spotify">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-spotify fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.WhatsApp != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.WhatsApp" title="WhatsApp">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.Discord != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.Discord" title="Discord">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-discord fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.Stackoverflow != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.Stackoverflow" title="StackOverflow">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.Codersrank != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.Facebook" title="Facebook">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.LastFm != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.LastFm" title="Twitter">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-lastfm fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.Matrix != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.Matrix" title="Instagram">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fas fa-hashtag fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
    @if (BlogConfig.SocialProfileSettings.CodeStats != null)
    {
        <li class="list-inline-item">
            <a rel="me" href="@BlogConfig.SocialProfileSettings.CodeStats" title="Discord">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fas fa-code fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    }
</ul>