<section class="blog-info-desktop-lg text-light d-none d-lg-block">
    <div class="card-bkimg-container">
        <img class="card-bkimg" alt="" src="@BlogConfig.GeneralSettings.AvatarUrl" />
    </div>
    <div class="blog-info-photo-text text-center">
        <img src="@BlogConfig.GeneralSettings.AvatarUrl"
             alt="@BlogConfig.GeneralSettings.OwnerName"
             class="rounded-circle blogger-head-pic" />
        <div>
            <h3 class="mt-3 text-white font-sairas heading-ownername">
                @BlogConfig.GeneralSettings.OwnerName
            </h3>
            <p class="me-3 ms-3 p-description">
                @BlogConfig.GeneralSettings.Description
            </p>
        </div>
    </div>
</section>