@model X.PagedList.StaticPagedList<Moonglade.Model.PostListItem>

@{
    ViewBag.TitlePrefix = ViewBag.CategoryDisplayName + " - " + BlogConfig.GeneralSettings.SiteTitle;
    ViewBag.ActionName = "list";
    ViewBag.ShowBloggerIntroInXS = true;
}

<h3 class="h3-cat-list">
    <a class="float-right d-none d-md-block"
       asp-controller="Subscription"
       asp-action="Rss"
       asp-route-categoryName="@(((string)ViewBag.CategoryName).ToLower())" target="_blank"
       title="Subscribe @(ViewBag.CategoryDisplayName)">
        <span class="icon-rss"></span>
    </a>
    <span>@ViewBag.CategoryDisplayName</span>
    <span class="badge d-inline d-sm-none float-right">@Model.TotalItemCount</span>
    <small class="d-none d-md-inline text-muted">@ViewBag.CategoryDescription</small>
</h3>
<hr />
@if (Model.Any())
{
    <partial name="_PostList" />
}
else
{
    <div class="alert alert-info">
        No Posts.
    </div>
}