@{
    Layout = "_LayoutAdmin";
}

@model IReadOnlyList<Moonglade.Data.Entities.Category>

<h3>
    Categories
    <a class="btn btn-outline-success float-right" asp-controller="Category" asp-action="Create">
        <i class="fa fa-plus"></i>
        Create
    </a>
</h3>
<hr />

@if (null != ViewBag.HasError && ViewBag.HasError)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Route Name
                </th>
                <th>
                    Description
                </th>
                <th class="table-item-w20">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model.OrderBy(m => m.DisplayName))
            {
                <tr>
                    <td>
                        <strong>
                            @cat.DisplayName
                        </strong>
                    </td>
                    <td>
                        @cat.Title
                    </td>
                    <td class="text-muted">
                        @cat.Note
                    </td>
                    <td>
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@cat.Id" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@cat.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}