@{
    var currentAction = ViewContext.RouteData?.Values["action"]?.ToString();
}

<h3>
    Settings
</h3>
<hr />

<ul class="nav nav-tabs">
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "GeneralSettings" ? "active" : null)" asp-controller="Settings" asp-action="GeneralSettings">General</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "ContentSettings" ? "active" : null)" asp-controller="Settings" asp-action="ContentSettings">Content</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "EmailSettings" ? "active" : null)" asp-controller="Settings" asp-action="EmailSettings">Notifications</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "FeedSettings" ? "active" : null)" asp-controller="Settings" asp-action="FeedSettings">RSS/Atom Feed</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "WatermarkSettings" ? "active" : null)" asp-controller="Settings" asp-action="WatermarkSettings">Watermark</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "NavMenuSettings" ? "active" : null)" asp-controller="Settings" asp-action="NavMenuSettings">Navigation Menu</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "FriendLinkSettings" ? "active" : null)" asp-controller="Settings" asp-action="FriendLinkSettings">Friend Links</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "AdvancedSettings" ? "active" : null)" asp-controller="Settings" asp-action="AdvancedSettings">Advanced</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "AuditLogs" ? "active" : null)" asp-controller="Settings" asp-action="AuditLogs">Audit Logs</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "About" ? "active" : null)" asp-controller="Settings" asp-action="About">About</a>
    </li>
</ul>
<div class="mb-3"></div>