@{
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<h3>
    @Localizer["Settings"]
</h3>
<hr />

<ul class="nav nav-tabs">
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "General" ? "active" : null)" asp-controller="Settings" asp-action="General">@Localizer["General"]</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "Content" ? "active" : null)" asp-controller="Settings" asp-action="Content">@Localizer["Content"]</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "Notification" ? "active" : null)" asp-controller="Settings" asp-action="Notification">@Localizer["Notification"]</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "Subscription" ? "active" : null)" asp-controller="Settings" asp-action="Subscription">@Localizer["Subscription"]</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "Watermark" ? "active" : null)" asp-controller="Settings" asp-action="Watermark">@Localizer["Watermark"]</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "Security" ? "active" : null)" asp-controller="Settings" asp-action="Security">@Localizer["Security"]</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "CustomStyleSheet" ? "active" : null)" asp-controller="Settings" asp-action="CustomStyleSheet">@Localizer["Custom CSS"]</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "Advanced" ? "active" : null)" asp-controller="Settings" asp-action="Advanced">@Localizer["Advanced"]</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "DataPorting" ? "active" : null)" asp-controller="Settings" asp-action="DataPorting">@Localizer["Import &amp; Export Data"]</a>
    </li>
</ul>
<div class="mb-3"></div>