@using System.Diagnostics
@using Moonglade.Model
@{
    Layout = "_LayoutAdmin";
}

<partial name="_SettingsHeader" />

<div class="card mb-4">
    <div class="card-header">
        Server Information
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>System</td>
                <td>@System.Runtime.InteropServices.RuntimeInformation.OSDescription</td>
            </tr>
            <tr>
                <td>Directory</td>
                <td>@Environment.CurrentDirectory</td>
            </tr>
            <tr>
                <td>x64 Process</td>
                <td>@Environment.Is64BitProcess</td>
            </tr>
            <tr>
                <td>Machine Name</td>
                <td>@Environment.MachineName</td>
            </tr>
            <tr>
                <td>User Name</td>
                <td>@Environment.UserName</td>
            </tr>
            <tr>
                <td>.NET Core Version</td>
                <td>@Environment.Version</td>
            </tr>
            <tr>
                <td>Worker Process</td>
                <td>@Process.GetCurrentProcess().ProcessName</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="card mb-4">
    <div class="card-header">
        Moonglade Configuration
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Data Directory</td>
                <td>@AppDomain.CurrentDomain.GetData(Constants.DataDirectory)</td>
            </tr>
            <tr>
                <td>App Base Directory</td>
                <td>@AppDomain.CurrentDomain.GetData(Constants.AppBaseDirectory)</td>
            </tr>
            <tr>
                <td>Editor</td>
                <td>@Settings.Value.Editor</td>
            </tr>
        </tbody>
    </table>
</div>