@{
    Layout = "_LayoutAdmin";
}
@using Microsoft.AspNetCore.Http
@model AccountManageViewModel
@{
    var currentUidClaim = User.Claims.FirstOrDefault(c => c.Type == "uid");
}

@section scripts{
    <script>
        $(function () {
            $(".btn-delete").click(function () {
                var cfm = confirm("Delete Confirmation?");
                if (cfm) {
                    deleteAccount($(this).data("accountid"));
                }
            });
        });

        function deleteAccount(accountid) {
            $(`#span-processing-${accountid}`).show();
            ajaxPostWithCSRFToken("/admin/settings/account/delete",
                { id: accountid },
                function (data) {
                    $(`#tr-${data}`).hide();
                });
        }

        function initCreateAccount() {
            $("#edit-form")[0].reset();
            $('#editAccountModal').modal();
        }

        $(".btn-submit").click(function () {
            if ($("#edit-form").valid()) {
                ajaxPostWithCSRFToken(`/admin/settings/account/create`,
                    {
                        "Username": $("#AccountEditViewModel_Username").val(),
                        "Password": $("#AccountEditViewModel_Password").val()
                    },
                    function (data) {
                        $("#edit-form")[0].reset();
                        $("#editAccountModal").modal('hide');
                        window.location.reload();
                    });
            }
        });
    </script>
}

<h3>
    @Localizer["User Account"]
    <a class="btn btn-outline-success float-right" href="javascript:initCreateAccount();">
        <span class="icon-plus"></span>
        @Localizer["Create"]
    </a>
</h3>
<hr />

<div class="alert alert-info">
    @Localizer["It's recommend to use Azure Active Directory over local account. Azure provides way more secure and easy user management capabilities."]
</div>

@if (null != Model.Accounts && Model.Accounts.Any())
{
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>@Localizer["Username"]</th>
                <th>@Localizer["Last Login IP"]</th>
                <th>@Localizer["Last Login Time (UTC)"]</th>
                <th>@Localizer["Create Time (UTC)"]</th>
                <th>@Localizer["Action"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Accounts.OrderBy(p => p.Username))
            {
                <tr id="tr-@item.Id">
                    <td>@item.Username</td>
                    <td>@item.LastLoginIp</td>
                    <td>@item.LastLoginTimeUtc</td>
                    <td>@item.CreateOnUtc</td>
                    <td>
                        <a href="javascript:;" data-accountid="@item.Id" class="btn btn-sm btn-primary btn-updatepwd">Reset Password</a>

                        @if (null != currentUidClaim && currentUidClaim.Value != item.Id.ToString())
                        {
                            <a href="javascript:;" data-accountid="@item.Id" class="btn btn-sm btn-danger btn-delete"><span class="icon-bin"></span></a>
                            <span id="span-processing-@item.Id" style="display: none">...</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<p class="text-muted">Check out <a href="https://azure.microsoft.com/en-us/services/active-directory?WT.mc_id=AZ-MVP-5002809">Azure Active Directoy</a> and empower your blog to achieve more!</p>


<div class="modal fade" id="editAccountModal" tabindex="-1" role="dialog" aria-labelledby="editAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAccountModalLabel">@Localizer["Account Information"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="edit-form" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="AccountEditViewModel.Username" class="control-label"></label>
                        <input asp-for="AccountEditViewModel.Username" class="form-control" />
                        <span asp-validation-for="AccountEditViewModel.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AccountEditViewModel.Password" class="control-label"></label>
                        <input asp-for="AccountEditViewModel.Password" class="form-control" />
                        <span asp-validation-for="AccountEditViewModel.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-submit">@Localizer["Submit"]</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
                </div>
            </form>
        </div>
    </div>
</div>