@{
    Layout = "_LayoutAdmin";
}

@model ContentSettingsViewModel

<partial name="_SettingsHeader" />

<form id="form-settings" asp-controller="Settings" asp-action="Content"
      data-ajax-begin="onUpdateSettingsBegin"
      data-ajax-complete="onUpdateSettingsComplete"
      data-ajax-failure="onUpdateSettingsFailed"
      data-ajax-success="onUpdateSettingsSuccess"
      data-ajax="true"
      data-ajax-method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">@Localizer["Comments"]</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="EnableComments" class="custom-control-input">
                            <label asp-for="EnableComments" class="custom-control-label"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="RequireCommentReview" class="custom-control-input">
                            <label asp-for="RequireCommentReview" class="custom-control-label"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="EnableGravatar" class="custom-control-input">
                            <label asp-for="EnableGravatar" class="custom-control-label"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="EnableWordFilter" class="custom-control-input">
                            <label asp-for="EnableWordFilter" class="custom-control-label"></label>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="DisharmonyWords" class="control-label"></label>
                        <textarea asp-for="DisharmonyWords" class="form-control h-300px"></textarea>
                        <span asp-validation-for="DisharmonyWords" class="text-danger"></span>
                        <small class="form-text text-muted">@Localizer["Blocked words will be masked as *** in comment content."]</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">@Localizer["Blog posts"]</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="UseFriendlyNotFoundImage" class="custom-control-input">
                            <label asp-for="UseFriendlyNotFoundImage" class="custom-control-label"></label>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="PostListPageSize" class="control-label"></label>
                        <input asp-for="PostListPageSize" class="form-control" />
                        <span asp-validation-for="PostListPageSize" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HotTagAmount" class="control-label"></label>
                        <input asp-for="HotTagAmount" class="form-control" />
                        <span asp-validation-for="HotTagAmount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DefaultLangCode" class="control-label"></label>
                        <input asp-for="DefaultLangCode" class="form-control" />
                        <span asp-validation-for="DefaultLangCode" class="text-danger"></span>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="ShowPostFooter" class="custom-control-input">
                            <label asp-for="ShowPostFooter" class="custom-control-label"></label>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="PostFooterHtmlPitch" class="control-label"></label>
                        <textarea asp-for="PostFooterHtmlPitch" class="form-control" style="font-size: 12px; font-family: 'Consolas'" spellcheck="false"></textarea>
                        <span asp-validation-for="PostFooterHtmlPitch" class="text-danger"></span>
                        <small class="form-text text-muted">@Localizer["e.g. Your blog post license information."]</small>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">@Localizer["Call-out"]</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="ShowCalloutSection" class="custom-control-input">
                            <label asp-for="ShowCalloutSection" class="custom-control-label"></label>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="CalloutSectionHtmlPitch" class="control-label"></label>
                        <textarea asp-for="CalloutSectionHtmlPitch" class="form-control" style="font-size: 12px; font-family: 'Consolas'" spellcheck="false"></textarea>
                        <span asp-validation-for="CalloutSectionHtmlPitch" class="text-danger"></span>
                        <small class="form-text text-muted">@Localizer["The call-out section will display on top of every page in the website."]</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="form-group">
        <input id="btn-save-settings" type="submit" value="@Localizer["Save"]" class="btn btn-success" />
    </div>
</form>