@{
    Layout = "_LayoutAdmin";
}

<partial name="_SettingsHeader" />

<div class="alert alert-info mb-3">
    @Localizer["You can export data in this blog to Json or Zip archive from here. You may then use the data on another Moonglade blog or other systems."]
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                @Localizer["Export Data"]
            </div>
            <div class="card-body">
                <strong>@Localizer["Main Data"]</strong>
                <hr />

                <div class="mb-3">
                    <a asp-action="ExportDownload" asp-controller="Settings" asp-route-type="Posts" class="btn btn-outline-success" target="_blank">@Localizer["Posts"]</a>

                    <a asp-action="ExportDownload" asp-controller="Settings" asp-route-type="Pages" class="btn btn-outline-success" target="_blank">@Localizer["Pages"]</a>

                    <a asp-action="ExportDownload" asp-controller="Settings" asp-route-type="Tags" class="btn btn-outline-success" target="_blank">@Localizer["Tags"]</a>

                    <a asp-action="ExportDownload" asp-controller="Settings" asp-route-type="Categories" class="btn btn-outline-success" target="_blank">@Localizer["Categories"]</a>
                </div>

                <strong>@Localizer["Secondary Data"]</strong>
                <hr />

                <div>
                    <a asp-action="ExportDownload" asp-controller="Settings" asp-route-type="FriendLinks" class="btn btn-outline-success" target="_blank">@Localizer["Friend Links"]</a>

                    <a asp-action="ExportDownload" asp-controller="Settings" asp-route-type="Pingbacks" class="btn btn-outline-success" target="_blank">@Localizer["Pingback"]</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">@Localizer["Import Data"]</div>
            <div class="card-body">
                @Localizer["Coming soon..."]
            </div>
        </div>
    </div>
</div>

<p class="text-muted mt-4">@Localizer["* Note: This isn't cloning database, not everything would be exported. Although content would be same, object IDs would be different across systems."]</p>