<aside class="col-lg-3 d-none d-lg-block">
    <section class="blog-info-desktop-lg d-none d-lg-block mb-4">
        <div class="card-bkimg-container">
            <img class="card-bkimg" alt="" src="@Url.Action("Avatar", "Assets")" />
        </div>
        <div class="blog-info-photo-text text-center">
            <a asp-controller="CustomPage" asp-action="Index" asp-route-routeName="about">
                <img src="@Url.Action("Avatar", "Assets")"
                     alt="@BlogConfig.GeneralSettings.OwnerName"
                     class="rounded-circle blogger-head-pic" />
            </a>
            <div>
                <h3 class="mt-3">
                    @BlogConfig.GeneralSettings.OwnerName
                </h3>
                <p class="mr-3 ml-3">
                    @BlogConfig.GeneralSettings.Description
                </p>
            </div>
        </div>
        <div>
            <a asp-controller="CustomPage" asp-action="Index" asp-route-routeName="about" class="btn btn-success btn-block btn-profile-about">
                About
            </a>
        </div>
    </section>

    @if (!string.IsNullOrWhiteSpace(BlogConfig.GeneralSettings.SideBarCustomizedHtmlPitch))
    {
        @Html.Raw(BlogConfig.GeneralSettings.SideBarCustomizedHtmlPitch)
    }

    <section class="top-tags mb-4">
        <div class="card">
            <div class="card-header">Top Tags</div>
            <div class="card-body">
                <cache expires-after="@TimeSpan.FromMinutes(60)">
                    @await Component.InvokeAsync("HotTags")
                </cache>
                <hr />
                <a asp-controller="Tags" asp-action="Index" class="card-link">All Tags</a>
            </div>
        </div>
    </section>

    <section class="cat-list mb-4">
        <div class="card">
            <div class="card-header">All Categories</div>
            <cache expires-after="@TimeSpan.FromMinutes(60)">
                @await Component.InvokeAsync("CategoryList")
            </cache>
        </div>
    </section>

    @if (Settings.Value.ShowAdminLoginButton)
    {
        <div class="text-center">
            <a asp-action="Index" asp-controller="Admin" class="btn btn-sm btn-light">Admin Login</a>
        </div>
    }
</aside>
