<aside class="col-lg-3 d-none d-lg-block">
    <section class="blog-info-desktop-lg d-none d-lg-block">
        <div class="card-bkimg-container">
            <img class="card-bkimg" alt="" src="@Url.Action("Avatar", "Assets")" />
        </div>
        <div class="blog-info-photo-text text-center">
            <img src="@Url.Action("Avatar", "Assets")"
                 alt="@BlogConfig.GeneralSettings.OwnerName"
                 class="rounded-circle blogger-head-pic" />
            <div>
                <h3 class="mt-3">
                    @BlogConfig.GeneralSettings.OwnerName
                </h3>
                <p class="mr-3 ml-3">
                    @BlogConfig.GeneralSettings.Description
                </p>
            </div>
        </div>
    </section>

    @if (!string.IsNullOrWhiteSpace(BlogConfig.GeneralSettings.SideBarCustomizedHtmlPitch))
    {
        @Html.Raw(BlogConfig.GeneralSettings.SideBarCustomizedHtmlPitch)
    }

    <section class="top-tags mb-4">
        <div class="card">
            <div class="card-header">@Localizer["Top Tags"]</div>
            <div class="card-body">
                <cache expires-after="@TimeSpan.FromMinutes(60)">
                    @await Component.InvokeAsync("HotTags")
                </cache>
                <hr />
                <a asp-controller="Tags" asp-action="Index" class="card-link">@Localizer["All Tags"]</a>
            </div>
        </div>
    </section>

    <section class="cat-list mb-4">
        <div class="card">
            <div class="card-header">@Localizer["All Categories"]</div>
            <cache expires-after="@TimeSpan.FromMinutes(60)">
                @await Component.InvokeAsync("CategoryList")
            </cache>
        </div>
    </section>
    
    <section class="lang-selection mb-4">
        <div class="card">
            @await Html.PartialAsync("_SelectLanguagePartial")
        </div>
    </section>

    @if (BlogConfig.SecuritySettings.ShowAdminLoginButton)
    {
        <div class="text-center">
            <a asp-action="Index" asp-controller="Admin" class="btn btn-sm btn-light">@Localizer["Admin Login"]</a>
        </div>
    }
</aside>
