@{
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<h3>
    @Localizer["Diagnosis"]
</h3>
<hr />

<ul class="nav nav-tabs">
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction != "AuditLogs" ? "active" : null)" href="/admin/about">@Localizer["About"]</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "AuditLogs" ? "active" : null)" href="/admin/auditlogs">@Localizer["Audit Logs"]</a>
    </li>
</ul>
<div class="mb-3"></div>