@using Microsoft.AspNetCore.Builder
@using Moonglade.Utils

@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new { Value = c.Name, c.NativeName });
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<footer id="blog-footer" class="bg-accent2 pt-4 pb-4">
    <div class="container">
        <div class="row">
            <section id="footer-copyright" class="col">
                <div>
                    @Html.Raw(Helper.FormatCopyright2Html(BlogConfig.GeneralSettings.Copyright))
                </div>
                <small>
                    Powered by <a href="https://moonglade.blog" target="_blank">Moonglade</a> @Helper.AppVersion
                </small>
            </section>

            @Html.Raw(BlogConfig.GeneralSettings.FooterCustomizedHtmlPitch)

            <section id="footer-language" class="col d-none d-sm-block text-right">
                <ul class="list-unstyled">
                    @foreach (var item in cultureItems)
                    {
                        <li>
                            <a asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" asp-route-culture="@item.Value">@item.NativeName</a>
                        </li>
                    }
                </ul>
            </section>
        </div>
    </div>
</footer>