@using Moonglade.Core
@using Microsoft.AspNetCore.Builder

@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new { Value = c.Name, c.NativeName });
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<footer id="blog-footer" class="bg-accent2 pt-4 pb-4">
    <div class="container">
        <div class="row">
            <section id="footer-copyright" class="col-md-3 col-sm-3">
                <div class="mb-3">
                    @Html.Raw(Utils.FormatCopyright2Html(BlogConfig.GeneralSettings.Copyright))
                </div>
                <small>
                    <a href="https://moonglade.blog" target="_blank">Moonglade</a> @Utils.AppVersion
                    <br />
                    <span class="d-none d-sm-block">Developed by <a href="https://edi.wang" target="_blank">Edi Wang</a></span>
                </small>
            </section>

            <section id="footer-customize" class="col-md-3 col-sm-3 d-none d-sm-block">
                @Html.Raw(BlogConfig.GeneralSettings.FooterCustomizedHtmlPitch)
            </section>

            @if (BlogConfig.FriendLinksSettings.ShowFriendLinksSection)
            {
                <section id="footer-friendlink" class="col-md-3 col-sm-3 d-none d-sm-block">
                    <cache expires-after="@TimeSpan.FromMinutes(60)">
                        @await Component.InvokeAsync("FriendLink")
                    </cache>
                </section>
            }

            <section id="footer-language" class="col-md-3 col-sm-3 d-none d-sm-block">
                <ul class="list-unstyled">
                    @foreach (var item in cultureItems)
                    {
                        <li>
                            <a asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" asp-route-culture="@item.Value">@item.NativeName</a>
                        </li>
                    }
                </ul>
            </section>
        </div>
    </div>
</footer>