@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvironment
@inject IOptions<AuthenticationSettings> AuthOptions

@using Moonglade.Web.Authentication
@{
    var currentController = ViewContext.RouteData?.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData?.Values["action"]?.ToString();
}
<!DOCTYPE html>
<html>
<head>
    <title>
        @BlogConfig.GeneralSettings.SiteTitle @Localizer["Admin"]
        <environment exclude="Production">
            (@WebHostEnvironment.EnvironmentName)
        </environment>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="keywords" content="@Html.Raw(BlogConfig.GeneralSettings.MetaKeyword)" />
    <link rel="start" title="@BlogConfig.GeneralSettings.SiteTitle" href="~/" />
    <link rel="alternate" type="application/rss+xml" title="@BlogConfig.FeedSettings.RssTitle" href="~/rss" />
    <link type="application/opensearchdescription+xml" rel="search" title="@BlogConfig.GeneralSettings.SiteTitle" href="~/opensearch" />
    <partial name="_Favicons" />
    <link href="~/css/mooglade-css-bundle.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/mooglade-admin-bundle.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/theme/@BlogConfig.GeneralSettings.ThemeFileName" rel="stylesheet" asp-append-version="true" />
    <script src="~/js/dist/app-js-bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/dist/admin-js-bundle.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("head", false)
</head>
<body class="admin-body">
    <nav class="admin-navbar navbar fixed-top navbar-expand-lg navbar-dark bg-accent2">
        <a class="navbar-brand" asp-action="Index" asp-controller="Admin">@BlogConfig.GeneralSettings.SiteTitle</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index" target="_blank">
                        <span class="icon-home"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Settings" asp-action="General">
                        <span class="icon-cog"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="About">
                        <span class="icon-list"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="SignOut" title="Sign Out">
                        <span class="icon-enter"></span>
                    </a>
                </li>
            </ul>

            <span class="navbar-text">
                <img src="@Url.Action("Avatar", "Assets")"
                     alt="@BlogConfig.GeneralSettings.OwnerName"
                     class="rounded-circle admin-nav-head-pic mr-1" />
                @User.Identity.Name
            </span>
        </div>
    </nav>
    <div class="d-flex admin-body-wrapper">
        <aside class="admin-nav">
            <section class="admin-nav-section mt-3 mb-3">
                <div class="list-group list-group-flush">
                    <a asp-controller="Post" asp-action="Manage" class="list-group-item list-group-item-action @(currentController == "Post" ? "active" : null)">
                        <span class="icon-file-text2"></span>
                        @Localizer["Posts"]
                    </a>
                    <a asp-controller="Category" asp-action="Manage" class="list-group-item list-group-item-action @(currentController == "Category" ? "active" : null)">
                        <span class="icon-folder"></span>
                        @Localizer["Categories"]
                    </a>
                    <a asp-controller="Comment" asp-action="Manage" class="list-group-item list-group-item-action @(currentController == "Comment" ? "active" : null)">
                        <span class="icon-bubbles3"></span>
                        @Localizer["Comments"]
                    </a>
                    <a asp-controller="Tags" asp-action="Manage" class="list-group-item list-group-item-action @(currentController == "Tags" ? "active" : null)">
                        <span class="icon-price-tag"></span>
                        @Localizer["Tags"]
                    </a>
                    <a asp-controller="Page" asp-action="Manage" class="list-group-item list-group-item-action @(currentController == "Page" ? "active" : null)">
                        <span class="icon-file-empty"></span>
                        @Localizer["Pages"]
                    </a>
                    <a asp-controller="Pingback" asp-action="Manage" class="list-group-item list-group-item-action @(currentController == "Pingback" ? "active" : null)">
                        <span class="icon-earth"></span>
                        @Localizer["Pingbacks"]
                    </a>
                    <a asp-controller="Menu" asp-action="Manage" class="list-group-item list-group-item-action @(currentController == "Menu" ? "active" : null)">
                        <span class="icon-list"></span>
                        @Localizer["Menus"]
                    </a>
                    @if (AuthOptions.Value.Provider == AuthenticationProvider.Local)
                    {
                        <a asp-controller="Settings" asp-action="AccountSettings" class="list-group-item list-group-item-action @(currentController == "Settings" && currentAction == "AccountSettings" ? "active" : null)">
                            <span class="icon-user"></span>
                            @Localizer["Account"]
                        </a>
                    }
                </div>
            </section>
        </aside>
        <div class="admin-main pt-4 pr-3 pl-3">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    @await RenderSectionAsync("scripts", false)
</body>
</html>