@page "/admin/settings/advanced"
@model Moonglade.Web.Pages.Settings.AdvancedModel
@Html.AntiForgeryToken()
@section scripts{
    <script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? '0' + minutes : minutes;
                seconds = seconds < 10 ? '0' + seconds : seconds;

                display.text(minutes + ':' + seconds);

                if (--timer < 0) {
                    timer = duration;
                }
            }, 1000);
        }

        $('.btn-restart').click(function () {
            callApi(`/api/settings/shutdown`, 'POST', {}, () => { });
            $('.btn-restart').text('Wait...');
            $('.btn-restart').addClass('disabled');
            $('.btn-restart').attr('disabled', 'disabled');
            startTimer(30, $('.btn-restart'));
            setTimeout(function () {
                location.href = '/admin/settings';
            }, 30000);
        });

        $('.btn-reset').click(function () {
            callApi(`/api/settings/reset`, 'POST', {}, () => { });
            $('.btn-reset').text('Wait...');
            $('.btn-reset').addClass('disabled');
            $('.btn-reset').attr('disabled', 'disabled');
            startTimer(30, $('.btn-reset'));
            setTimeout(function () {
                location.href = '/';
            }, 30000);
        });

        $('.btn-check-update').click(function () {
            $('.spinner-border').show();
            $('.alert-has-new-release').hide();
            $('.alert-no-new-release').hide();
            $('.btn-get-update').addClass('disabled');
            $('.btn-get-update').attr('href', '#');

            var updateCheckCanvas = new bootstrap.Offcanvas(document.getElementById('updateCheckCanvas'));
            updateCheckCanvas.show();

            callApi('/api/settings/release/check', 'GET', {}, async (resp) => {
                var data = await resp.json();
                $('.spinner-border').hide();

                $('#currentAssemblyFileVersion').val(data.latestReleaseInfo.currentAssemblyFileVersion);
                $('#releaseName').val(data.latestReleaseInfo.name);
                $('#releaseTagName').val(data.latestReleaseInfo.tag_name);
                $('#releaseCreatedAt').val(data.latestReleaseInfo.created_at);

                if (data.hasNewRelease) {
                    $('.alert-has-new-release').show();
                    $('.btn-get-update').removeClass('disabled');
                    $('.btn-get-update').attr('href', data.latestReleaseInfo.html_url);
                }
                else {
                    $('.alert-no-new-release').show();
                }
            });
        });

        function generateMetaWeblogPassword() {
            callApi('/api/settings/password/generate', 'GET', {}, async (resp) => {
                var data = await resp.json();
                $('#ViewModel_MetaWeblogPassword').val(data.password);
            });
        }

        const form = document.querySelector('#form-settings');
        form.addEventListener('submit', handleSettingsSubmit);
    </script>
}

<partial name="_SettingsHeader" />
<div class="ps-4 pe-4">
    <form id="form-settings" asp-controller="Settings" asp-action="Advanced">
        <div class="row g-5">
            <div class="col-md-6">
                <div class="mb-4">
                    <h6 class="card-subtitle mb-4 text-muted">@Localizer["Advanced Settings"]</h6>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-arrow-right-circle settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            <label asp-for="ViewModel.EnablePingbackSend" class="form-check-label"></label>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="form-check form-switch">
                                <input type="checkbox" name="EnablePingbackSend" value="true" class="form-check-input" @(Model.ViewModel.EnablePingbackSend ? "checked" : null)>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-arrow-left-circle settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            <label asp-for="ViewModel.EnablePingbackReceive" class="form-check-label"></label>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="form-check form-switch">
                                <input type="checkbox" name="EnablePingbackReceive" value="true" class="form-check-input" @(Model.ViewModel.EnablePingbackReceive ? "checked" : null)>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-blockquote-left settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            <label asp-for="ViewModel.EnableOpenGraph" class="form-check-label"></label>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="form-check form-switch">
                                <input type="checkbox" name="EnableOpenGraph" value="true" class="form-check-input" @(Model.ViewModel.EnableOpenGraph ? "checked" : null)>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-search settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            <label asp-for="ViewModel.EnableOpenSearch" class="form-check-label"></label>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="form-check form-switch">
                                <input type="checkbox" name="EnableOpenSearch" value="true" class="form-check-input" @(Model.ViewModel.EnableOpenSearch ? "checked" : null)>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-exclamation-triangle settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            <label asp-for="ViewModel.WarnExternalLink" class="form-check-label"></label>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="form-check form-switch">
                                <input type="checkbox" name="WarnExternalLink" value="true" class="form-check-input" @(Model.ViewModel.WarnExternalLink ? "checked" : null)>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-code settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            <label asp-for="ViewModel.AllowScriptsInPage" class="form-check-label"></label>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="form-check form-switch">
                                <input type="checkbox" name="AllowScriptsInPage" value="true" class="form-check-input" @(Model.ViewModel.AllowScriptsInPage ? "checked" : null)>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-hand-index settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            <label asp-for="ViewModel.ShowAdminLoginButton" class="form-check-label"></label>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="form-check form-switch">
                                <input type="checkbox" name="ShowAdminLoginButton" value="true" class="form-check-input" @(Model.ViewModel.ShowAdminLoginButton ? "checked" : null)>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5 mb-2">
                        <h6 class="card-subtitle mb-3 text-muted">@Html.DisplayNameFor(m => m.ViewModel.RobotsTxtContent)</h6>
                        <textarea asp-for="ViewModel.RobotsTxtContent" class="form-control textarea-code" cols="60" rows="10" spellcheck="false"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-5">
                    <h6 class="card-subtitle mb-4 text-muted">
                        MetaWeblog
                    </h6>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-puzzle settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            <label asp-for="ViewModel.EnableMetaWeblog" class="form-check-label"></label>
                            <div class="form-text">
                                @Localizer["* Requires restarting application"]
                            </div>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="form-check form-switch">
                                <input type="checkbox" name="EnableMetaWeblog" value="true" class="form-check-input" @(Model.ViewModel.EnableMetaWeblog ? "checked" : null)>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-key settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            @Localizer["Password"]
                            <div class="form-text">
                                @Localizer["Leave blank if you don't need to change password."]
                                @Localizer["* Username: moonglade"]
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input asp-for="ViewModel.MetaWeblogPassword" class="form-control" minlength="8" maxlength="16" />

                            <a href="javascript:;" class="btn btn-sm btn-outline-accent mt-2" onclick="generateMetaWeblogPassword()">@Localizer["Generate password"]</a>
                        </div>
                    </div>
                </div>
                <div>
                    <h6 class="card-subtitle mb-4 text-muted">
                        @Localizer["Options"]
                    </h6>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-moon-stars settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            @Localizer["Update"]
                            <div class="form-text">
                                @Localizer["Check online for new Moonglade release."]
                            </div>
                        </div>
                        <div class="col-md-5 text-end">
                            <a href="#" class="btn btn-sm btn-outline-accent btn-check-update">
                                @Localizer["Check now"]
                            </a>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-power settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            @Localizer["Restart Website"]
                            <div class="form-text">
                                @Localizer["Try to shutdown and restart the website, this will terminate all current requests."]
                            </div>
                        </div>
                        <div class="col-md-5 text-end">
                            <a href="javascript:;" class="btn btn-sm btn-outline-accent" data-bs-toggle="modal" data-bs-target="#restartModal">
                                @Localizer["Restart"]
                            </a>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-eraser settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            @Localizer["System Reset"]
                            <div class="form-text">
                                @Localizer["Erase all data and configuration."]
                            </div>
                        </div>
                        <div class="col-md-5 text-end">
                            <a href="javascript:;" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#resetModal">
                                @Localizer["Reset"]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <input id="btn-save-settings" type="submit" value="@Localizer["Save"]" class="btn btn-outline-accent" />
        </div>
    </form>
</div>
<div class="modal fade" id="restartModal" tabindex="-1" role="dialog" aria-labelledby="restartModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="restartModalLabel">@Localizer["Restart Website"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                @Localizer["Are you sure to restart website? All current requests will be terminated."]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger btn-restart">@Localizer["Restart"]</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetModalLabel">@Localizer["System Reset"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                @Localizer["Are you ABSOLUTELY sure? ALL data and configuration will be erased!"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger btn-reset">@Localizer["Reset"]</button>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="updateCheckCanvas" aria-labelledby="updateCheckCanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="updateCheckCanvasLabel">@Localizer["Moonglade Update"]</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="spinner-border" role="status" style="display: none;">
            <span class="visually-hidden">Loading...</span>
        </div>

        <div class="alert alert-info alert-no-new-release">
            <i class="bi-info-circle"></i>
            You are running the latest version already.
        </div>

        <div class="alert alert-success alert-has-new-release">
            <i class="bi-lightbulb"></i>
            There is a new version of Moonglade available!
        </div>

        <div class="release-info">
            <h6>
                <i class="bi-box-seam"></i>
                Latest Release
            </h6>
            <hr />
            <div class="mb-1 row">
                <label for="releaseName" class="col-4 col-form-label">
                    <strong>@Localizer["Name"]</strong>
                </label>
                <div class="col-8">
                    <input type="text" readonly class="form-control-plaintext" id="releaseName" value="...">
                </div>
            </div>
            <div class="mb-1 row">
                <label for="releaseTagName" class="col-4 col-form-label">
                    <strong>@Localizer["Tag name"]</strong>
                </label>
                <div class="col-8">
                    <input type="text" readonly class="form-control-plaintext" id="releaseTagName" value="...">
                </div>
            </div>
            <div class="mb-1 row">
                <label for="releaseCreatedAt" class="col-4 col-form-label">
                    <strong>@Localizer["Release time"]</strong>
                </label>
                <div class="col-8">
                    <input type="text" readonly class="form-control-plaintext" id="releaseCreatedAt" value="...">
                </div>
            </div>
        </div>
        <hr />
        <div class="mt-3">
            <a href="#" target="_blank" class="btn btn-outline-accent disabled btn-get-update">
                <i class="bi-download"></i>
                @Localizer["Get update"]
            </a>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">@Localizer["Cancel"]</button>
        </div>
    </div>
</div>
