@page "/admin/settings/content"
@model Moonglade.Web.Pages.Settings.ContentModel
@{
    Layout = "_LayoutAdmin";
}
@using Moonglade.Configuration

<partial name="_SettingsHeader" />

<form id="form-settings" asp-controller="Settings" asp-action="Content"
      data-ajax-begin="onUpdateSettingsBegin"
      data-ajax-complete="onUpdateSettingsComplete"
      data-ajax-failure="onUpdateSettingsFailed"
      data-ajax-success="onUpdateSettingsSuccess"
      data-ajax="true"
      data-ajax-method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">@Localizer["Comments"]</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="ViewModel.EnableComments" class="custom-control-input">
                            <label asp-for="ViewModel.EnableComments" class="custom-control-label"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="ViewModel.RequireCommentReview" class="custom-control-input">
                            <label asp-for="ViewModel.RequireCommentReview" class="custom-control-label"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="ViewModel.EnableGravatar" class="custom-control-input">
                            <label asp-for="ViewModel.EnableGravatar" class="custom-control-label"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="ViewModel.EnableWordFilter" class="custom-control-input">
                            <label asp-for="ViewModel.EnableWordFilter" class="custom-control-label"></label>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="ViewModel.DisharmonyWords"></label>
                        <textarea asp-for="ViewModel.DisharmonyWords" class="form-control h-200px" spellcheck="false"></textarea>
                        <span asp-validation-for="ViewModel.DisharmonyWords" class="text-danger"></span>
                        <small class="form-text text-muted">@Localizer["Blocked words will be masked as *** in comment content."]</small>
                    </div>
                    <hr />
                    <div>
                        <label asp-for="ViewModel.WordFilterMode" class="mr-4"></label>

                        <div class="custom-control custom-radio custom-control-inline">
                            @Html.RadioButtonFor(model => model.ViewModel.WordFilterMode, WordFilterMode.Mask.ToString(), new { id = WordFilterMode.Mask.ToString(), @class = "custom-control-input" })
                            <label class="custom-control-label" for="@WordFilterMode.Mask.ToString()">@Localizer["Mask Word"]</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            @Html.RadioButtonFor(model => model.ViewModel.WordFilterMode, WordFilterMode.Block.ToString(), new { id = WordFilterMode.Block.ToString(), @class = "custom-control-input" })
                            <label class="custom-control-label" for="@WordFilterMode.Block.ToString()">@Localizer["Block Comment"]</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">@Localizer["Blog posts"]</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="ViewModel.UseFriendlyNotFoundImage" class="custom-control-input">
                            <label asp-for="ViewModel.UseFriendlyNotFoundImage" class="custom-control-label"></label>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="ViewModel.PostListPageSize"></label>
                                <input asp-for="ViewModel.PostListPageSize" class="form-control" />
                                <span asp-validation-for="ViewModel.PostListPageSize" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="ViewModel.HotTagAmount"></label>
                                <input asp-for="ViewModel.HotTagAmount" class="form-control" />
                                <span asp-validation-for="ViewModel.HotTagAmount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label asp-for="ViewModel.DefaultLangCode"></label>
                        <input asp-for="ViewModel.DefaultLangCode" class="form-control" />
                        <span asp-validation-for="ViewModel.DefaultLangCode" class="text-danger"></span>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="ViewModel.ShowPostFooter" class="custom-control-input">
                            <label asp-for="ViewModel.ShowPostFooter" class="custom-control-label"></label>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <div>
                        <label asp-for="ViewModel.PostFooterHtmlPitch"></label>
                        <textarea asp-for="ViewModel.PostFooterHtmlPitch" 
                                  class="form-control h-100px" 
                                  style="font-size: 12px; font-family: 'Consolas'" 
                                  spellcheck="false"></textarea>
                        <span asp-validation-for="ViewModel.PostFooterHtmlPitch" class="text-danger"></span>
                        <small class="form-text text-muted">@Localizer["e.g. Your blog post license information."]</small>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">@Localizer["Call-out"]</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="ViewModel.ShowCalloutSection" class="custom-control-input">
                            <label asp-for="ViewModel.ShowCalloutSection" class="custom-control-label"></label>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <div>
                        <label asp-for="ViewModel.CalloutSectionHtmlPitch"></label>
                        <textarea asp-for="ViewModel.CalloutSectionHtmlPitch" class="form-control h-100px" style="font-size: 12px; font-family: 'Consolas'" spellcheck="false"></textarea>
                        <span asp-validation-for="ViewModel.CalloutSectionHtmlPitch" class="text-danger"></span>
                        <small class="form-text text-muted">@Localizer["The call-out section will display on top of every page in the website."]</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="form-group">
        <input id="btn-save-settings" type="submit" value="@Localizer["Save"]" class="btn btn-success" />
    </div>
</form>