@page "/admin/settings/data-porting"

<partial name="_SettingsHeader" />
<div class="ps-4 pe-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    @Localizer["Export Data"]
                </div>
                <div class="card-body">
                    <strong>@Localizer["Main Data"]</strong>
                    <hr />

                    <div class="mb-3">
                        <a asp-action="ExportDownload" asp-controller="DataPorting" asp-route-type="Posts" class="btn btn-outline-accent" target="_blank">@Localizer["Posts"]</a>

                        <a asp-action="ExportDownload" asp-controller="DataPorting" asp-route-type="Pages" class="btn btn-outline-accent" target="_blank">@Localizer["Pages"]</a>

                        <a asp-action="ExportDownload" asp-controller="DataPorting" asp-route-type="Tags" class="btn btn-outline-accent" target="_blank">@Localizer["Tags"]</a>

                        <a asp-action="ExportDownload" asp-controller="DataPorting" asp-route-type="Categories" class="btn btn-outline-accent" target="_blank">@Localizer["Categories"]</a>
                    </div>

                    <strong>@Localizer["Secondary Data"]</strong>
                    <hr />

                    <div>
                        <a asp-action="ExportDownload" asp-controller="DataPorting" asp-route-type="FriendLinks" class="btn btn-outline-accent" target="_blank">@Localizer["Friend Links"]</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">@Localizer["Import Data"]</div>
                <div class="card-body">
                    @Localizer["Coming soon..."]
                </div>
            </div>
        </div>
    </div>

    <p class="text-muted mt-4">@Localizer["* Note: This isn't cloning database, not everything would be exported. Although content would be same, object IDs would be different across systems."]</p>
</div>