@page "/admin/settings/general"
@using Microsoft.Extensions.Configuration
@model Moonglade.Web.Pages.Settings.GeneralModel
@inject ITimeZoneResolver _zoneResolver
@inject IConfiguration _configuration
@{
    var tzList = _zoneResolver.ListTimeZones().Select(t => new SelectListItem
    {
        Text = t.DisplayName,
        Value = t.Id
    });

    var tmList = Model.Themes
        .Select(t => new SelectListItem
        {
            Text = t.Name,
            Value = t.Id.ToString()
        });
}

@section scripts{
    <script src="~/js/3rd/bs-custom-file-input.min.js"></script>
    <script>
        var avatarUploader = new ImageUploader('avatar', 300, 'image/jpeg');
        avatarUploader.bindEvents();

        var siteiconUploader = new ImageUploader('siteicon', 512, 'image/png');
        siteiconUploader.bindEvents();

        $(document).ready(function () {
            bsCustomFileInput.init();
            $("#btn-upload-avatar").click(function () {
                avatarUploader.uploadImage('/avatar');
            });
            $("#btn-upload-siteicon").click(function () {
                siteiconUploader.uploadImage('/siteicon');
            });
        });

        var themeModal = new bootstrap.Modal(document.getElementById('thememodal'));

        function createTheme(oFormElement) {
            callApi(oFormElement.action,
                'POST',
                {
                    Name: $('#ThemeRequest_Name').val(),
                    AccentColor1: $('#ThemeRequest_AccentColor1').val(),
                    AccentColor2: $('#ThemeRequest_AccentColor2').val(),
                    AccentColor3: $('#ThemeRequest_AccentColor3').val()
                },
                async (resp) => {
                    var id = await resp.json();
                    console.info(id);

                    themeModal.hide();
                    $("#ViewModel_SelectedThemeId").append(new Option($('#ThemeRequest_Name').val(), id));
                    blogToast.success('Theme created');
                });
        }

        $('.btn-delete-theme').click(function () {
            var selectedThemeId = $('#ViewModel_SelectedThemeId').val();
            callApi(`/api/theme/${selectedThemeId}`,
                'DELETE',
                {},
                (resp) => {
                    $(`#ViewModel_SelectedThemeId option[value='${selectedThemeId}']`).remove();
                    blogToast.success('Theme deleted.');
                });
        });
    </script>
}

<partial name="_SettingsHeader" />

<div class="ps-4 pe-4">

    <form id="form-settings" asp-controller="Settings" asp-action="General"
          spellcheck="false"
          data-ajax-begin="onUpdateSettingsBegin"
          data-ajax-complete="onUpdateSettingsComplete"
          data-ajax-failure="onUpdateSettingsFailed"
          data-ajax-success="onUpdateSettingsSuccess"
          data-ajax="true"
          data-ajax-method="POST">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="row g-5">
            <div class="col-md-6">
                <div class="mb-3">
                    <h6 class="card-subtitle mb-3 text-muted">@Localizer["Blog Identity"]</h6>
                    <div class="row">
                        <div class="col-2">
                            <div class="mb-2">
                                <img src="@Url.Action("SiteIconOrigin", "Assets")" class="img-thumbnail img-fluid blogadmin-siteicon" />
                            </div>
                            <a class="btn w-100 btn-sm btn-outline-accent" href="#" data-bs-toggle="modal" data-bs-target="#siteiconmodal">@Localizer["Change"]</a>
                        </div>
                        <div class="col-10">
                            <div class="row g-2 mb-3">
                                <div class="col">
                                    <label class="form-label" asp-for="ViewModel.SiteTitle"></label>
                                    <input asp-for="ViewModel.SiteTitle" class="form-control" />
                                    <span asp-validation-for="ViewModel.SiteTitle" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label class="form-label" asp-for="ViewModel.LogoText"></label>
                                    <input asp-for="ViewModel.LogoText" class="form-control" />
                                    <span asp-validation-for="ViewModel.LogoText" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-1">
                                <label class="form-label" asp-for="ViewModel.MetaKeyword"></label>
                                <input asp-for="ViewModel.MetaKeyword" class="form-control" />
                                <span asp-validation-for="ViewModel.MetaKeyword" class="text-danger"></span>
                            </div>

                            <div class="row g-3 align-items-center settings-entry mt-1 mb-4">
                                <div class="col-auto">
                                    <i class="bi-link settings-entry-icon"></i>
                                </div>
                                <div class="col">
                                    <label asp-for="ViewModel.CanonicalPrefix"></label>
                                    <div class="form-text">@Localizer["Set a primary domain if your website binds to multiple domian names."]</div>
                                </div>
                                <div class="col-md-5 text-end">
                                    <input asp-for="ViewModel.CanonicalPrefix" class="form-control" />
                                    <span asp-validation-for="ViewModel.CanonicalPrefix" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="row g-3 align-items-center settings-entry mb-4">
                                <div class="col-auto">
                                    <i class="bi-clock settings-entry-icon"></i>
                                </div>
                                <div class="col">
                                    <label for="SelectedUtcOffset">@Localizer["Time Zone"]</label>
                                    <div class="form-text">@Localizer["Blog posts will use this time zone as date and time display."]</div>
                                </div>
                                <div class="col-md-5 text-end">
                                    <select class="form-select" asp-for="ViewModel.TimeZoneId" asp-items="@tzList"></select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <div class="mb-3">
                                <img src="@BlogConfig.GeneralSettings.AvatarUrl" class="img-thumbnail img-fluid blogadmin-avatar" />
                            </div>
                            <a class="btn w-100 btn-sm btn-outline-accent" href="#" data-bs-toggle="modal" data-bs-target="#avatarmodal">@Localizer["Change"]</a>
                        </div>
                        <div class="col-md-10 col-sm-8">
                            <div class="row g-2 mb-3">
                                <div class="col">
                                    <label class="form-label" asp-for="ViewModel.OwnerName"></label>
                                    <input asp-for="ViewModel.OwnerName" class="form-control" />
                                    <span asp-validation-for="ViewModel.OwnerName" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label class="form-label" asp-for="ViewModel.OwnerEmail"></label>
                                    <input asp-for="ViewModel.OwnerEmail" class="form-control" title="@Localizer["Email address to receive notifications from this blog."]" />
                                    <span asp-validation-for="ViewModel.OwnerEmail" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-floating">
                                    <textarea asp-for="ViewModel.Description"
                                              placeholder="@Html.DisplayNameFor(m => m.ViewModel.Description)"
                                              class="form-control h-100px"
                                              spellcheck="false" cols="10" rows="10"></textarea>
                                    <label class="form-label" asp-for="ViewModel.Description"></label>
                                </div>
                                <span asp-validation-for="ViewModel.Description" class="text-danger"></span>
                            </div>
                            <div>
                                <label class="form-label" asp-for="ViewModel.ShortDescription"></label>
                                <input asp-for="ViewModel.ShortDescription" class="form-control" />
                                <span asp-validation-for="ViewModel.ShortDescription" class="text-danger"></span>
                                <small class="form-text text-muted">@Localizer["Short description is for display only on Phone screen."]</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <h6 class="card-subtitle mb-2 text-muted">
                        @Localizer["Theme"]
                    </h6>
                    <div>
                        <div class="row g-1 mb-3">
                            <div class="col">
                                <select class="form-select" asp-for="ViewModel.ThemeId" asp-items="@tmList"></select>
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-outline-accent" href="#" data-bs-toggle="modal" data-bs-target="#thememodal">
                                    <i class="bi-palette"></i>
                                    New
                                </a>
                                <a class="btn btn-outline-danger btn-delete-theme" href="#">
                                    <i class="bi-trash"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-check">
                            <input asp-for="ViewModel.AutoDarkLightTheme" class="form-check-input" type="checkbox">
                            <label asp-for="ViewModel.AutoDarkLightTheme" class="form-check-label"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="ViewModel.Pride" class="form-check-input" type="checkbox">
                            <label asp-for="ViewModel.Pride" class="form-check-label"></label>
                        </div>
                    </div>
                    <h6 class="card-subtitle mt-5 mb-2 text-muted">
                        @Localizer["Side Bar"]
                    </h6>
                    <div class="mb-1">
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(model => model.ViewModel.SideBarOption, SideBarOption.Right, new { id = SideBarOption.Right.ToString(), @class = "form-check-input" })
                            <label class="form-check-label" for="@SideBarOption.Right">@Localizer["Right"]</label>
                        </div>
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(model => model.ViewModel.SideBarOption, SideBarOption.Left, new { id = SideBarOption.Left.ToString(), @class = "form-check-input" })
                            <label class="form-check-label" for="@SideBarOption.Left">@Localizer["Left"]</label>
                        </div>
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(model => model.ViewModel.SideBarOption, SideBarOption.Disabled, new { id = SideBarOption.Disabled.ToString(), @class = "form-check-input" })
                            <label class="form-check-label" for="@SideBarOption.Disabled">@Localizer["Disabled"]</label>
                        </div>
                    </div>
                    <div class="form-floating">
                        <textarea asp-for="ViewModel.SideBarCustomizedHtmlPitch"
                                  placeholder="@Html.DisplayNameFor(m => m.ViewModel.SideBarCustomizedHtmlPitch)"
                                  class="form-control form-control-sm h-100px textarea-code"
                                  spellcheck="false"
                                  cols="10"
                                  rows="10"></textarea>
                        <label class="form-label" asp-for="ViewModel.SideBarCustomizedHtmlPitch"></label>
                    </div>
                    <span asp-validation-for="ViewModel.SideBarCustomizedHtmlPitch" class="text-danger"></span>

                    <div class="mt-5">
                        <h6 class="card-subtitle mb-4 text-muted">
                            @Localizer["Footer"]
                        </h6>
                        
                        <div class="row g-3 align-items-center settings-entry mb-2">
                            <div class="col-auto">
                                <i class="bi-check2-square settings-entry-icon"></i>
                            </div>
                            <div class="col">
                                <label asp-for="ViewModel.Copyright"></label>
                                <div class="form-text">@Localizer["Use [c] for copyright mark: &copy;, [year] for current year."]</div>
                            </div>
                            <div class="col-md-5 text-end">
                                <input asp-for="ViewModel.Copyright" class="form-control" />
                                <span asp-validation-for="ViewModel.Copyright" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-floating">
                            <textarea asp-for="ViewModel.FooterCustomizedHtmlPitch"
                                      placeholder="@Html.DisplayNameFor(m => m.ViewModel.FooterCustomizedHtmlPitch)"
                                      class="form-control form-control-sm h-100px textarea-code"
                                      spellcheck="false" rows="10" cols="10"></textarea>
                            <label class="form-label" asp-for="ViewModel.FooterCustomizedHtmlPitch"></label>
                        </div>
                        <span asp-validation-for="ViewModel.FooterCustomizedHtmlPitch" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <input id="btn-save-settings" type="submit" value="@Localizer["Save"]" class="btn btn-outline-accent" />
        </div>
    </form>
</div>

<div class="modal fade" id="avatarmodal" tabindex="-1" role="dialog" aria-labelledby="avatarmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="avatarmodalLabel">@Localizer["Change Avatar"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">

                <div class="mb-2">
                    <div id="avatarDropTarget" style="width: 256px; height: 256px;" class="img-thumbnail bg-light text-center">
                        @Localizer["Drag and drop image file here"]
                    </div>

                    <div class="input-group mt-2">
                        <div>
                            <label class="form-label" for="avatarImageFile" aria-describedby="avatarImageFileAddon">@Localizer[".png or .jpg file"]</label>
                            <input type="file" accept="image/png, image/jpeg" id="avatarImageFile" class="form-control" name="avatarImageFile">
                        </div>
                    </div>

                    <p class="small text-muted text-center mt-2">@Localizer["* Image width and height must be equal"]</p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success disabled" id="btn-upload-avatar" disabled="disabled">@Localizer["Upload"]</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="siteiconmodal" tabindex="-1" role="dialog" aria-labelledby="siteiconLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="siteiconmodalLabel">@Localizer["Change Site Icon"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">

                <div class="mb-2">
                    <div id="siteiconDropTarget" style="width: 256px; height: 256px;" class="img-thumbnail bg-light text-center">
                        @Localizer["Drag and drop image file here"]
                    </div>

                    <div class="input-group mt-2">
                        <div>
                            <label class="form-label" for="siteiconImageFile" aria-describedby="siteiconImageFileAddon">@Localizer[".png file"]</label>
                            <input type="file" accept="image/png" class="form-control" id="siteiconImageFile" name="siteiconImageFile">
                        </div>
                    </div>

                    <p class="small text-muted text-center mt-2">@Localizer["* Image width and height must be equal"]</p>
                    <p class="small text-danger text-center mt-1">@Localizer["* Changing site icon requires restarting the application"]</p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success disabled" id="btn-upload-siteicon" disabled="disabled">@Localizer["Upload"]</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="thememodal" tabindex="-1" role="dialog" aria-labelledby="themeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="themeLabel">@Localizer["Custom Theme"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form method="post" action="/api/theme" onsubmit="createTheme(this);return false;">
                <div class="modal-body">
                    <div class="mb-2">
                        <input type="text" asp-for="ThemeRequest.Name" class="form-control" placeholder="@Localizer["Name"]" />
                        <span asp-validation-for="ThemeRequest.Name" class="text-danger"></span>
                    </div>
                    <div class="row g-2">
                        <div class="col">
                            <label asp-for="ThemeRequest.AccentColor1" class="form-label">Accent Color 1</label>
                            <input type="color" class="form-control form-control-color" asp-for="ThemeRequest.AccentColor1" value="#2a579a" title="Accent Color 1">
                        </div>
                        <div class="col">
                            <label asp-for="ThemeRequest.AccentColor2" class="form-label">Accent Color 2</label>
                            <input type="color" class="form-control form-control-color" asp-for="ThemeRequest.AccentColor2" value="#1a365f" title="Accent Color 2">
                        </div>
                        <div class="col">
                            <label asp-for="ThemeRequest.AccentColor3" class="form-label">Accent Color 3</label>
                            <input type="color" class="form-control form-control-color" asp-for="ThemeRequest.AccentColor3" value="#3e6db5" title="Accent Color 3">
                        </div>
                    </div>
                    <div>
                        <span asp-validation-for="ThemeRequest.AccentColor1" class="text-danger"></span>
                    </div>
                    <div>
                        <span asp-validation-for="ThemeRequest.AccentColor2" class="text-danger"></span>
                    </div>
                    <div>
                        <span asp-validation-for="ThemeRequest.AccentColor3" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="btn-save-theme">@Localizer["Save"]</button>
                </div>
            </form>
        </div>
    </div>
</div>