@page "/admin/settings/image"
@model Moonglade.Web.Pages.Settings.ImageModel
@section scripts {
    <script>
        const form = document.querySelector('#form-settings');
        form.addEventListener('submit', handleSettingsSubmit);
    </script>
}

<partial name="_SettingsHeader" />
<div class="ps-4 pe-4">
    <form id="form-settings" asp-controller="Settings" asp-action="Image">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-4">
                    <h6 class="card-subtitle mb-4 text-muted">
                        @Localizer["General"]
                    </h6>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-file-earmark-image settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            <label asp-for="ViewModel.UseFriendlyNotFoundImage" class="form-check-label"></label>
                        </div>
                        <div class="col-md-5 text-end">
                            <div class="form-check form-switch">
                                <input type="checkbox" name="UseFriendlyNotFoundImage" value="true" class="form-check-input" @(Model.ViewModel.UseFriendlyNotFoundImage ? "checked" : null)>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-fullscreen settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            <label asp-for="ViewModel.FitImageToDevicePixelRatio" class="form-check-label"></label>
                        </div>
                        <div class="col-md-5 text-end">
                            <div class="form-check form-switch">
                                <input type="checkbox" name="FitImageToDevicePixelRatio" value="true" class="form-check-input" @(Model.ViewModel.FitImageToDevicePixelRatio ? "checked" : null)>
                            </div>
                        </div>
                    </div>

                    <h6 class="card-subtitle mb-4 text-muted">
                        @Localizer["Watermark"]
                    </h6>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-file-earmark-font settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            <label asp-for="ViewModel.IsWatermarkEnabled" class="form-check-label"></label>
                        </div>
                        <div class="col-md-5 text-end">
                            <div class="form-check form-switch">
                                <input type="checkbox" name="IsWatermarkEnabled" value="true" class="form-check-input" @(Model.ViewModel.IsWatermarkEnabled ? "checked" : null)>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-images settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            <label asp-for="ViewModel.KeepOriginImage" class="form-check-label"></label>
                            <div class="form-text">
                                Also save the origin image as a backup while adding watermark
                            </div>
                        </div>
                        <div class="col-md-5 text-end">
                            <div class="form-check form-switch">
                                <input type="checkbox" name="KeepOriginImage" value="true" class="form-check-input" @(Model.ViewModel.KeepOriginImage ? "checked" : null)>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-input-cursor-text settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            <label asp-for="ViewModel.WatermarkText"></label>
                        </div>
                        <div class="col-md-5">
                            <input asp-for="ViewModel.WatermarkText" class="form-control" />
                        </div>
                    </div>

                    <div class="row g-3 align-items-center settings-entry mb-4">
                        <div class="col-auto">
                            <i class="bi-fonts settings-entry-icon"></i>
                        </div>
                        <div class="col">
                            <label asp-for="ViewModel.WatermarkFontSize"></label>
                        </div>
                        <div class="col-md-5">
                            <input type="range" asp-for="ViewModel.WatermarkFontSize" class="form-range" min="8" max="32" step="1" oninput="this.nextElementSibling.value = this.value" />
                            <output class="form-text">
                                @Model.ViewModel.WatermarkFontSize
                            </output>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h6 class="card-subtitle mb-4 text-muted">
                    CDN
                </h6>

                <div class="row g-3 align-items-center settings-entry mb-4">
                    <div class="col-auto">
                        <i class="bi-globe settings-entry-icon"></i>
                    </div>
                    <div class="col">
                        <label asp-for="ViewModel.EnableCDNRedirect" class="form-check-label"></label>
                    </div>
                    <div class="col-md-5 text-end">
                        <div class="form-check form-switch">
                            <input type="checkbox" name="EnableCDNRedirect" value="true" class="form-check-input" @(Model.ViewModel.EnableCDNRedirect ? "checked" : null)>
                        </div>
                    </div>
                </div>

                <div class="row g-3 align-items-center settings-entry mb-4">
                    <div class="col-auto">
                        <i class="bi-link settings-entry-icon"></i>
                    </div>
                    <div class="col">
                        <label asp-for="ViewModel.CDNEndpoint"></label>
                        <div class="form-text">@Localizer["e.g. https://blog.ediwangcdn.com/ediwang-images"]</div>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="ViewModel.CDNEndpoint" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-2">
            <input id="btn-save-settings" type="submit" value="@Localizer["Save"]" class="btn btn-outline-accent" />
        </div>
    </form>
</div>