@page "/admin/settings/notification"
@model Moonglade.Web.Pages.Settings.NotificationModel
@inject IOptionsSnapshot<AppSettings> _settings
@section scripts{
<script>
    var sendTestEmail = function () {
        document.querySelector('#a-send-test-mail').classList.add('disabled');
        document.querySelector('#a-send-test-mail').setAttribute('disabled', 'disabled');

        callApi('/api/settings/test-email',
            'POST',
            {},
            async function(success) {
                blogToast.success('Email is sent.');
            },
            function(always) {
                document.querySelector('#a-send-test-mail').classList.remove('disabled');
                document.querySelector('#a-send-test-mail').removeAttribute('disabled');
            });
    };

    const form = document.querySelector('#form-settings');
    form.addEventListener('submit', handleSettingsSubmit);
</script>
}

<partial name="_SettingsHeader" />
<div class="ps-4 pe-4">
    <form id="form-settings" asp-controller="Settings" asp-action="Notification">
        <div class="row">
            <div class="col-md-6">
                <h6 class="card-subtitle mb-4 text-muted">@Localizer["Email Options"]</h6>

                <div class="row g-3 align-items-center settings-entry mb-4">
                    <div class="col-auto">
                        <i class="bi-pen settings-entry-icon"></i>
                    </div>
                    <div class="col">
                        <label asp-for="ViewModel.EmailDisplayName"></label>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="ViewModel.EmailDisplayName" class="form-control" required maxlength="64" />
                    </div>
                </div>

                <div class="row g-3 align-items-center settings-entry mb-4">
                    <div class="col-auto">
                        <i class="bi-link settings-entry-icon"></i>
                    </div>
                    <div class="col">
                        <label asp-for="ViewModel.AzureFunctionEndpoint"></label>
                        <div class="form-text">Please follow instructions <a href="https://github.com/EdiWang/Moonglade/blob/master/README.md#email-notification" target="_blank">here</a> to setup notification API.</div>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="ViewModel.AzureFunctionEndpoint" class="form-control" />
                    </div>
                </div>

                <div class="row g-3 align-items-center settings-entry mb-4">
                    <div class="col-auto">
                        <i class="bi-envelope settings-entry-icon"></i>
                    </div>
                    <div class="col">
                        @Localizer["Send Test Email"]
                    </div>
                    <div class="col-md-5 text-end">
                        <a href="javascript:sendTestEmail();" id="a-send-test-mail" class="btn btn-sm btn-outline-accent">
                            Send
                        </a>
                    </div>
                </div>

                <h6 class="card-subtitle mb-4 text-muted">@Localizer["Notification Options"]</h6>

                <div class="row g-3 align-items-center settings-entry mb-4">
                    <div class="col-auto">
                        <i class="bi-envelope settings-entry-icon"></i>
                    </div>
                    <div class="col">
                        <label asp-for="ViewModel.EnableEmailSending" class="form-check-label"></label>
                    </div>
                    <div class="col-md-5 text-end">
                        <div class="form-check form-switch">
                            <input type="checkbox" name="EnableEmailSending" value="true" class="form-check-input" @(Model.ViewModel.EnableEmailSending ? "checked" : null)>
                        </div>
                    </div>
                </div>

                <div class="row g-3 align-items-center settings-entry mb-4">
                    <div class="col-auto">
                        <i class="bi-chat-left settings-entry-icon"></i>
                    </div>
                    <div class="col">
                        <label asp-for="ViewModel.SendEmailOnNewComment" class="form-check-label"></label>
                    </div>
                    <div class="col-md-5 text-end">
                        <div class="form-check form-switch">
                            <input type="checkbox" name="SendEmailOnNewComment" value="true" class="form-check-input" @(Model.ViewModel.SendEmailOnNewComment ? "checked" : null)>
                        </div>
                    </div>
                </div>

                <div class="row g-3 align-items-center settings-entry mb-4">
                    <div class="col-auto">
                        <i class="bi-reply settings-entry-icon"></i>
                    </div>
                    <div class="col">
                        <label asp-for="ViewModel.SendEmailOnCommentReply" class="form-check-label"></label>
                    </div>
                    <div class="col-md-5 text-end">
                        <div class="form-check form-switch">
                            <input type="checkbox" name="SendEmailOnCommentReply" value="true" class="form-check-input" @(Model.ViewModel.SendEmailOnCommentReply ? "checked" : null)>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <input id="btn-save-settings" type="submit" value="@Localizer["Save"]" class="btn btn-outline-accent" />
        </div>
    </form>
</div>