<form id="comment-form">
    <input type="hidden" id="input-comment-form-rendered-utc" name="formRenderedUtc" value="@(DateTimeOffset.UtcNow.ToUnixTimeMilliseconds())" />
    <div class="visually-hidden" aria-hidden="true">
        <label for="input-comment-source">Website</label>
        <input type="text"
               id="input-comment-source"
               name="source"
               tabindex="-1"
               autocomplete="off" />
    </div>
    <div>
        <div class="row g-2 mb-2">
            <div class="col-md-5">
                <input type="text"
                       class="form-control"
                       aria-label="Your name"
                       placeholder="Your name"
                       id="input-comment-name"
                       required />
            </div>
            <div class="col-md-7">
                <input type="email"
                       class="form-control"
                       aria-label="@SharedLocalizer["Email (Optional)"]"
                       placeholder="@SharedLocalizer["Email (Optional)"]"
                       id="input-comment-email" />
            </div>
        </div>
        <div class="mb-3">
            <span class="text-muted">
                * @SharedLocalizer["Enter your email to receive reply notifications and display your Gravatar. Your email will not be displayed publicly."]
            </span>
        </div>
        <div class="comment-md-content mb-2">
            <textarea id="input-comment-content"
                      class="form-control"
                      cols="60"
                      rows="4"
                      aria-label="@SharedLocalizer["Your comments (Markdown supported)"]"
                      placeholder="@SharedLocalizer["Your comments (Markdown supported)"]"
                      maxlength="1024"
                      required></textarea>
        </div>
        <div class="d-flex justify-content-end">
            <button id="btn-submit-comment" type="submit" class="btn btn-accent">
                <span id="loadingIndicator" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>

                <span class="d-none d-md-inline-block">
                    @SharedLocalizer["Submit"]
                </span>
            </button>
        </div>
    </div>
</form>
