@page "/archive"
@using System.Globalization
@using Moonglade.Core.PostFeature
@inject IMediator Mediator
@{
    ViewBag.TitlePrefix = "Archive ";
    var archives = await Mediator.Send(new GetArchiveQuery());
    int[] yearList = null;
    if (null != Model && archives.Any())
    {
        yearList = (from item in archives
                    orderby item.Year descending
                    select item.Year).Distinct().ToArray();
    }

    static string GetMonthNameByNumber(int number)
    {
        return number is > 12 or < 1 ? 
            string.Empty : 
            CultureInfo.GetCultureInfo("en-US").DateTimeFormat.GetMonthName(number);
    }
}

@section head{
    <link href="~/css/timeline.css" rel="stylesheet" asp-append-version="true" />
}

<h3>
    @SharedLocalizer["Archive"]
</h3>
<hr />

@if (null != Model && archives.Any() && null != yearList)
{
    <ul class="timeline" id="monthList">
        @foreach (var item in yearList)
        {
            var queryMonth = archives.Where(obj => obj.Year == item);
            var yearEndChar = item % 10;
            var badgeClass = (yearEndChar % 5) switch
            {
                0 => "primary",
                1 => "success",
                2 => "info",
                3 => "warning",
                4 => "danger",
                _ => string.Empty
            };

            <li class="@(item % 2 == 0 ? "timeline-inverted" : null)">
                <div class="timeline-badge @badgeClass"><i class="bi-calendar2-week"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h3 class="timeline-title">
                            <a asp-page="./ArchiveList" asp-route-year="@item">@item</a>
                        </h3>
                    </div>
                    <div class="timeline-body">
                        <div class="row g-2">
                            @foreach (var month in queryMonth)
                            {
                                <div class="col-md-6 col-sm-6 col-6">
                                    <span class="badge bg-secondary float-end">@(month.Count)</span>
                                    <a asp-page="./ArchiveList"
                                       asp-route-year="@month.Year"
                                       asp-route-month="@month.Month">
                                        @GetMonthNameByNumber(month.Month)
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <div class="alert alert-info">@SharedLocalizer["No Archive"]</div>
}

<partial name="_LightSwitch" />