@page "/post/{year:int:min(1900):length(4)}/{month:int:range(1,12)}/{day:int:range(1,31)}/{slug:regex(^(?!-)([a-zA-Z0-9-]){{1,128}}$)}"
@model Moonglade.Web.Pages.PostModel
@using Moonglade.Utils
@using NUglify

@inject ITimeZoneResolver _zoneResolver
@Html.AntiForgeryToken()

@{
    ViewBag.BodyClass = "body-post-slug";
    var ec = Settings.Value.Editor;
}

@section keywords {
    @if (Model.Post.Tags.Length > 0)
    {
        <meta name="keywords" content="@string.Join(", ", Model.Post.Tags.Select(t => t.NormalizedName))" />
    }
}

@section meta {
    @if (!Model.Post.IsFeedIncluded)
    {
        <meta name="robots" content="noindex, nofollow" />
    }

    <meta name="title" content="@Model.Post.Title" />
    <meta name="displaydate" content="@Model.Post.PubDateUtc.GetValueOrDefault().ToString("u")">
    <meta name="copyright" content="(C) @Model.Post.PubDateUtc.GetValueOrDefault().Year @BlogConfig.GeneralSettings.SiteTitle">
    <meta name="author" content="@(string.IsNullOrWhiteSpace(Model.Post.Author) ? BlogConfig.GeneralSettings.OwnerName : Model.Post.Author) " />

    @if (!string.IsNullOrWhiteSpace(Model.Post.InlineCss))
    {
        var uglifiedCss = Uglify.Css(Model.Post.InlineCss);
        if (!uglifiedCss.HasErrors)
        {
            <style>
                @uglifiedCss.Code
            </style>
        }
    }
}

@if (BlogConfig.AdvancedSettings.EnableOpenGraph)
{
    @section opengraph{
        <meta property="og:site_name" content="@BlogConfig.GeneralSettings.SiteTitle">
        <meta property="og:title" content="@Model.Post.Title">
        <meta property="og:type" content="article" />
        <meta property="og:description" content="@Model.Post.ContentAbstract" />
        @if (!string.IsNullOrWhiteSpace(BlogConfig.GeneralSettings.CanonicalPrefix))
        {
            <meta property="og:url" content="@(Helper.ResolveCanonicalUrl(BlogConfig.GeneralSettings.CanonicalPrefix, HttpContext.Request.Path))" />
        }
    }
}

@section metadescription{
    <metadesc description="@Model.Post.ContentAbstract" />
}

@section scripts {
    <script src="~/js/3rd/highlight.min.js"></script>
    <script>
        var fitImageToDevicePixelRatio = @BlogConfig.ImageSettings.FitImageToDevicePixelRatio.ToString().ToLower();
        var pid = $("article").data("postid");
        postSlug.getStatistics(pid);
        postSlug.registerRatingButtons(pid);
        postSlug.resizeImages();
        postSlug.applyImageZooming();
        postSlug.renderCodeHighlighter();
        postSlug.postStatistics(pid, false);

        $("#img-captcha").click(function() {
            postSlug.resetCaptchaImage();
        });

        $('.post-qrcode').qrcode(document.URL);

        @if (BlogConfig.AdvancedSettings.WarnExternalLink)
        {
            <text>
                postSlug.warnExtLink();
            </text>
        }

        $('#comment-form').on('submit', function (e) {
            e.preventDefault();
            submitComment();
        });
    </script>
}

<article class="article-post-slug box border position-relative mb-4" data-postid="@Model.Post.Id" lang="@Model.Post.ContentLanguageCode">
    @if (Model.Post.Featured)
    {
        <a asp-page="/Featured">
            <img src="~/images/featured-post.svg" class="featured-post-banner position-absolute d-none d-md-block" title="@Localizer["Featured"]" alt="@Localizer["Featured"]" />
        </a>
    }

    <header class="post-header">
        <h1 class="post-title">
            @Model.Post.Title
        </h1>

        <div class="d-block d-sm-none">
            <div class="post-publish-info post-publish-info-mobile bg-light">
                <i class="bi-calendar-event"></i>
                <pubdate t-zone-resolver="@_zoneResolver" pub-date-utc="@Model.Post.PubDateUtc"></pubdate>
                @BlogConfig.GeneralSettings.TimeZoneId
            </div>
        </div>

        <div class="d-none d-md-block post-publish-info text-muted mb-2">
            @if (Model.Post.IsOriginal)
            {
                <span class="badge bg-secondary me-2">@Localizer["Original"]</span>
            }

            @if (!string.IsNullOrWhiteSpace(Model.Post.Author))
            {
                <i class="bi-person"></i>
                <span class="me-2">@Model.Post.Author</span>
            }

            <i class="bi-calendar-event"></i>
            <span class="me-2">
                <pubdate t-zone-resolver="@_zoneResolver" pub-date-utc="@Model.Post.PubDateUtc"></pubdate>
                @BlogConfig.GeneralSettings.TimeZoneId
            </span>

            <i class="bi-eye"></i>
            <span class="post-hit-number"><span class="post-hit-number-text">...</span> @Localizer["Reads"]</span>
        </div>

        <hr class="d-none d-md-block" />
    </header>

    @if (!string.IsNullOrWhiteSpace(Model.Post.HeroImageUrl))
    {
        <div class="post-hero-image-container text-center mb-3">
            <img src="@Helper.SterilizeLink(Model.Post.HeroImageUrl)" class="post-hero-image img-fluid rounded-3 shadow-sm" />
        </div>
    }

    <section class="post-content clearfix">
        @if (ec == EditorChoice.Markdown)
        {
            @Html.Raw(ContentProcessor.MarkdownToContent(Model.Post.RawPostContent, ContentProcessor.MarkdownConvertType.Html, false))
        }
        else
        {
            @Html.Raw(Model.Post.RawPostContent)
        }
    </section>

    @if (BlogConfig.ContentSettings.ShowPostFooter)
    {
        <section class="post-footer clearfix">
            @Html.Raw(BlogConfig.ContentSettings.PostFooterHtmlPitch)
        </section>
    }

    <partial name="_PostActions" model="Model.Post" />

    @if (!string.IsNullOrWhiteSpace(Model.Post.OriginLink))
    {
        <a href="@Helper.SterilizeLink(Model.Post.OriginLink)" target="_blank">
            <i class="bi-link"></i>
            @Localizer["Read origin article"]
        </a>
    }
</article>
@if (BlogConfig.ContentSettings.EnableComments)
{
    switch (BlogConfig.ContentSettings.CommentProvider)
    {
        case CommentProvider.BuiltIn:
            <div class="d-print-none">
                @if (Model.Post.CommentEnabled)
                {
                    <div class="card bg-light comment-form-containter mb-4">
                            <div class="card-header">
                                <i class="bi-chat-left-text"></i>
                                @Localizer["Comments"]
                            </div>
                            <form id="comment-form">
                                <div class="card-body">
                                    <div class="row g-1 mb-2">
                                        <div class="col-md-4">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Your name"
                                                   id="input-comment-name"
                                                   required/>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="email"
                                                   class="form-control"
                                                   placeholder="Email (Optional)"
                                                   id="input-comment-email"
                                                   data-bs-toggle="tooltip"
                                                   data-placement="top"
                                                   title="@Localizer["Providing your email address can enable blog admin to send notifications for replying your comment. Your email address will also be used to show Gravatar if it has one."]"/>
                                        </div>
                                    </div>
                                    <div class="comment-md-content mb-2">
                                        <textarea id="input-comment-content"
                                              class="form-control"
                                              cols="60"
                                              rows="4"
                                              placeholder="@Localizer["Your comments (Markdown supported)"]"
                                              maxlength="1024"
                                              required></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-9">
                                            <div class="input-group">
                                                <img id="img-captcha" src="~/captcha-image" data-bs-toggle="tooltip" data-placement="top" title="@Localizer["Can't read? Click to change another image."]"/>
                                                <input type="text"
                                                       id="input-comment-captcha"
                                                       class="form-control input-captcha"
                                                       placeholder="Captcha Code"
                                                       autocomplete="off"
                                                       minlength="4"
                                                       maxlength="4"
                                                       required/>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <button id="btn-submit-comment" type="submit" class="btn btn-success float-end">
                                                <span id="loadingIndicator" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                                                @Localizer["Submit"]
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                    </div>
                }
                else
                {
                    <div class="alert alert-warning">@Localizer["Comment of this post is disabled."]</div>
                }
                
                <div id="thx-for-comment" class="alert alert-warning" style="display: none;">
                    @Localizer["Thanks, your comment is pending approval now."] <br/>
                    @Localizer["It will show up once blog administrator approved your comment."]
                </div>

                <div id="thx-for-comment-non-review" class="alert alert-success" style="display: none;">
                    @Localizer["Thanks for your comment."] <br/>
                    @Localizer["Refresh the page to see your comment."]
                </div>

                <section id="comments-list">
                    @await Component.InvokeAsync("CommentList", new {postId = Model.Post.Id})
                </section>
            </div>
            break;
        case CommentProvider.ThirdParty:
            @Html.Raw(BlogConfig.ContentSettings.ThirdPartyCommentHtmlPitch)
            break;
    }
}
else
{
    <div class="alert alert-warning">@Localizer["Comment is disabled by blog administrator."]</div>
}

<partial name="_LightSwitch" />

<div class="modal fade" id="imgzoomModal" tabindex="-1" role="dialog" aria-labelledby="imgzoomModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-imgzoom" role="document" style="max-width: 100%">
        <div class="modal-content">
            <img id="imgzoom" alt="imgzoom" class="img-fluid" />
        </div>
    </div>
</div>

@if (BlogConfig.AdvancedSettings.WarnExternalLink)
{
    <partial name="_ExternalLink" />
}