@page "/post/preview/{postId:guid}"
@model Moonglade.Web.Pages.PostPreviewModel
@using Moonglade.Utils
@using NUglify
@inject ITimeZoneResolver _zoneResolver

@{
    ViewBag.BodyClass = "body-post-slug";
    var ec = Settings.Value.Editor;
}

@section meta {
    <meta name="robots" content="noindex, nofollow" />
    <meta name="title" content="@Model.Post.Title" />
    
    @if (!string.IsNullOrWhiteSpace(Model.Post.InlineCss))
    {
        var uglifiedCss = Uglify.Css(Model.Post.InlineCss);
        if (!uglifiedCss.HasErrors)
        {
            <style>
                @uglifiedCss.Code
                </style>
        }
    }
}

@section scripts {
    <script src="~/js/3rd/highlight.min.js"></script>
    <script>
        var fitImageToDevicePixelRatio = @BlogConfig.ImageSettings.FitImageToDevicePixelRatio.ToString().ToLower();
        postSlug.resizeImages();
        postSlug.applyImageZooming();
        postSlug.renderCodeHighlighter();

        @if (BlogConfig.AdvancedSettings.WarnExternalLink)
        {
            <text>
                postSlug.warnExtLink();
            </text>
        }
    </script>
}

<div class="alert alert-info">
    @Localizer["This is a preview for draft content."]
</div>

<article class="article-post-slug box border position-relative mb-4" data-postid="@Model.Post.Id" lang="@Model.Post.ContentLanguageCode">
    @if (Model.Post.Featured)
    {
        <a asp-page="/Featured">
            <img src="~/images/featured-post.svg" class="featured-post-banner position-absolute d-none d-md-block" title="@Localizer["Featured"]" alt="@Localizer["Featured"]" />
        </a>
    }

    <header class="post-header">
        <h1 class="post-title">
            @Model.Post.Title
        </h1>

        <hr class="d-none d-md-block" />
    </header>
    <section class="post-content clearfix">
        @if (ec == EditorChoice.Markdown)
        {
            @Html.Raw(ContentProcessor.MarkdownToContent(Model.Post.RawPostContent, ContentProcessor.MarkdownConvertType.Html, false))
        }
        else
        {
            @Html.Raw(Model.Post.RawPostContent)
        }
    </section>
    @if (BlogConfig.ContentSettings.ShowPostFooter)
    {
        <section class="post-footer clearfix">
            @Html.Raw(BlogConfig.ContentSettings.PostFooterHtmlPitch)
        </section>
    }

    <partial name="_PostActions" model="Model.Post" />
</article>

<partial name="_LightSwitch" />

<div class="modal fade" id="imgzoomModal" tabindex="-1" role="dialog" aria-labelledby="imgzoomModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-imgzoom" role="document" style="max-width: 100%">
        <div class="modal-content">
            <img id="imgzoom" alt="imgzoom" class="img-fluid" />
        </div>
    </div>
</div>

@if (BlogConfig.AdvancedSettings.WarnExternalLink)
{
    <partial name="_ExternalLink" />
}