@page "/auth/signin"
@model Moonglade.Web.Pages.SignInModel
@using Edi.AspNetCore.Utils
@using Moonglade.Utils
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>
        @SharedLocalizer["Admin Sign In"]
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <partial name="_Favicons" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/base.css" rel="stylesheet" />
    <link href="~/theme.css" rel="stylesheet" />
    <link href="~/Moonglade.Web.styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <main class="position-relative">
            <div class="position-absolute top-50 start-50 translate-middle">
                <div class="login-card card shadow">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">@SharedLocalizer["Sign In"]</h5>

                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Username" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Username)" required minlength="2" maxlength="32" />
                                <label asp-for="Username"></label>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Password" class="form-control" required pattern="^(?=.*[a-zA-Z])(?=.*[0-9])[A-Za-z0-9._~!@@#$^&*]{8,}$" placeholder="@Html.DisplayNameFor(m => m.Password)" minlength="8" maxlength="32" />
                                <label asp-for="Password"></label>
                            </div>

                            <div class="mb-3" id="captcha-container">
                                <div class="input-group">
                                    <input asp-for="CaptchaCode"
                                           id="captcha-code"
                                           minlength="4"
                                           maxlength="4"
                                           placeholder="@SharedLocalizer["Captcha code"]"
                                           autocomplete="off"
                                           class="form-control" required />

                                    <input type="hidden" id="captcha-token" asp-for="CaptchaToken" />
                                    <img id="img-captcha" src="/api/captcha/stateless" title="@SharedLocalizer["Can't read? Click to change another image."]" />
                                </div>
                            </div>

                            <input type="submit" value="@SharedLocalizer["Sign In"]" class="btn w-100 btn-accent" />
                        </form>
                    </div>
                </div>
                <p class="text-muted mt-4 small text-center">
                    Moonglade @VersionHelper.AppVersion
                </p>
            </div>
        </main>
    </div>
    <script type="module" src="~/js/app/base.mjs"></script>
    <script type="module">
        import { resetCaptchaImage } from '/js/app/captchaService.mjs';

        document.getElementById('img-captcha')?.addEventListener('click', function () {
            resetCaptchaImage();
        });

        await resetCaptchaImage();
    </script>
</body>
</html>