@page "/auth/signin"
@model Moonglade.Web.Pages.SignInModel
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using Moonglade.Utils
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>
        @Localizer["Admin Sign In"]
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <partial name="_Favicons" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <environment include="Development">
        <link href="~/css/dist/bundle.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/dist/bundle.min.css" rel="stylesheet" asp-append-version="true" />
        @Html.Raw(JavaScriptSnippet.FullScript)
    </environment>
    <link href="~/theme.css" rel="stylesheet" asp-append-version="true" />
    @if (BlogConfig.CustomStyleSheetSettings.EnableCustomCss)
    {
        <link href="~/custom.css" rel="stylesheet" asp-append-version="true" />
    }
    <style>
        body {
            background-color: #0C264A;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%231C3664' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%232987C7'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
        }

        #img-captcha {
            border-radius: 0 3px 3px 0;
        }
    </style>
</head>
<body class="pt-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">@Localizer["Sign In"]</h5>

                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Username" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Username)" required minlength="2" maxlength="32" />
                                <label asp-for="Username"></label>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Password" class="form-control" required pattern="^(?=.*[a-zA-Z])(?=.*[0-9])[A-Za-z0-9._~!@@#$^&*]{8,}$" placeholder="@Html.DisplayNameFor(m => m.Password)" minlength="8" maxlength="32" />
                                <label asp-for="Password"></label>
                            </div>

                            <div class="mb-3">
                                <div class="input-group">
                                    <input asp-for="CaptchaCode"
                                           minlength="4"
                                           maxlength="4"
                                           placeholder="Captcha Code"
                                           autocomplete="off"
                                           class="form-control" required />
                                    <img id="img-captcha" onclick="getNewCaptcha()" src="~/captcha-image" data-bs-toggle="tooltip" data-placement="top" title="@Localizer["Can't read? Click to change another image."]" />
                                </div>
                            </div>

                            <input type="submit" value="@Localizer["Sign In"]" class="btn w-100 btn-accent" />
                        </form>
                    </div>
                </div>
                <p class="text-muted mt-4 small text-center">
                    Moonglade @Helper.AppVersion
                </p>
            </div>
        </div>
    </div>

    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script>
        function getNewCaptcha() {
            d = new Date();
            document.querySelector('#img-captcha').src = `/captcha-image?${d.getTime()}`;
        };
    </script>
</body>
</html>