@page "/auth/signin"
@model Moonglade.Web.Pages.SignInModel
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet _javaScriptSnippet
@using Moonglade.Utils
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>
        @Localizer["Admin Sign In"]
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <partial name="_Favicons" />
    <environment include="Development">
        <link href="~/css/bundle.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/bundle.min.css" rel="stylesheet" asp-append-version="true" />
        @Html.Raw(_javaScriptSnippet.FullScript)
    </environment>
</head>
<body class="pt-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <div class="card">
                    <h6 class="card-header">@Localizer["Sign In"]</h6>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="mb-2">
                                <label asp-for="Username"></label>
                                <input asp-for="Username" class="form-control" required />
                            </div>
                            <div class="mb-2">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" required />
                            </div>
                            <div clas="mb-2">
                                <div class="input-group">
                                    <img id="img-captcha" src="~/captcha-image" data-bs-toggle="tooltip" data-placement="top" title="@Localizer["Can't read? Click to change another image."]" />
                                    <input asp-for="CaptchaCode"
                                           minlength="4"
                                           maxlength="4"
                                           placeholder="Captcha Code"
                                           autocomplete="off"
                                           class="form-control input-captcha" required />
                                </div>
                            </div>

                            <hr />
                            <input type="submit" value="@Localizer["Sign In"]" class="btn btn-success" />
                        </form>
                    </div>
                </div>
                <p class="text-muted mt-4 small text-center">
                    @Html.Raw(Helper.FormatCopyright2Html(BlogConfig.GeneralSettings.Copyright)) <br />
                    Moonglade @Helper.AppVersion
                </p>
            </div>
        </div>
    </div>

    <script src="~/js/3rd/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <environment include="Development">
        <script src="~/js/dist/app-bundle.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/dist/app-bundle.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        $("#img-captcha").click(function () {
            d = new Date();
            $('#img-captcha').attr('src', `/captcha-image?${d.getTime()}`);
        });
    </script>
</body>
</html>