@page "/tags"
@using System.Web
@using Moonglade.Core.TagFeature
@inject IMediator Mediator
@{
    ViewBag.TitlePrefix = "Tags";
    ViewBag.BodyClass = "body-tags-index bg-gray-1";
    var tags = await Mediator.Send(new GetTagCountListQuery());
}

@functions {
    private static string Weight(double weightPercent)
    {
        var weight = weightPercent switch
        {
            >= 99 => "danger",
            >= 70 => "success",
            >= 40 => "accent",
            >= 20 => "secondary",
            _ => "outline-secondary"
        };
        return weight;
    }
}

@section scripts {
    <script>
        document.getElementById('tagFilter').addEventListener('keyup', function () {
            var value = this.value.toLowerCase();
            var items = document.querySelectorAll('.ul-tags li');

            items.forEach(function (item) {
                var show = item.textContent.toLowerCase().indexOf(value) > -1;
                if (show) {
                    item.classList.add('d-inline-block');
                    item.classList.remove('d-none');
                } else {
                    item.classList.remove('d-inline-block');
                    item.classList.add('d-none');
                }
            });
        });
    </script>
}

<h2 class="page-heading mb-4">
    @SharedLocalizer["Tags"]
</h2>

@if (tags.Any())
{
    var tagMax = tags.Select(p => p.PostCount).Max();

    <input id="tagFilter" type="text" class="form-control mb-3" maxlength="32" placeholder="Filter.." role="search" aria-label="Filter tags">

    <ul class="list-unstyled ul-tags">
        @foreach (var tag in tags.OrderBy(t => t.Tag.DisplayName))
        {
            var weightPercent = tag.PostCount * 1.0 / tagMax * 100;
            var weight = Weight(weightPercent);

            <li class="d-inline-block mb-2 me-2">
                <a asp-page="/TagList"
                   asp-route-normalizedName="@HttpUtility.UrlDecode(tag.Tag.NormalizedName.ToLower())"
                   class="btn btn-sm btn-@weight" title="@(tag.PostCount)">
                    @tag.Tag.DisplayName.Replace("-", " ")
                </a>
            </li>
        }
    </ul>
}
else
{
    <div class="alert alert-info">
        @SharedLocalizer["No Tags"]
    </div>
}
