@page "/auth/verify-authenticator"
@inject ICacheAside Cache
@model Moonglade.Web.Pages.VerifyAuthenticatorModel
@using Edi.AspNetCore.Utils
@using Moonglade.Utils

@{
    Layout = null;

    var themeCss = await Cache.GetOrCreateAsync(BlogCachePartition.General.ToString(), "theme", async () =>
    {
        return await QueryMediator.QueryAsync(new GetSiteThemeStyleSheetQuery(BlogConfig.AppearanceSettings.ThemeId));
    }, TimeSpan.FromMinutes(20));
}

<!DOCTYPE html>
<html>
<head>
    <title>
        @SharedLocalizer["Verify Authenticator"]
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <partial name="_Favicons" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/base.css" rel="stylesheet" />
    @if (!string.IsNullOrEmpty(themeCss))
    {
        themeCss = themeCss.Replace("</style", string.Empty, StringComparison.OrdinalIgnoreCase);
        <style>@Html.Raw(themeCss)</style>
    }
    <link href="~/Moonglade.Web.styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <main class="position-relative">
            <div class="position-absolute top-50 start-50 translate-middle">
                <div class="login-card card shadow">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">@SharedLocalizer["Verify Authenticator"]</h5>

                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="AuthenticatorCode"
                                       class="form-control"
                                       inputmode="numeric"
                                       autocomplete="one-time-code"
                                       pattern="[0-9]{6}"
                                       minlength="6"
                                       maxlength="6"
                                       required
                                       placeholder="@Html.DisplayNameFor(m => m.AuthenticatorCode)" />
                                <label asp-for="AuthenticatorCode"></label>
                            </div>

                            <input type="submit" value="@SharedLocalizer["Verify"]" class="btn w-100 btn-accent" />
                        </form>
                    </div>
                </div>
                <p class="text-muted mt-4 small text-center">
                    Moonglade @VersionHelper.AppVersion
                </p>
            </div>
        </main>
    </div>
    <script type="module" src="~/js/app/base.mjs"></script>
</body>
</html>
