@{
    Layout = "_LayoutAdmin";
}

@model X.PagedList.StaticPagedList<Moonglade.Data.Entities.Comment>
@using Microsoft.Extensions.Options
@using Moonglade.Core
@using Moonglade.Model.Settings
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core
@inject IOptions<AppSettings> Settings

@Html.AntiForgeryToken()

@section scripts{
    <script>
        $(function () {
            $(".btn-delete").click(function () {
                var cid = $(this).data("commentid");
                $("#span-processing-" + cid).show();
                ajaxPostWithCSRFToken("delete", { commentId: cid }, function (data) {
                    $("#panel-comment-" + data).slideUp();
                });
            });

            $(".btn-reply").click(function () {
                var cid = $(this).data("commentid");
                $("#panel-comment-" + cid + " .reply-ui").show();
            });

            $(".btn-reply-post").click(function () {
                var cid = $(this).data("commentid");
                var replyContent = $("#replycontent-" + cid).val();

                ajaxPostWithCSRFToken("reply", { commentId: cid, replyContent: replyContent }, function (data) {
                    $("#panel-comment-" + data.commentId + " .reply-ui").slideUp();
                    $("#panel-comment-" + data.commentId + " .reply-list").prepend(
                        '<hr />' +
                        '<div class="reply-container">' +
                        '<div>' +
                        '<strong>Edi Wang</strong>' +
                        '<span class="pull-right text-muted">' + data.ReplyTimeUtc + '</span>' +
                        '</div>' +
                        '<p>' + data.ReplyContent + '</p>' +
                        '</div>');
                });
            });
        });
    </script>
}

<h3>
    Comments
</h3>
<hr />

<ul class="nav nav-tabs">
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link active" asp-controller="Comment" asp-action="Manage">Published</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link" asp-controller="Comment" asp-action="PendingApproval">Pending Approval</a>
    </li>
</ul>

<div class="mb-3"></div>

@if (Model.Count == 0)
{
    <div class="alert alert-info">
        No Comments
    </div>
    <div class="bor"></div>
}
else
{
    foreach (var item in Model.Where(c => c.IsApproved))
    {
        <div id="panel-comment-@item.Id" class="card mb-4">
            <div class="card-header">
                <strong>
                    <i class="fas fa-user"></i>
                    @item.Username
                </strong>
                <span class="text-muted">@item.IPAddress</span>
                <a href="mailto:@item.Email">@item.Email</a>
                <span class="text-muted pull-right">@Utils.UtcToZoneTime(item.CreateOnUtc, Settings.Value.TimeZone).ToString("yyyy-MM-dd HH:mm")</span>
            </div>
            <div class="card-body">
                <p>
                    @item.CommentContent
                </p>

                <div>
                    <strong>
                        <i class="fas fa-bookmark"></i>
                        @item.Post.Title
                    </strong>

                    <div class="float-right">
                        <span id="span-processing-@item.Id" style="display: none;">Processing...</span>

                        <button class="btn btn-sm btn-primary btn-reply" data-commentid="@item.Id">Reply</button>
                        <button class="btn btn-sm btn-danger btn-delete" data-commentid="@item.Id">Delete</button>
                    </div>
                </div>

                <div class="reply-ui" style="display: none;">
                    <hr />
                    <form>
                        <div class="form-group">
                            <textarea class="form-control"
                                      id="replycontent-@item.Id"
                                      name="ReplyContent"
                                      placeholder="Content" type="text"></textarea>
                        </div>

                        <a class="btn btn-success btn-reply-post" href="#" data-commentid="@item.Id">
                            Reply
                        </a>
                    </form>
                </div>

                <div class="reply-list">
                    @foreach (var reply in item.CommentReply.OrderByDescending(t => t.ReplyTimeUtc))
                    {
                        <hr />
                        <div class="reply-container">
                            <div>
                                <strong>Edi Wang</strong>
                                <span class="float-right text-muted">@Utils.UtcToZoneTime(reply.ReplyTimeUtc.GetValueOrDefault(), Settings.Value.TimeZone)</span>
                            </div>
                            <p>
                                @reply.ReplyContent
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}

@Html.PagedListPager(Model, page => Url.Action(ViewBag.ActionName as string, new { page }), new PagedListRenderOptions
{
    LiElementClasses = new [] { "page-item" },
    PageClasses = new[] { "page-link" },
    DisplayEllipsesWhenNotShowingAllPageNumbers = false
})