@using Moonglade.Core
@model PageViewModel

@{
    ViewBag.TitlePrefix = Model.Title;
    ViewBag.HideSideBar = Model.HideSidebar;
}

@section head{
    @if (!string.IsNullOrWhiteSpace(Model.CSS))
    {
        <style>
            @Html.Raw(Model.CSS)
        </style>
    }
}

@section metadescription{
    <metadesc description="@Model.MetaDescription" />
}

@if (null != ViewBag.IsDraftPreview)
{
    <div class="alert alert-info">
        @Localizer["This is a preview for draft content."]
    </div>
}

@if (BlogConfig.SecuritySettings.AllowScriptsInPage)
{
    @Html.Raw(Model.RawHtmlContent)
}
else
{
    @Html.Raw(PageService.RemoveScriptTagFromHtml(Model.RawHtmlContent))
}