@{
    var currentPage = ViewContext.RouteData.Values["page"]?.ToString();
}

<h3>
    @Localizer["Diagnosis"]
</h3>
<hr />

<ul class="nav nav-tabs">
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentPage == "/Admin/About" ? "active" : null)" asp-page="./About">@Localizer["About"]</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentPage == "/Admin/AuditLogs" ? "active" : null)" asp-page="./AuditLogs">@Localizer["Audit Logs"]</a>
    </li>
</ul>
<div class="mb-3"></div>