@{
    var currentPage = ViewContext.RouteData.Values["Page"]?.ToString();
}

<h3>
    <span class="icon-file-text2 icon-admin-title"></span>
    @Localizer["Posts"]
    <a class="btn btn-outline-success float-end" asp-page="./EditPost">
        <span class="icon-plus"></span>
        @Localizer["New"]
    </a>
</h3>
<hr />

<ul class="nav nav-tabs">
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentPage == "/Admin/Post" ? "active" : null)" asp-page="./Post">@Localizer["Published"]</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentPage == "/Admin/PostDraft" ? "active" : null)" asp-page="./PostDraft">@Localizer["Drafts"]</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentPage == "/Admin/RecycleBin" ? "active" : null)" asp-page="./RecycleBin">@Localizer["Recycle Bin"]</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentPage == "/Admin/PostInsights" ? "active" : null)" asp-page="./PostInsights">@Localizer["Insights"]</a>
    </li>
</ul>
<div class="mb-3"></div>