@page "/admin/about"
@using System.Diagnostics
@using Moonglade.Utils
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvironment

@{
    Layout = "_LayoutAdmin";
    var process = Process.GetCurrentProcess();
}

<partial name="~/Views/Admin/_DiagnosisHeader.cshtml" />

<table class="table table-bordered mb-4">
    <thead>
        <tr>
            <th colspan="2">@Localizer["Server Information"]</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="w-25">@Localizer["System"]</td>
            <td>@Helper.TryGetFullOSVersion() @(Environment.Is64BitOperatingSystem ? "(64-bit)": "(32-bit)")</td>
        </tr>
        <tr>
            <td>@Localizer["Directory"]</td>
            <td>@Environment.CurrentDirectory</td>
        </tr>
        <tr>
            <td>@Localizer["Machine Name"]</td>
            <td>@Environment.MachineName</td>
        </tr>
        <tr>
            <td>@Localizer["User Name"]</td>
            <td>@Environment.UserDomainName\@Environment.UserName</td>
        </tr>
        <tr>
            <td>@Localizer[".NET Version"]</td>
            <td>@Environment.Version</td>
        </tr>
        <tr>
            <td>@Localizer["Worker Process"]</td>
            <td>[@process.Id] @process.ProcessName @(Environment.Is64BitProcess ? "(64-bit)" : "(32-bit)")</td>
        </tr>
        <tr>
            <td>@Localizer["Start Time"]</td>
            <td>@process.StartTime.ToUniversalTime() (UTC)</td>
        </tr>
        <tr>
            <td>@Localizer["Memory"]</td>
            <td>@(process.WorkingSet64 / 1024 / 1024) MB</td>
        </tr>
        <tr>
            <td>@Localizer["Docker Container"]</td>
            <td>@(Environment.GetEnvironmentVariable("DOTNET_RUNNING_IN_CONTAINER") == "true")</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">@Localizer["Moonglade Configuration"]</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="w-25">@Localizer["Version"]</td>
            <td>@Helper.AppVersion</td>
        </tr>
        <tr>
            <td>@Localizer["Data Directory"]</td>
            <td>@AppDomain.CurrentDomain.GetData("DataDirectory")</td>
        </tr>
        <tr>
            <td>@Localizer["Environment"]</td>
            <td>@WebHostEnvironment.EnvironmentName</td>
        </tr>
        <tr>
            <td>@Localizer["Editor"]</td>
            <td>@Settings.Value.Editor</td>
        </tr>
    </tbody>
</table>

<a class="mt-2 d-inline-block" href="https://github.com/EdiWang/Moonglade/issues" target="_blank">
    <i class="icon-bug"></i>
    Report an issue
</a>