@page "/admin/auditlogs"
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model Moonglade.Web.Pages.Admin.AuditLogsModel
@section scripts {
    <script>
        $('.btn-clear').click(function () {
            callApi(`/api/settings/auditlogs/clear`, 'DELETE', {},
                (resp) => {
                    blogToast.success('Audit logs are cleared');
                    setTimeout(function () {
                        window.location.reload();
                    }, 800);
                });
        });
    </script>
}
@Html.AntiForgeryToken()

<partial name="_DiagnosisHeader" />

<div class="ps-4 pe-4">
    <feature name="EnableAudit" negate="true">
        <div class="alert alert-warning">
            @Localizer["Audit Log is disabled."]
        </div>
    </feature>

    @if (Model is not null && Model.Entries.Any())
    {
        <a href="javascript:;" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#clearauditModal">
            <i class="bi-trash"></i>
            @Localizer["Clear Audit Logs"]
        </a>

        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>@Localizer["Event Time (UTC)"]</th>
                    <th>@Localizer["Event Type"]</th>
                    <th>@Localizer["Event Id"]</th>
                    <th>@Localizer["Message"]</th>
                    <th>@Localizer["Username"]</th>
                    <th>@Localizer["Machine Name"]</th>
                    <th>@Localizer["IP Address"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Entries)
                {
                    <tr>
                        <td>
                            @item.EventTimeUtc
                        </td>
                        <td>
                            @item.EventType
                        </td>
                        <td>
                            @item.EventId
                        </td>
                        <td>
                            @item.Message
                        </td>
                        <td>
                            @item.WebUsername
                        </td>
                        <td>
                            @item.MachineName
                        </td>
                        <td>
                            @item.IpAddressV4
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @Html.PagedListPager(Model.Entries, page => $"?pageIndex={page}", new PagedListRenderOptions
        {
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            UlElementClasses = new[] { "pagination justify-content-end" },
            MaximumPageNumbersToDisplay = 5,
            DisplayEllipsesWhenNotShowingAllPageNumbers = false
        })
    }
    else
    {
        <div class="alert alert-info">
            @Localizer["No Audit Logs."]
        </div>
    }

    <div class="modal fade" id="clearauditModal" tabindex="-1" role="dialog" aria-labelledby="clearauditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="clearauditModalLabel">@Localizer["Clear Audit Logs"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    @Localizer["Are you ABSOLUTELY sure? ALL audit logs will be erased!"]
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-outline-danger btn-clear">@Localizer["Clear Now"]</a>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                </div>
            </div>
        </div>
    </div>
</div>