@page "/admin/auditlogs"
@using X.PagedList.Mvc.Core.Common
@using X.PagedList.Mvc.Core
@model Moonglade.Web.Pages.Admin.AuditLogsModel

<partial name="_DiagnosisHeader" />

<feature name="EnableAudit" negate="true">
    <div class="alert alert-warning">
        @Localizer["Audit Log is disabled."]
    </div>
</feature>

@if (Model is not null && Model.Entries.Any())
{
    <a href="javascript:;" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#clearauditModal">
        <span class="icon-bin"></span>
        @Localizer["Clear Audit Logs"]
    </a>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>@Localizer["Event Time (UTC)"]</th>
                <th>@Localizer["Event Type"]</th>
                <th>@Localizer["Event Id"]</th>
                <th>@Localizer["Message"]</th>
                <th>@Localizer["Username"]</th>
                <th>@Localizer["Machine Name"]</th>
                <th>@Localizer["IP Address"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Entries)
            {
                <tr>
                    <td>
                        @item.EventTimeUtc
                    </td>
                    <td>
                        @item.EventType
                    </td>
                    <td>
                        @item.EventId
                    </td>
                    <td>
                        @item.Message
                    </td>
                    <td>
                        @item.Username
                    </td>
                    <td>
                        @item.MachineName
                    </td>
                    <td>
                        @item.IpAddressV4
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @Html.PagedListPager(Model.Entries, page => $"?pageIndex={page}", new PagedListRenderOptions
    {
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        UlElementClasses = new[] { "pagination justify-content-end" },
        MaximumPageNumbersToDisplay = 5,
        DisplayEllipsesWhenNotShowingAllPageNumbers = false
    })
}
else
{
    <div class="alert alert-info">
        @Localizer["No Audit Logs."]
    </div>
}

<div class="modal fade" id="clearauditModal" tabindex="-1" role="dialog" aria-labelledby="clearauditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clearauditModalLabel">@Localizer["Clear Audit Logs"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Localizer["Are you ABSOLUTELY sure? ALL audit logs will be erased!"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
                <a asp-action="ClearAuditLogs" class="btn btn-danger btn-clear">@Localizer["Clear Now"]</a>
            </div>
        </div>
    </div>
</div>
