@page "/admin/category"
@model Moonglade.Web.Pages.Admin.CategoryModel
@{
    ViewBag.Title = "Manage Categories";
}

@section scripts{
    <script>
        var catId = emptyGuid;
        function initCreateCategory() {
            catId = emptyGuid;
            $('#edit-form')[0].reset();
            $('#editCatModal').modal();
        }

        function editCat(id) {
            callApi(`/api/category/${id}`, 'GET', {},
                async (resp) => {
                    var data = await resp.json();
                    catId = data.id;
                    $('#CategoryEditViewModel_RouteName').val(data.routeName);
                    $('#CategoryEditViewModel_DisplayName').val(data.displayName);
                    $('#CategoryEditViewModel_Note').val(data.note);
                    $('#editCatModal').modal();
                });
        }

        function deleteCat(catid) {
            $(`#span-processing-${catid}`).show();

            callApi(`/api/category/${catid}`, 'DELETE', {},
                (resp) => {
                    $(`#card-${catid}`).hide();
                    notyf.success('Category deleted');
                });
        }

        $(".btn-delete").click(function () {
            var cfm = confirm("Delete Confirmation?");
            if (cfm) deleteCat($(this).data("catid"));
        });

        $(".btn-edit").click(function () {
            editCat($(this).data("catid"));
        });

        $(".btn-submit").click(function () {
            if ($("#edit-form").valid()) {
                var apiAddress = '';
                var verb = '';

                if (catId == emptyGuid) {
                    apiAddress = '/api/category';
                    verb = 'POST';
                }
                else {
                    apiAddress = `/api/category/${catId}`;
                    verb = 'PUT';
                }

                callApi(apiAddress, verb,
                    {
                        "RouteName": $("#CategoryEditViewModel_RouteName").val(),
                        "DisplayName": $("#CategoryEditViewModel_DisplayName").val(),
                        "Note": $("#CategoryEditViewModel_Note").val()
                    },
                    (resp) => {
                        $("#edit-form")[0].reset();
                        $("#editCatModal").modal('hide');
                        window.location.reload();
                    });
            }
        });

    </script>
}

<h3>
    <span class="icon-folder icon-admin-title"></span>
    @Localizer["Categories"]
    <a class="btn btn-outline-success float-end" href="javascript:initCreateCategory();">
        <span class="icon-plus"></span>
        @Localizer["New"]
    </a>
</h3>
<hr />


@Html.AntiForgeryToken()

<div class="card-columns card-columns-categories">
    @foreach (var cat in Model.Categories.OrderBy(m => m.DisplayName))
    {
        <div class="card mb-4" id="card-@cat.Id">
            <div class="card-body">
                <h6 class="card-title">
                    <a asp-page="/CategoryList" asp-route-routeName="@cat.RouteName" target="_blank">
                        @cat.DisplayName
                    </a>
                </h6>

                <p class="mt-2 h-30px">
                    @cat.Note
                </p>

                <small class="text-muted">@cat.RouteName</small>
            </div>
            <div class="card-footer">
                <a href="javascript:;" data-catid="@cat.Id" class="btn btn-sm btn-outline-accent btn-edit"><span class="icon-pencil"></span></a>
                <a href="javascript:;" data-catid="@cat.Id" class="btn btn-sm btn-outline-danger btn-delete"><span class="icon-bin"></span></a>

                <span id="span-processing-@cat.Id" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="editCatModal" tabindex="-1" role="dialog" aria-labelledby="editCatModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCatModalLabel">@Localizer["Category Information"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>

            <form id="edit-form" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="mb-2">
                        <label asp-for="CategoryEditViewModel.DisplayName"></label>
                        <input asp-for="CategoryEditViewModel.DisplayName" class="form-control" />
                        <span asp-validation-for="CategoryEditViewModel.DisplayName" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="CategoryEditViewModel.RouteName"></label>
                        <input asp-for="CategoryEditViewModel.RouteName" class="form-control" />
                        <span asp-validation-for="CategoryEditViewModel.RouteName" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="CategoryEditViewModel.Note"></label>
                        <input asp-for="CategoryEditViewModel.Note" class="form-control" />
                        <span asp-validation-for="CategoryEditViewModel.Note" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-submit">@Localizer["Submit"]</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                </div>
            </form>
        </div>
    </div>
</div>