@page "/admin/comments"
@using Moonglade.Utils
@using Moonglade.Web.PagedList
@{
    ViewBag.Title = "Comments";
}
@Html.AntiForgeryToken()

@section scripts {
    <script type="module" src="~/js/app/admin.comments.mjs" asp-append-version="true"></script>
}

@section head {
    <style>
        .mdrendered-comment-content img {
            max-width: 720px;
        }

        .reply-container {
            padding-left: 10px;
            border-left: 4px solid #CECECE;
        }
    </style>
}
@section admintoolbar {
    <div class="admin-toolbar pb-2 border-bottom mb-3">
        <a href="javascript:window.deleteSelectedComments();" class="btn btn-outline-danger btn-delete-selected">
            <i class="bi-trash"></i> @SharedLocalizer["Delete selected"]
        </a>
    </div>
}

<div>
    @if (CommentDetailedItems.Count == 0)
    {
        <div class="alert alert-info">
            @SharedLocalizer["No Comments"]
        </div>
    }
    else
    {
        foreach (var item in CommentDetailedItems)
        {
            <div id="panel-comment-@item.Id" class="admin-comment-entry p-3 mb-3 rounded-3 shadow-sm border row g-1">
                <div class="form-check col-auto">
                    <input type="checkbox" class="form-check-input chk-cid" id="comment-item-chk-@item.Id" data-cid="@item.Id" />
                    <label class="form-check-label" for="comment-item-chk-@item.Id"></label>
                </div>

                <div class="col">
                    <h6>
                        @item.Username
                        @if (!string.IsNullOrWhiteSpace(item.Email))
                        {
                            <text>
                                (<a href="mailto:@item.Email" class="d-none d-sm-inline">@item.Email</a>)
                            </text>
                        }
                    </h6>
                    <div class="mdrendered-comment-content">
                        @Html.Raw(ContentProcessor.MarkdownToContent(item.CommentContent, ContentProcessor.MarkdownConvertType.Html))
                    </div>
                    <div class="text-muted">
                        @item.PostTitle
                    </div>

                    <small class="text-muted">
                        <span>
                            <time data-utc-label="@item.CreateTimeUtc.ToString("u")">@item.CreateTimeUtc</time>
                        </span>
                        <span class="text-muted d-none d-sm-inline">(@item.IpAddress)</span>
                    </small>

                    <div class="reply-ui mt-3" style="display: none;">
                        <form>
                            <div class="mb-2">
                                <textarea class="form-control"
                                          id="replycontent-@item.Id"
                                          name="ReplyContent"
                                          placeholder="Content" type="text"></textarea>
                            </div>

                            <a class="btn btn-sm btn-outline-accent btn-reply-post" href="#" data-commentid="@item.Id">
                                @SharedLocalizer["Reply"]
                            </a>
                        </form>
                    </div>
                    <div class="reply-list">
                        @foreach (var reply in item.CommentReplies.OrderByDescending(t => t.ReplyTimeUtc))
                        {
                            <hr />
                            <div class="reply-container">
                                <div>
                                    @Html.Raw(ContentProcessor.MarkdownToContent(reply.ReplyContent, ContentProcessor.MarkdownConvertType.Html))
                                </div>
                                <small class="text-muted">
                                    <time data-utc-label="@reply.ReplyTimeUtc.ToString("u")">@reply.ReplyTimeUtc</time>
                                </small>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-auto">
                    <a href="javascript:;" class="btn btn-sm @(item.IsApproved ? "btn-success" : "btn-outline-success") btn-approve" data-commentid="@item.Id">
                        <i class="bi-check2"></i>
                    </a>
                    <button class="btn btn-sm btn-outline-accent btn-reply" data-commentid="@item.Id">
                        <i class="bi-reply-fill"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-danger btn-delete" data-commentid="@item.Id">
                        <i class="bi-trash"></i>
                    </button>
                </div>
            </div>
        }
    }


    @Html.PagedListPager(CommentDetailedItems, page => $"?pageIndex={page}", new()
{
    UlElementClasses = ["pagination mt-3"]
})
</div>

@functions
{
    public BasePagedList<CommentDetailedItem> CommentDetailedItems { get; set; }

    public async Task OnGet(int pageIndex = 1)
    {
        const int pageSize = 5;
        var comments = await Mediator.Send(new GetCommentsQuery(pageSize, pageIndex));
        var count = await Mediator.Send(new CountCommentsQuery());
        CommentDetailedItems = new(comments, pageIndex, pageSize, count);
    }
}
