@page "/admin/comments"
@{
    ViewBag.Title = "Comments";
    ViewBag.XData = "commentManager";
}
@Html.AntiForgeryToken()

@section scripts {
    <script type="module" src="~/js/app/admin.comments.mjs"></script>
}

@section head {
    <style>
        .mdrendered-comment-content img {
            max-width: 720px;
        }

        .reply-container {
            padding-left: 10px;
            border-left: 4px solid #CECECE;
        }
    </style>
}
@section admintoolbar {
    <div class="admin-toolbar pb-2 border-bottom mb-3">
        <a href="javascript:void(0);" 
           x-on:click="deleteSelectedComments()" 
           class="btn btn-outline-danger btn-delete-selected">
            <i class="bi-trash"></i> @SharedLocalizer["Delete selected"]
        </a>
    </div>
}

<div>
    <form x-on:submit.prevent="handleSearch()">
        <div class="d-flex search-box mb-3">
            <input type="search" 
                   x-model="searchTerm"
                   aria-label="Search" 
                   class="form-control" 
                   placeholder="Search user name or email" />
            <button class="btn btn-light btn-search my-sm-0" type="submit">
                <i class="bi-search text-dark"></i>
            </button>
        </div>
    </form>

    <div x-show="isLoading"
         class="text-muted mb-3"
         :class="{ 'd-flex align-items-center': isLoading }">
        <div class="spinner-border spinner-border-sm me-2" role="status"></div>
        <span>@SharedLocalizer["Loading..."]</span>
    </div>

    <div x-show="!isLoading && !hasComments">
        <div class="alert alert-info">
            @SharedLocalizer["No Comments"]
        </div>
    </div>

    <template x-for="item in comments" :key="item.id">
        <div :id="`panel-comment-${item.id}`" class="admin-comment-entry p-3 mb-3 rounded-3 shadow-sm border row g-1">
            <div class="form-check col-auto">
                <input type="checkbox" 
                       class="form-check-input chk-cid" 
                       :id="`comment-item-chk-${item.id}`" 
                       :value="item.id"
                       x-model="selectedCommentIds" />
                <label class="form-check-label" :for="`comment-item-chk-${item.id}`"></label>
            </div>

            <div class="col">
                <h6>
                    <span x-text="item.username"></span>
                    <template x-if="item.email">
                        <span>
                            (<a :href="`mailto:${item.email}`" class="d-none d-sm-inline" x-text="item.email"></a>)
                        </span>
                    </template>
                </h6>
                <div class="mdrendered-comment-content" x-html="item.commentContent"></div>
                <div class="text-muted" x-text="item.postTitle"></div>

                <small class="text-muted">
                    <span>
                        <time :data-utc-label="item.createTimeUtc" x-text="item.createTimeUtc"></time>
                    </span>
                    <span class="text-muted d-none d-sm-inline">(<span x-text="item.ipAddress"></span>)</span>
                </small>

                <div class="reply-ui mt-3" x-show="item.showReplyForm">
                    <form x-on:submit.prevent="replyComment(item.id)">
                        <div class="mb-2">
                            <textarea class="form-control"
                                      :id="`replycontent-${item.id}`"
                                      x-model="item.replyContent"
                                      placeholder="Content" 
                                      type="text"></textarea>
                        </div>

                        <button type="submit" class="btn btn-sm btn-outline-accent">
                            @SharedLocalizer["Reply"]
                        </button>
                    </form>
                </div>
                <div class="reply-list">
                    <template x-for="(reply, index) in item.replies.slice().reverse()" :key="index">
                        <div>
                            <hr />
                            <div class="reply-container">
                                <div x-html="reply.replyContentHtml"></div>
                                <small class="text-muted">
                                    <time :data-utc-label="reply.replyTimeUtc" x-text="reply.replyTimeUtc"></time>
                                </small>
                            </div>
                        </div>
                    </template>
                </div>
            </div>

            <div class="col-auto">
                <a href="javascript:void(0);" 
                   class="btn btn-sm"
                   :class="item.isApproved ? 'btn-success' : 'btn-outline-success'"
                   x-on:click="toggleApproval(item.id)">
                    <i class="bi-check2"></i>
                </a>
                <button class="btn btn-sm btn-outline-accent" 
                        x-on:click="item.showReplyForm = !item.showReplyForm">
                    <i class="bi-reply-fill"></i>
                </button>
                <button class="btn btn-sm btn-outline-danger" 
                        x-on:click="deleteComment(item.id)">
                    <i class="bi-trash"></i>
                </button>
            </div>
        </div>
    </template>

    <nav x-show="!isLoading && totalPages > 1" aria-label="Page navigation" class="mt-4">
        <ul class="pagination">
            <li class="page-item" :class="{ 'disabled': currentPage === 1 }">
                <a class="page-link" href="#" x-on:click.prevent="goToPage(currentPage - 1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            
            <template x-for="page in paginationPages" :key="page">
                <li class="page-item" :class="{ 'active': page === currentPage }">
                    <a class="page-link" href="#" x-on:click.prevent="goToPage(page)" x-text="page"></a>
                </li>
            </template>
            
            <li class="page-item" :class="{ 'disabled': currentPage === totalPages }">
                <a class="page-link" href="#" x-on:click.prevent="goToPage(currentPage + 1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
