@page "/admin/page/edit/{id:guid?}"
@model Moonglade.Web.Pages.Admin.EditPageModel
@{
    ViewBag.Title = "Manage Pages";
}

@{
    <script>
    var needLoadInitValues = @((!string.IsNullOrWhiteSpace(Model.PageEditModel.RawHtmlContent) || !string.IsNullOrWhiteSpace(Model.PageEditModel.CssContent)).ToString().ToLower());
    </script>
}

@section scripts{
    <script>var require = { paths: { 'vs': '/lib/monaco-editor/min/vs' } };</script>
    <script src="~/lib/monaco-editor/min/vs/loader.js"></script>
    <script>
        var pageId = '@Model.PageId.ToString()';

        $("#Title").change(function () {
            $("#Slug").val(slugify($(this).val()));
        });

        var btnSubmitPage = '#btn-submit';

        var htmlContentEditor = null;
        var cssContentEditor = null;
        var hasCssEditorInitialized = false;

        require(['vs/editor/editor.main'], function () {
            initHtmlEditor();
        });

        var initHtmlEditor = function () {
            var htmlContentEditorDiv = document.getElementById('RawHtmlContentEditor');
            htmlContentEditor = monaco.editor.create(htmlContentEditorDiv, {
                language: 'html'
            });
            htmlContentEditor.layout();

            if (needLoadInitValues) {
                var htmlValue = $("#PageEditModel_RawHtmlContent").val();
                htmlContentEditor.setValue(htmlValue);
            }
        }

        var initCssEditor = function () {
            var cssContentEditorDiv = document.getElementById('CssContentEditor');
            cssContentEditor = monaco.editor.create(cssContentEditorDiv, {
                language: 'css'
            });
            cssContentEditor.layout();
            hasCssEditorInitialized = true;

            if (needLoadInitValues) {
                var cssValue = $("#PageEditModel_CssContent").val();
                window.cssContentEditor.setValue(cssValue);
            }
        }

        var assignEditorValues = function () {
            var htmlValue = window.htmlContentEditor.getValue();

            // Edit Mode, preserve old value when user has not clicked on CSS tab
            var oldCssValue = $("#PageEditModel_CssContent").val();
            var cssValue = hasCssEditorInitialized ? window.cssContentEditor.getValue() : oldCssValue;

            $("#PageEditModel_RawHtmlContent").val(htmlValue);
            $("#PageEditModel_CssContent").val(cssValue);
        }

        $('#btn-preview').click(function () {
            assignEditorValues();

            if ($("#page-edit-form").valid()) {
                isPreviewRequired = true;
                postCreateOrEdit();
            }
        });

        var onPageCreateEditBegin = function () {
            $(btnSubmitPage).text('Saving...');
            $(btnSubmitPage).addClass('disabled');
            $(btnSubmitPage).attr('disabled', 'disabled');
        };

        var onPageCreateEditComplete = function () {
            $(btnSubmitPage).text('Save');
            $(btnSubmitPage).removeClass('disabled');
            $(btnSubmitPage).removeAttr('disabled');
        };

        function postCreateOrEdit() {
            onPageCreateEditBegin();

            var apiAddress = pageId == emptyGuid ? `/api/page` : `/api/page/${pageId}`;
            var verb = pageId == emptyGuid ? 'POST' : 'PUT';

            callApi(apiAddress, verb,
                {
                    "Title": $("#PageEditModel_Title").val(),
                    "Slug": $("#PageEditModel_Slug").val(),
                    "MetaDescription": $("#PageEditModel_MetaDescription").val(),
                    "RawHtmlContent": $("#PageEditModel_RawHtmlContent").val(),
                    "CssContent": $("#PageEditModel_CssContent").val(),
                    "HideSidebar": $('#PageEditModel_HideSidebar').prop('checked'),
                    "IsPublished": $('#PageEditModel_IsPublished').prop('checked')
                },
                async (resp) => {
                    onPageCreateEditComplete();
                    var data = await resp.json();

                    if (data.pageId) {
                        pageId = data.pageId;
                        blogToast.success('Page saved successfully.');

                        if ($('input[name="IsPublished"]:checked').val() === 'true') {
                            $('#btn-preview').hide();
                        }

                        if (isPreviewRequired) {
                            isPreviewRequired = false;
                            window.open(`/page/preview/${data.pageId}`);
                        }
                    }
                });
        }

        $("#btn-submit").click(function () {
            isPreviewRequired = false;
            assignEditorValues();

            if ($("#page-edit-form").valid()) {
                postCreateOrEdit();
            }
        });

        $(function () {
            $('a[data-bs-toggle="tab"]').on('shown.bs.tab',
                function (e) {
                    var isCSSTab = e.target.id === "csscontent-tab";
                    if (isCSSTab && !hasCssEditorInitialized) {
                        initCssEditor();
                    }
                });
        });


    </script>
}

@section head{
    <style>
        .monaco-target {
            border-left: 1px solid #dee2e6;
            border-right: 1px solid #dee2e6;
            border-bottom: 1px solid #dee2e6;
            width: 100%;
            min-height: calc(100vh - 330px);
        }
    </style>
}

<form id="page-edit-form" method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <div class="row">
        <div class="col-md-9 col-xl-10">
            <input type="text" asp-for="PageEditModel.Title" class="form-control form-control-lg mb-1" placeholder="Title" />
            <div>
                <span asp-validation-for="PageEditModel.Title" class="text-danger"></span>
            </div>

            <div class="input-group input-group-sm">
                <span class="input-group-text" id="basic-addon3">page/</span>
                <input type="text" asp-for="PageEditModel.Slug" class="form-control form-control-sm" placeholder="slug" />
            </div>
            <div>
                <span asp-validation-for="PageEditModel.Slug" class="text-danger"></span>
            </div>

            <div>
                <span asp-validation-for="PageEditModel.RawHtmlContent" class="text-danger"></span>
            </div>
            <div>
                <span asp-validation-for="PageEditModel.CssContent" class="text-danger"></span>
            </div>

            <ul class="nav nav-tabs mt-3" id="editor-box-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#rawhtmlcontent-editor-box" role="tab" aria-controls="html" aria-selected="false">HTML</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="csscontent-tab" data-bs-toggle="tab" href="#csscontent-editor-box" role="tab" aria-controls="css" aria-selected="true">CSS</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="rawhtmlcontent-editor-box" role="tabpanel" aria-labelledby="html-tab">
                    <div id="RawHtmlContentEditor" class="monaco-target">

                    </div>
                    <textarea asp-for="PageEditModel.RawHtmlContent" class="page-rawhtmlcontent-textarea d-none"></textarea>
                </div>
                <div class="tab-pane" id="csscontent-editor-box" role="tabpanel" aria-labelledby="css-tab">
                    <div id="CssContentEditor" class="monaco-target">

                    </div>
                    <textarea asp-for="PageEditModel.CssContent" class="page-csscontent-textarea d-none"></textarea>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xl-2">
            <div class="card mb-4">
                <div class="card-header">Options</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="form-check form-switch">
                            <input type="checkbox" asp-for="PageEditModel.HideSidebar" class="form-check-input">
                            <label asp-for="PageEditModel.HideSidebar" class="form-check-label"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check form-switch">
                            <input type="checkbox" asp-for="PageEditModel.IsPublished" class="form-check-input">
                            <label asp-for="PageEditModel.IsPublished" class="form-check-label"></label>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <label class="form-label" asp-for="PageEditModel.MetaDescription"></label>
                    <textarea asp-for="PageEditModel.MetaDescription" class="form-control"></textarea>
                    <span asp-validation-for="PageEditModel.MetaDescription" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div>
        <button type="button" class="btn btn-success" id="btn-submit">
            @Localizer["Save"]
        </button>
        @if (!Model.PageEditModel.IsPublished)
        {
            <button type="button" class="btn btn-outline-success" id="btn-preview">
                <i class="bi-eye"></i>
                @Localizer["Preview"]
            </button>
        }
        <a asp-page="./BlogPage" class="btn btn-light">@Localizer["Cancel"]</a>
    </div>
</form>