@page "/admin/post/edit/{id:guid?}"
@model Moonglade.Web.Pages.Admin.EditPostModel
@{
    ViewBag.Title = "Manage Posts";

    var langList = new[] { "en-us", "zh-cn" }
        .Select(t => new SelectListItem
        {
            Text = t,
            Value = t
        });
}

@section scripts{
    <script src="~/lib/typeahead.js/typeahead.bundle.min.js"></script>
    @{
        var ec = Settings.Value.Editor;
        switch (ec)
        {
            case EditorChoice.Html:
                <script src="~/lib/tinymce/tinymce.min.js"></script>
                break;
            case EditorChoice.Markdown:
                <script src="~/lib/simplemde/simplemde.min.js"></script>
                <script src="~/js/3rd/inline-attachment.js"></script>
                <script src="~/js/3rd/codemirror-4.inline-attachment.js"></script>
                <link id="css-simplemde" href="~/lib/simplemde/simplemde.min.css" rel="stylesheet" />
                break;
        }
    }

    <script>
        $(function () {
            postEditor.initEvents();
            var editorMode = '@Settings.Value.Editor';
            if (editorMode == '@nameof(EditorChoice.Html)') {
                postEditor.loadRichEditor(".post-content-textarea");
            }
            if (editorMode == '@nameof(EditorChoice.Markdown)') {
                postEditor.loadMdEditor(".post-content-textarea");
            }

            $('#Tags').on('beforeItemAdd', function (event) {

                // Test English with allowed characters
                if (!/^[a-zA-Z 0-9\.\-\+\#\s]*$/i.test(event.item)) {

                    // Test for Chinese
                    if (!/(\p{Script=Hani})+/gu.test(event.item)) {
                        notyf.error(`Invalid tag name: ${event.item}`);
                        event.cancel = true;
                    }
                }
            });

            postEditor.keepAlive();
        });

        $(window).bind('keydown', function(event) {
            if (event.ctrlKey || event.metaKey) {
                switch (String.fromCharCode(event.which).toLowerCase()) {
                case 's':
                    event.preventDefault();
                    $("#btn-save").trigger('click');
                    break;
                }
            }
        });
    </script>
}

<form class="post-edit-form" asp-controller="Post" asp-action="CreateOrEdit"
      data-ajax-begin="onPostCreateEditBegin"
      data-ajax-complete="onPostCreateEditComplete"
      data-ajax-failure="onPostCreateEditFailed"
      data-ajax-success="onPostCreateEditSuccess"
      data-ajax="true"
      data-ajax-method="POST">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input type="hidden" asp-for="ViewModel.PostId" />
    <input type="hidden" asp-for="ViewModel.IsPublished" />
    <div class="row">
        <div class="col-md-9 col-xl-10">
            <input type="text" asp-for="ViewModel.Title" class="form-control form-control-lg" placeholder="@Localizer["Title"]" />
            <div>
                <span asp-validation-for="ViewModel.Title" class="text-danger"></span>
            </div>
            <div class="mt-1 mb-1">
                <div class="input-group input-group-sm">
                    <input type="text" asp-for="ViewModel.Slug" class="form-control form-control-sm" placeholder="Slug" spellcheck="false" />
                </div>
                <div>
                    <span asp-validation-for="ViewModel.Slug" class="text-danger"></span>
                </div>
            </div>

            <textarea asp-for="ViewModel.EditorContent" class="post-content-textarea"></textarea>
            <div>
                <span asp-validation-for="ViewModel.EditorContent" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 col-xl-2">
            <div class="card mb-4">
                <div class="card-header">@Localizer["Options"]</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="form-check form-switch">
                            <input type="checkbox" asp-for="ViewModel.EnableComment" class="form-check-input">
                            <label asp-for="ViewModel.EnableComment" class="form-check-label"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check form-switch">
                            <input type="checkbox" asp-for="ViewModel.Featured" class="form-check-input">
                            <label asp-for="ViewModel.Featured" class="form-check-label"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check form-switch">
                            <input type="checkbox" asp-for="ViewModel.FeedIncluded" class="form-check-input">
                            <label asp-for="ViewModel.FeedIncluded" class="form-check-label"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check form-switch">
                            <input type="checkbox" asp-for="ViewModel.ExposedToSiteMap" class="form-check-input">
                            <label asp-for="ViewModel.ExposedToSiteMap" class="form-check-label"></label>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <input type="text" asp-for="ViewModel.Tags" placeholder="@Localizer["Tags"]" />

                    <div class="input-group input-group-sm mt-2 mb-2">
                        <label class="input-group-text" for="LanguageCode">@Localizer["Language Code"]</label>
                        <select class="form-select" asp-for="ViewModel.LanguageCode" asp-items="@langList"></select>
                    </div>

                    @if (Model.ViewModel.PostId != Guid.Empty)
                    {
                        <a class="btn btn-sm w-100 btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#changePublishDateModal">@Localizer["Change Publish Date"]</a>
                    }
                </div>
            </div>
            <div class="card">
                <div class="card-header">@Localizer["Categories"]</div>
                <div class="card-body">
                    @if (null != Model.ViewModel.CategoryList && Model.ViewModel.CategoryList.Any())
                    {
                        <div class="catlist">
                            <ul>
                                @foreach (var item in Model.ViewModel.CategoryList)
                                {
                                    <li>
                                        <div class="form-check">
                                            <input id="cat-@item.Value" name="ViewModel.SelectedCategoryIds" class="form-check-input" type="checkbox" value="@item.Value"
                                                   @(item.IsChecked ? "checked=\"checked\"" : null)>
                                            <label for="cat-@item.Value" class="form-check-label">@item.DisplayText</label>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    }

                    <hr />
                    <a asp-page="./Category" class="btn w-100 btn-sm btn-outline-secondary">@Localizer["Manage Categories"]</a>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div>
        <button type="submit" class="btn btn-success ediblogeditor-save" id="btn-save">
            @Localizer["Save"]
        </button>
        @if (!Model.ViewModel.IsPublished)
        {
            <button type="submit" class="btn btn-accent ediblogeditor-publish" id="btn-publish">
                @Localizer["Publish"]
            </button>
            <button class="btn btn-outline-success ediblogeditor-preview" id="btn-preview">@Localizer["Preview"]</button>
        }
        <a asp-page="./Post" class="btn btn-light">@Localizer["Cancel"]</a>
    </div>

    <div class="modal fade" id="changePublishDateModal" tabindex="-1" role="dialog" aria-labelledby="changePublishDateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resetModalLabel">@Localizer["Change Publish Date"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning">@Localizer["Changing publish date will modify the URL of the post, and may cause unexpected results like breaking links on third parties that were pointing to this post. Please check the checkbox below if you confirm."]</div>
                    <div class="mb-2">
                        <input asp-for="ViewModel.ChangePublishDate" type="checkbox" />
                        <label asp-for="ViewModel.ChangePublishDate"></label>
                    </div>

                    <div class="mb-2">
                        <label asp-for="ViewModel.PublishDate"></label>
                        <input asp-for="ViewModel.PublishDate" class="form-control" />
                        <span asp-validation-for="ViewModel.PublishDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">@Localizer["Continue"]</button>
                </div>
            </div>
        </div>
    </div>
</form>