@page "/admin/page/edit/{id:guid?}"
@model Moonglade.Web.Pages.Admin.EditPageModel
@{
    ViewBag.Title = "Edit Page";
}

@section meta {
    <meta name="page-id" content="@Model.PageId" />
}

@section scripts {
    <partial name="_MonacoLoaderScript" />
    <script type="module" src="~/js/app/admin.editpage.mjs"></script>
}

@section head {
    <style>
        .monaco-target {
            border-left: 1px solid #dee2e6;
            border-right: 1px solid #dee2e6;
            border-bottom: 1px solid #dee2e6;
            min-height: calc(100vh - 330px);
        }
    </style>
}

<div>
    <form id="page-edit-form" method="post">
        <div class="row g-2">
            <div class="col-md-9 col-xl-10">
                <input type="text" asp-for="EditPageRequest.Title" class="form-control form-control-lg mb-1"
                       placeholder="Title" required />

                <div class="input-group input-group-sm">
                    <label class="input-group-text" asp-for="EditPageRequest.Slug">
                        <i class="bi-link-45deg">
                        </i>
                    </label>
                    <input type="text" asp-for="EditPageRequest.Slug" class="form-control form-control-sm"
                           placeholder="Slug" required />
                </div>

                <ul class="nav nav-tabs mt-3" id="editor-box-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-bs-toggle="tab"
                           href="#rawhtmlcontent-editor-box" role="tab" aria-controls="html"
                           aria-selected="false">HTML</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="csscontent-tab" data-bs-toggle="tab" href="#csscontent-editor-box"
                           role="tab" aria-controls="css" aria-selected="true">CSS</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="rawhtmlcontent-editor-box" role="tabpanel"
                         aria-labelledby="html-tab">
                        <div id="RawHtmlContentEditor" class="monaco-target">
                        </div>
                        <textarea asp-for="EditPageRequest.RawHtmlContent"
                                  class="page-rawhtmlcontent-textarea d-none"></textarea>
                    </div>
                    <div class="tab-pane" id="csscontent-editor-box" role="tabpanel" aria-labelledby="css-tab">
                        <div id="CssContentEditor" class="monaco-target">
                        </div>
                        <textarea asp-for="EditPageRequest.CssContent"
                                  class="page-csscontent-textarea d-none"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xl-2">
                <div class="admin-side-options-container p-3 rounded-3 shadow-sm border mb-4">
                    <div class="mb-3">
                        <div class="form-check form-switch mb-2">
                            <input type="checkbox" asp-for="EditPageRequest.HideSidebar" class="form-check-input">
                            <label asp-for="EditPageRequest.HideSidebar" class="form-check-label"></label>
                        </div>
                        <div class="form-check form-switch mb-2">
                            <input type="checkbox" asp-for="EditPageRequest.IsPublished" class="form-check-input">
                            <label asp-for="EditPageRequest.IsPublished" class="form-check-label"></label>
                        </div>
                    </div>
                    <div class="border-top pt-3">
                        <div class="form-floating">
                            <textarea asp-for="EditPageRequest.MetaDescription"
                                      placeholder="@Html.DisplayNameFor(m => m.EditPageRequest.MetaDescription)"
                                      class="form-control form-control-sm h-200px" spellcheck="false" required></textarea>
                            <label class="form-label" asp-for="EditPageRequest.MetaDescription"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-outline-accent" id="btn-submit">
                @SharedLocalizer["Save"]
            </button>
            @if (!Model.EditPageRequest.IsPublished)
            {
                <button type="submit" class="btn btn-outline-success" id="btn-preview">
                    @SharedLocalizer["Preview"]
                </button>
            }
            <a asp-page="./BlogPage" class="btn btn-outline-secondary">@SharedLocalizer["Cancel"]</a>
        </div>
    </form>
</div>