@page "/admin/friendlink"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Moonglade.Data.Entities
@using Moonglade.FriendLink

@{
    ViewBag.Title = "Friend Links";
}

@section scripts {
    <script type="module" src="~/js/app/json2csv.mjs" asp-append-version="true"></script>
    <script type="module" src="~/js/app/admin.friendlink.mjs" asp-append-version="true"></script>
}

@section admintoolbar {
    <div class="admin-toolbar pb-2 border-bottom mb-3">
        <a id="btn-new-friendlink" class="btn btn-outline-accent">
            <i class="bi-plus-lg"></i>
            @SharedLocalizer["New"]
        </a>

        <a class="btn btn-outline-accent btn-export" data-api="/api/friendlink/list" data-filename="moonglade-friendlink.csv">
            <i class="bi-filetype-csv"></i>
            @SharedLocalizer["Export"]
        </a>
    </div>
}

<div>
    @foreach (var item in Links.OrderBy(m => m.Rank).ThenBy(m => m.Title))
    {
        <div class="friendlink-entry p-3 mb-2 rounded-3 shadow-sm border">
            <div id="tr-@item.Id" class="row">
                <div class="col">
                    <h6>
                        <span class="badge bg-accent1 me-1">@item.Rank</span> @item.Title
                    </h6>
                    <div>
                        <a href="@item.LinkUrl" target="_blank">@item.LinkUrl</a>
                    </div>
                </div>
                <div class="col-auto">
                    <a class="btn btn-sm btn-outline-accent btn-edit" data-linkid="@item.Id"><i class="bi-pen"></i></a>
                    <a class="btn btn-sm btn-outline-danger btn-delete" data-linkid="@item.Id"><i class="bi-trash"></i></a>
                </div>
            </div>
        </div>
    }

    @Html.AntiForgeryToken()

    <p class="text-muted mt-4">@SharedLocalizer["* Note: Friend link cache refreshes every 30 minutes, you may need to wait for some time to see the new data."]</p>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="editLinkCanvas" aria-labelledby="editLinkCanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="editLinkCanvasLabel">@SharedLocalizer["Friend Link Information"]</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="edit-form" method="post">
            <div class="mb-3">
                <label class="form-label" asp-for="@EditLinkRequest.Title"></label>
                <input asp-for="@EditLinkRequest.Title" class="form-control" required />
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="@EditLinkRequest.LinkUrl"></label>
                <input asp-for="@EditLinkRequest.LinkUrl" class="form-control" required />
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="@EditLinkRequest.Rank"></label>
                <input asp-for="@EditLinkRequest.Rank" class="form-control" required />
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-accent">@SharedLocalizer["Submit"]</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">@SharedLocalizer["Cancel"]</button>
            </div>
        </form>
    </div>
</div>

@functions
{
    public EditLinkRequest EditLinkRequest { get; set; } = new();

    public List<FriendLinkEntity> Links { get; set; }

    public async Task OnGet() => Links = await Mediator.Send(new GetAllLinksQuery());
}
