@page "/admin/friendlink"
@model Moonglade.Web.Pages.Admin.FriendLinkModel
@{
    ViewBag.Title = "Manage Friend Links";
}

@section scripts{
    <script>
        var editCanvas = new bootstrap.Offcanvas(document.getElementById('editLinkCanvas'));
        var fid = emptyGuid;

        function deleteFriendLink(friendlinkid) {
            $(`#span-processing-${friendlinkid}`).show();

            callApi(`/api/friendlink/${friendlinkid}`, 'DELETE', {},
                (resp) => {
                    $(`#tr-${friendlinkid}`).hide();
                });
        }

        function initCreateFriendLink() {
            fid = emptyGuid;
            $('#edit-form')[0].reset();
            editCanvas.show();
        }

        function editFriendLink(id) {
            $.get(`/api/friendlink/${id}`, function (data) {
                fid = data.id;
                $('#FriendLinkEditViewModel_Title').val(data.title);
                $('#FriendLinkEditViewModel_LinkUrl').val(data.linkUrl);
                editCanvas.show();
            });
        }

        $(function () {
            $(".btn-delete").click(function () {
                var cfm = confirm("Delete Confirmation?");
                if (cfm) {
                    deleteFriendLink($(this).data("friendlinkid"));
                }
            });

            $(".btn-edit").click(function () {
                editFriendLink($(this).data("friendlinkid"));
            });
        });

        $(".btn-submit").click(function () {
            if ($("#edit-form").valid()) {
                var httpVerb = fid == emptyGuid ? 'POST' : 'PUT';
                var apiAddress = fid == emptyGuid ? `/api/friendlink` : `/api/friendlink/${fid}`;

                callApi(apiAddress, httpVerb,
                    {
                        "Id": fid,
                        "Title": $("#FriendLinkEditViewModel_Title").val(),
                        "LinkUrl": $("#FriendLinkEditViewModel_LinkUrl").val()
                    },
                    (resp) => {
                        $("#edit-form")[0].reset();
                        $("#editFriendlinkModal").modal('hide');
                        window.location.reload();
                    });
            }
        });

    </script>
}


<h3>
    <i class="bi-link-45deg icon-admin-title"></i>
    @Localizer["Friend Links"]
    <a class="btn btn-outline-success float-end" href="javascript:initCreateFriendLink();">
        <i class="bi-plus-circle"></i>
        @Localizer["New"]
    </a>
</h3>
<hr />

<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Localizer["Title"]
                    </th>
                    <th>
                        @Localizer["Link"]
                    </th>
                    <th class="table-item-w20">
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FriendLinks.OrderBy(m => m.Title))
                {
                    <tr id="tr-@item.Id">
                        <td>
                            @item.Title
                        </td>
                        <td>
                            <a href="@item.LinkUrl" target="_blank">@item.LinkUrl</a>
                        </td>
                        <td>
                            <a href="javascript:;" data-friendlinkid="@item.Id" class="btn btn-sm btn-outline-primary btn-edit"><i class="bi-pen"></i></a>
                            <a href="javascript:;" data-friendlinkid="@item.Id" class="btn btn-sm btn-outline-danger btn-delete"><i class="bi-trash"></i></a>
                            <span id="span-processing-@item.Id" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <form id="form-settings" asp-controller="Settings" asp-action="FriendLink"
              data-ajax-begin="onUpdateSettingsBegin"
              data-ajax-complete="onUpdateSettingsComplete"
              data-ajax-failure="onUpdateSettingsFailed"
              data-ajax-success="onUpdateSettingsSuccess"
              data-ajax="true"
              data-ajax-method="POST">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="card mb-4">
                <div class="card-header">@Localizer["Friend Link Options"]</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="form-check form-switch">
                            <input type="checkbox" asp-for="FriendLinkSettingsViewModel.ShowFriendLinksSection" class="form-check-input">
                            <label asp-for="FriendLinkSettingsViewModel.ShowFriendLinksSection" class="form-check-label"></label>
                        </div>
                    </li>
                </ul>
                <div class="card-footer">
                    <input id="btn-save-settings" type="submit" value="@Localizer["Save"]" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>

@Html.AntiForgeryToken()

<p class="text-muted mt-4">@Localizer["* Note: Friend link cache refreshes every 60 minutes, you may need to wait for some time to see the new data."]</p>

<div class="offcanvas offcanvas-end" tabindex="-1" id="editLinkCanvas" aria-labelledby="editLinkCanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="editLinkCanvasLabel">@Localizer["Friend Link Information"]</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="edit-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label class="form-label" asp-for="FriendLinkEditViewModel.Title"></label>
                <input asp-for="FriendLinkEditViewModel.Title" class="form-control" />
                <span asp-validation-for="FriendLinkEditViewModel.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="FriendLinkEditViewModel.LinkUrl"></label>
                <input asp-for="FriendLinkEditViewModel.LinkUrl" class="form-control" />
                <span asp-validation-for="FriendLinkEditViewModel.LinkUrl" class="text-danger"></span>
            </div>
        </form>
        <div class="mt-3">
            <button type="button" class="btn btn-success btn-submit">@Localizer["Submit"]</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">@Localizer["Cancel"]</button>
        </div>
    </div>
</div>