@page "/admin/account"
@model Moonglade.Web.Pages.Admin.LocalAccountModel
@{
    ViewBag.Title = "Manage Accounts";
    var currentUidClaim = User.Claims.FirstOrDefault(c => c.Type == "uid");
}

@section scripts{
    <script>
        var editAccountModal = new bootstrap.Modal('#editAccountModal');
        var resetPasswordModal = new bootstrap.Modal('#resetPasswordModal');

        var cid = '';

        $(function () {
            $(".btn-delete").click(function () {
                var cfm = confirm("Delete Confirmation?");
                if (cfm) {
                    deleteAccount($(this).data("accountid"));
                }
            });

            $(".btn-updatepwd").click(function () {
                $("#resetpassword-form")[0].reset();
                resetPasswordModal.show();
                cid = $(this).data("accountid");
            });
        });

        function initCreateAccount() {
            $("#edit-form")[0].reset();
            editAccountModal.show();
        }

        $(".btn-submit").click(function () {
            if ($("#edit-form").valid()) {
                callApi(`/api/localaccount`,
                    'POST',
                    {
                        "Username": $("#EditAccountRequest_Username").val(),
                        "Password": $("#EditAccountRequest_Password").val()
                    },
                    (resp) => {
                        $("#edit-form")[0].reset();
                        $("#editAccountModal").modal('hide');
                        window.location.reload();
                    });
            }
        });

        $(".btn-resetpwd").click(function () {
            if ($("#resetpassword-form").valid()) {
                callApi(`/api/localaccount/${cid}/password`,
                    'PUT', $("#NewPassword").val(),
                    (resp) => {
                        $("#resetpassword-form")[0].reset();
                        $("#resetPasswordModal").modal('hide');
                        blogToast.success('Password updated.');
                        cid = '';
                    });
            }
        });

    </script>
}

<div class="admin-toolbar ps-4 pe-4 pt-2 pb-2 border-bottom mb-3 shadow-sm">
    <a class="btn btn-outline-accent" href="javascript:initCreateAccount();">
        <i class="bi-plus-lg"></i>
        @Localizer["Create"]
    </a>
</div>

<div class="ps-4 pe-4">
    @if (null != Model.Accounts && Model.Accounts.Any())
    {
        <table class="table table-bordered mt-3">
            <thead>
            <tr>
                <th>@Localizer["Username"]</th>
                <th>@Localizer["Last Login IP"]</th>
                <th>@Localizer["Last Login Time (UTC)"]</th>
                <th>@Localizer["Create Time (UTC)"]</th>
                <th>@Localizer["Action"]</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Accounts.OrderBy(p => p.Username))
            {
                <tr id="tr-@item.Id">
                    <td>@item.Username</td>
                    <td>@(item.LastLoginIp ?? "N/A")</td>
                    <td>@(null != item.LastLoginTimeUtc ? item.LastLoginTimeUtc.ToString() : "N/A")</td>
                    <td>@item.CreateTimeUtc</td>
                    <td>
                        <a href="javascript:;" data-accountid="@item.Id" class="btn btn-sm btn-outline-accent btn-updatepwd">
                            <i class="bi-key-fill"></i>
                        </a>

                        @if (null != currentUidClaim && currentUidClaim.Value != item.Id.ToString())
                        {
                            <a href="javascript:;" data-accountid="@item.Id" class="btn btn-sm btn-outline-danger btn-delete"><i class="bi-trash"></i></a>
                            <span id="span-processing-@item.Id" style="display: none">...</span>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }

    <p class="text-muted">Check out <a href="https://azure.microsoft.com/en-us/services/active-directory?WT.mc_id=AZ-MVP-5002809">Azure Active Directoy</a> and empower your blog to achieve more!</p>

</div>

<div class="modal fade" id="editAccountModal" tabindex="-1" role="dialog" aria-labelledby="editAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAccountModalLabel">@Localizer["Account Information"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <form id="edit-form" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="mb-2">
                        <label asp-for="EditAccountRequest.Username"></label>
                        <input asp-for="EditAccountRequest.Username" class="form-control" />
                        <span asp-validation-for="EditAccountRequest.Username" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="EditAccountRequest.Password"></label>
                        <input asp-for="EditAccountRequest.Password" class="form-control" />
                        <span asp-validation-for="EditAccountRequest.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-accent btn-submit">@Localizer["Submit"]</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetPasswordModalLabel">@Localizer["Reset Password"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <form id="resetpassword-form" method="post">
                <div class="modal-body">
                    <div class="mb-2">
                        <label for="NewPassword">New Password</label>
                        <input class="form-control" type="password"
                               data-val="true"
                               data-val-regex="Password must be minimum eight characters, at least one letter and one number"
                               data-val-regex-pattern="^(?=.*[a-zA-Z])(?=.*[0-9])[A-Za-z0-9._~!@@#$^&*]{8,}$"
                               data-val-required="Password is required."
                               data-val-minlength="Password must be a string or array type with a minimum length of '8'."
                               data-val-minlength-min="8"
                               id="NewPassword"
                               maxlength="32"
                               name="NewPassword">
                        <span class="text-danger field-validation-valid" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-accent btn-resetpwd">@Localizer["Submit"]</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
