@page "/admin/account"
@{
    ViewBag.Title = SharedLocalizer["Account"];
    ViewBag.XData = "accountManager";
}

@Html.AntiForgeryToken()

@section scripts {
    <script type="module" src="~/js/app/admin.localaccount.mjs"></script>
}

<div id="localizedStrings" style="display:none"
     data-password-updated="@SharedLocalizer["Password updated."]">
</div>

@section admintoolbar {
    <div class="admin-toolbar pb-2 border-bottom mb-3">
        <a class="btn btn-outline-accent" href="javascript:;" x-on:click="openResetPasswordModal()">
            <i class="bi-key"></i>
            @SharedLocalizer["Change Password"]
        </a>
    </div>
}

<div class="alert alert-info">
    @SharedLocalizer["Local account sign-in is protected by an authenticator app."]
</div>

<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetPasswordModalLabel">@SharedLocalizer["Reset Password"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@SharedLocalizer["Close"]">
                </button>
            </div>

            <form x-on:submit.prevent="resetPassword">
                <div class="modal-body">
                    <div class="mb-2">
                        <label for="NewUsername">@SharedLocalizer["New username"]</label>
                        <input class="form-control" type="text"
                               id="NewUsername"
                               x-model="formData.newUsername"
                               minlength="3"
                               maxlength="16"
                               pattern="^[A-Za-z0-9]{3,16}$"
                               required>
                        <div class="text-muted">@SharedLocalizer["English letters and numbers only."]</div>
                    </div>
                    <div class="mb-2">
                        <label for="OldPassword">@SharedLocalizer["Old password"]</label>
                        <input class="form-control" type="password"
                               id="OldPassword"
                               x-model="formData.oldPassword"
                               minlength="8"
                               maxlength="32"
                               pattern="^(?=.*[a-zA-Z])(?=.*[0-9])[A-Za-z0-9._~!@@#$^&*]{8,}$"
                               required>
                    </div>
                    <div class="mb-2">
                        <label for="NewPassword">@SharedLocalizer["New password"]</label>
                        <input class="form-control" type="password"
                               id="NewPassword"
                               x-model="formData.newPassword"
                               minlength="8"
                               maxlength="32"
                               pattern="^(?=.*[a-zA-Z])(?=.*[0-9])[A-Za-z0-9._~!@@#$^&*]{8,}$"
                               required>
                    </div>
                    <div class="text-muted">
                        @SharedLocalizer["Your password must be:"]
                        <ul>
                            <li>@SharedLocalizer["Contain at least one letter (can be either lowercase or uppercase)."]</li>
                            <li>@SharedLocalizer["Contain at least one digit."]</li>
                            <li>@SharedLocalizer["Be at least 8 characters long."]</li>
                            <li>@Html.Raw(string.Format(SharedLocalizer["Only contain characters from the set: uppercase letters, lowercase letters, digits, and the special characters {0}."].Value, "<code>._~!@@#$^&*`</code>"))</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-accent">@SharedLocalizer["Submit"]</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">@SharedLocalizer["Cancel"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
