@page "/admin/account"
@using System.Globalization
@model Moonglade.Web.Pages.Admin.LocalAccountModel
@{
    ViewBag.Title = "Accounts";
}

@section scripts {
    <script type="module">
        import * as utils from '/js/app/utils.module.js'

        var resetPasswordModal = new bootstrap.Modal('#resetPasswordModal');

        window.resetPassword = function () {
            document.querySelector('#resetpassword-form').reset();
            resetPasswordModal.show();
        }

        window.handleResetPasswordFormSubmit = function (event) {
            event.preventDefault();

            const data = new FormData(event.target);
            const value = Object.fromEntries(data.entries());

            callApi(`/api/localaccount/${cid}/password`,
                'PUT',
                value["NewPassword"],
                (resp) => {
                    document.querySelector('#resetpassword-form').reset();
                    resetPasswordModal.hide();
                    blogToast.success('Password updated.');
                    cid = '';
                });
        }

        const resetPasswordForm = document.querySelector('#resetpassword-form');
        resetPasswordForm.addEventListener('submit', handleResetPasswordFormSubmit);
    </script>
}


@section admintoolbar {
    <div class="admin-toolbar pb-2 border-bottom mb-3">
        <a class="btn btn-outline-accent" href="javascript:resetPassword();">
            <i class="bi-key"></i>
            @SharedLocalizer["Change Password"]
        </a>
    </div>
}

@if (null != Model.LoginHistoryList && Model.LoginHistoryList.Any())
{
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>@SharedLocalizer["Login IP"]</th>
                <th>@SharedLocalizer["Login Time (UTC)"]</th>
                <th>@SharedLocalizer["User Agent"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LoginHistoryList.OrderByDescending(p => p.LoginTimeUtc))
            {
                <tr>
                    <td>@item.LoginIp</td>
                    <td>@item.LoginTimeUtc.ToString(CultureInfo.CurrentCulture)</td>
                    <td>@item.LoginUserAgent</td>
                </tr>
            }
        </tbody>
    </table>
}

<p class="text-muted">Check out <a href="https://learn.microsoft.com/en-us/azure/active-directory/fundamentals/whatis?WT.mc_id=AZ-MVP-5002809">Microsoft Entra ID</a> and empower your blog to achieve more!</p>

<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetPasswordModalLabel">@SharedLocalizer["Reset Password"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <form id="resetpassword-form" method="post">
                <div class="modal-body">
                    <div class="mb-2">
                        <label for="NewPassword">New Password</label>
                        <input class="form-control" type="password"
                               id="NewPassword"
                               minlength="8"
                               maxlength="32"
                               name="NewPassword"
                               pattern="^(?=.*[a-zA-Z])(?=.*[0-9])[A-Za-z0-9._~!@@#$^&*]{8,}$"
                               required>
                        <span class="text-danger field-validation-valid"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-accent btn-resetpwd">@SharedLocalizer["Submit"]</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">@SharedLocalizer["Cancel"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
