@page "/admin/mention"
@using Moonglade.Webmention
@{
    ViewBag.Title = "Mentions";
    ViewBag.XData = "mentionManager";
}

@Html.AntiForgeryToken()

@section head {
    <style>
        .mentions-container {
            height: calc(100vh - 230px);
            overflow-y: scroll;
            overflow-x: hidden;
        }
    </style>
}

@section scripts{
    <script type="module" src="~/js/app/admin.mention.mjs"></script>
}

@section admintoolbar{
    <div class="admin-toolbar pb-2 border-bottom mb-3">
        <div class="row">
            <div class="col">
                <a class="btn btn-outline-danger me-2" 
                   href="javascript:;" 
                   x-on:click="deleteSelectedMentions()"
                   x-show="selectedIds.length > 0">
                    <i class="bi-trash"></i>
                    <span x-text="`@SharedLocalizer["Delete Selected"] (${selectedIds.length})`"></span>
                </a>
                <a class="btn btn-outline-danger" href="javascript:;" x-on:click="clearAllMentions()">
                    <i class="bi-trash"></i>
                    @SharedLocalizer["Clear all"]
                </a>
            </div>
            <div class="col-auto">
                <div class="text-muted admin-toolbar-text">
                    <span x-text="mentionCount"></span> item(s)
                </div>
            </div>
        </div>
    </div>
}

<div>
    <input x-model="filterText" type="text" class="form-control mb-3" maxlength="32" placeholder="Filter..">

    <div x-show="isLoading"
         class="text-muted mb-3"
         :class="{ 'd-flex align-items-center': isLoading }">
        <div class="spinner-border spinner-border-sm me-2" role="status"></div>
        <span>@SharedLocalizer["Loading mentions..."]</span>
    </div>

    <div x-show="!isLoading && !hasMentions" class="alert alert-info">
        @SharedLocalizer["No mentions yet."]
    </div>

    <div class="mentions-container">
        <template x-for="item in filteredMentions" :key="item.id">
            <div class="mention-item-entry p-3 rounded-3 border mb-1">
                <div :id="`mention-box-${item.id}`" class="mention-item row">
                    <div class="col-auto d-flex align-items-center">
                        <input type="checkbox" 
                               class="form-check-input" 
                               :id="`checkbox-${item.id}`"
                               :value="item.id"
                               x-model="selectedIds">
                    </div>
                    <div class="col">
                        <strong>
                            <a :href="item.sourceUrl" target="_blank" x-text="item.sourceTitle"></a>
                        </strong>

                        <div>
                            <i class="bi-link"></i>
                            <span x-text="item.targetPostTitle"></span>
                        </div>

                        <div class="text-muted">
                            <span x-text="item.domain"></span>, 
                            <span x-text="item.sourceIp"></span>,
                            <time :data-utc-label="item.pingTimeUtc" x-text="formatTime(item.pingTimeUtc)"></time>, 
                            <span x-text="item.worker"></span>
                        </div>
                    </div>

                    <div class="col-auto">
                        <a class="btn btn-sm btn-outline-danger btn-delete" 
                           x-on:click="deleteMention(item.id)"
                           role="button">
                            <i class="bi-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>

<!-- Delete Mention(s) Modal -->
<div class="modal fade" id="deleteMentionModal" tabindex="-1" aria-labelledby="deleteMentionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteMentionModalLabel">@SharedLocalizer["Confirm Delete"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span x-text="pendingDeleteIds.length === 1 ? '@SharedLocalizer["Delete this mention?"]' : `@SharedLocalizer["Delete"] ${pendingDeleteIds.length} @SharedLocalizer["mentions"]?`"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">@SharedLocalizer["Cancel"]</button>
                <button type="button" class="btn btn-outline-danger" x-on:click="confirmDeleteMention()">@SharedLocalizer["Delete"]</button>
            </div>
        </div>
    </div>
</div>

<!-- Clear All Mentions Modal -->
<div class="modal fade" id="clearAllMentionsModal" tabindex="-1" aria-labelledby="clearAllMentionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clearAllMentionsModalLabel">@SharedLocalizer["Confirm Clear All"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @SharedLocalizer["Are you sure you want to clear all mentions?"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">@SharedLocalizer["Cancel"]</button>
                <button type="button" class="btn btn-outline-danger" x-on:click="confirmClearAllMentions()">@SharedLocalizer["Clear All"]</button>
            </div>
        </div>
    </div>
</div>