@page "/admin/menu"
@model Moonglade.Web.Pages.Admin.MenuModel
@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Manage Menus";
}

@section scripts{
    <script>
        var menuJson = @Html.Raw(Model.MenuItems.ToJson());

        function expandSubMenu(topMenuId, subMenuEditViewModels) {
            console.debug(topMenuId);

            subMenuEditViewModels.forEach(function(sm) {
                var h = '';
                h += `<a id="menu-${sm.id}" class="list-group-item list-group-item-action">${sm.title}</a>`;

                $('.submenu-list').html(h);
            });
        }

        function clearSubMenus() {
            $('.submenu-list').html('');
        }

        function loadMenuEditor(topMenuId) {
            callApi(`/api/menu/edit/${topMenuId}`,
                'GET',
                {},
                async (resp) => {
                    var data = await resp.json();
                    $('#MenuEditViewModel_Id').val(data.id);
                    $('#MenuEditViewModel_Title').val(data.title);
                    $('#MenuEditViewModel_Url').val(data.url);
                    $('#MenuEditViewModel_Icon').val(data.icon);
                    $('#MenuEditViewModel_DisplayOrder').val(data.displayOrder);
                    if (data.isOpenInNewTab) {
                        $('#MenuEditViewModel_IsOpenInNewTab').prop('checked', 'checked');
                    }
                    $('.btn-delete').show();
                    $('.btn-delete').data('menuid', topMenuId);

                    if (data.subMenuEditViewModels.length > 0) {
                        expandSubMenu(topMenuId, data.subMenuEditViewModels);
                    } else {
                        clearSubMenus();
                    }
                });
        }

        $(".btn-delete").click(function() {
            var cfm = confirm("Delete Confirmation?");
            if (cfm) deleteMenu($(this).data("menuid"));
        });

        function initCreateMenu() {
            $('#MenuEditViewModel_Id').val(emptyGuid);
            $('#edit-form')[0].reset();
            $('.btn-delete').hide();
        }

        function deleteMenu(menuid) {
            $(`#span-processing-${menuid}`).show();

            callApi(`/api/menu/${menuid}`,
                'DELETE',
                {},
                (resp) => {
                    initCreateMenu();
                    $(`#menu-${menuid}`).hide();
                });
        }

        $(".btn-submit").click(function() {
            if ($("#edit-form").valid()) {
                var action = '';
                var menuId = $("#MenuEditViewModel_Id").val();
                if (menuId == emptyGuid) {
                    action = "create";
                } else {
                    action = "edit";
                }

                callApi(`/api/menu/${action}`,
                    'POST',
                    {
                        "Id": $("#MenuEditViewModel_Id").val(),
                        "Title": $("#MenuEditViewModel_Title").val(),
                        "Url": $("#MenuEditViewModel_Url").val(),
                        "Icon": $("#MenuEditViewModel_Icon").val(),
                        "DisplayOrder": parseInt($("#MenuEditViewModel_DisplayOrder").val()),
                        "IsOpenInNewTab": $('#MenuEditViewModel_IsOpenInNewTab').prop('checked')
                    },
                    (resp) => {
                        $("#edit-form")[0].reset();
                        $("#editMenuModal").modal('hide');
                        window.location.reload();
                    });
            }
        });
    </script>
}

<h3>
    @Localizer["Navigation Menus"]

</h3>
<hr/>

<div class="alert alert-info">
    @Localizer["To turn on / off system navigation items (Categories / Tags / Archive), edit"] <code>appsettings.json</code> @Localizer["or override with environment variables."]
</div>

@if (null != Model.MenuItems)
{
    if (Model.MenuItems.Count == 0)
    {
        <div class="alert alert-info">@Localizer["No Customized Menus"]</div>
    }

    <div class="row">
        <div class="col-3">
            <h5>Top Level</h5>
            <hr/>
            <div class="list-group mb-2">
                @foreach (var menu in Model.MenuItems.OrderBy(m => m.DisplayOrder))
                {
                    @if (menu.SubMenus.Count > 0)
                    {
                        <a id="menu-@menu.Id" class="list-group-item list-group-item-action"
                           href="javascript:loadMenuEditor('@menu.Id');">
                            <span class="icon-list mr-2"></span>
                            @menu.Title

                            <span class="text-muted float-right">
                                ...
                            </span>
                        </a>
                    }
                    else
                    {
                        <a id="menu-@menu.Id" class="list-group-item list-group-item-action"
                           href="javascript:loadMenuEditor('@menu.Id');">
                            <span class="@menu.Icon mr-2"></span>
                            @menu.Title
                        </a>
                    }
                }
            </div>
            <a class="btn btn-outline-success btn-block" href="javascript:initCreateMenu();">
                <span class="icon-plus"></span>
                @Localizer["New"]
            </a>
        </div>
        <div class="col-3">
            <h5>Sub Menu</h5>
            <hr/>
            <div class="alert alert-warning">
                Under construction
            </div>
            <div class="debug">

            </div>
            <div class="list-group submenu-list">

            </div>
        </div>
        <div class="col-6">
            <h5>@Localizer["Menu Editor"]</h5>
            <hr/>
            <div>
                <form id="edit-form" method="post">
                    <input type="hidden" asp-for="MenuEditViewModel.Id"/>
                    <div class="form-group">
                        <input asp-for="MenuEditViewModel.Title" placeholder="@Localizer["Title"]" class="form-control" max-length="64" required/>
                    </div>
                    <div class="form-group">
                        <input asp-for="MenuEditViewModel.Url" placeholder="@Localizer["Url (Relative or Absolute)"]" class="form-control" max-length="256" required/>
                    </div>
                    <div class="form-group">
                        <input asp-for="MenuEditViewModel.Icon" placeholder="@Localizer["Icon CSS Class"]" class="form-control"/>
                        <span asp-validation-for="MenuEditViewModel.Icon" class="text-danger"></span>
                        <small class="text-muted">Check <a href="https://github.com/EdiWang/Moonglade-Icons" target="_blank">here</a> for icons</small>
                    </div>
                    <div class="form-group">
                        <label asp-for="MenuEditViewModel.DisplayOrder"></label>
                        <input asp-for="MenuEditViewModel.DisplayOrder" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input asp-for="MenuEditViewModel.IsOpenInNewTab" class="custom-control-input" type="checkbox">
                            <label asp-for="MenuEditViewModel.IsOpenInNewTab" class="custom-control-label">@Localizer["Open in New Tab"]</label>
                        </div>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-success btn-submit">@Localizer["Submit"]</button>
                    <button type="button" class="btn btn-secondary">@Localizer["Cancel"]</button>

                    <a href="javascript:;" data-menuid="" class="btn btn-outline-danger btn-delete" style="display: none;"><span class="icon-bin"></span></a>
                </form>
            </div>

            <span id="span-processing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
        </div>
    </div>
}