@page "/admin/post"
@{
    ViewBag.Title = "Manage Posts";
}

@section head{
    <link href="~/css/3rd/datatables.min.css" rel="stylesheet" />
    <script src="~/js/3rd/datatables.min.js"></script>
}

@section scripts{
    <script>
        $(function () {
            var table = $("#posts-table").DataTable({
                "order": [[1, "desc"]],
                "lengthMenu": [[10, 15, 20, 25, 50, -1], [10, 15, 20, 25, 50, "All"]],
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ordering": false,
                "ajax":
                {
                    url: "/api/postmanage/list-published",
                    type: "POST"
                },
                "initComplete": function (settings, json) {
                    $('.dataTables_filter input').unbind();
                    $('.dataTables_filter input').bind('keyup blur',
                        function (e) {
                            console.info(e);
                            if (e.keyCode == 13 || e.type == 'blur') {
                                table.search(this.value).draw();
                            }
                        });
                },
                "columns": [
                    { "data": null },
                    { "data": "pubDateUtc" },
                    { "data": "hits" },
                    { "data": null }
                ],
                "columnDefs": [
                    {
                        "targets": -1,
                        "render": function (data, type, row, meta) {
                            return `<a class="btn btn-outline-accent btn-sm btn-edit" href="/admin/post/edit/${data.id}"><span class="icon-pencil"></span></a> <button class="btn btn-outline-danger btn-sm btn-delete"><span class="icon-bin"></span></button>`;
                        }
                    },
                    {
                        "targets": 0,
                        "render": function (data, type, row, meta) {
                            return `<a href="/post/${(new Date(data.pubDateUtc)).getFullYear()}/${(new Date(data.pubDateUtc)).getMonth() + 1}/${(new Date(data.pubDateUtc)).getDate()}/${data.slug}" target="_blank">${data.title}</a>`;
                        }
                    },
                    {
                        "targets": 1,
                        "data": "pubDateUtc",
                        "render": function (data, type, row, meta) {
                            return `<span class="text-muted">${(new Date(data + 'Z')).toLocaleString()}</span>`;
                        }
                    },
                    {
                        "targets": 2,
                        "data": "hits",
                        "render": function (data, type, row, meta) {
                            return `<span class="text-muted">${data}</span>`;
                        }
                    }
                ]
            });

            $(".btn-refresh").click(function () {
                table.ajax.reload();
                notyf.success("Data Refreshed");
            });

            $('#posts-table tbody').on('click', 'button', function () {
                var data = table.row($(this).parents('tr')).data();
                console.info(data);
                var cfm = confirm("Delete Confirmation?");
                if (cfm) {
                    deletePost(data.id);
                    $(this).parents('tr').hide();
                }
            });
        });

        function deletePost(postid) {
            $(`#span-processing-${postid}`).show();

            callApi(`/api/postmanage/${postid}/recycle`,
                'DELETE',
                {},
                (resp) => {
                    $(`#tr-${postid}`).hide();
                });
        }
    </script>
}

<partial name="_PostManageHeader" />

@Html.AntiForgeryToken()

<div class="float-right">
    <button class="btn btn-sm btn-outline-accent btn-refresh">
        Refresh
    </button>
</div>

<table id="posts-table" class="table table-bordered">
    <thead>
        <tr>
            <th>@Localizer["Title"]</th>
            <th class="table-item-w20">@Localizer["Published"]</th>
            <th class="table-item-w10">@Localizer["Hits"]</th>
            <th class="table-item-w20">@Localizer["Options"]</th>
        </tr>
    </thead>
</table>