@page "/admin/post/draft"
@model Moonglade.Web.Pages.Admin.PostDraftModel
@{
    ViewBag.Title = "Drafts";
}
@inject ITimeZoneResolver _zoneResolver
@section scripts{
    <script>
        $(function () {
            $(".btn-delete").click(function () {
                var cfm = confirm("Delete Confirmation?");
                if (cfm) {
                    deletePost($(this).data("postid"));
                }
            });
        });

        function deletePost(postid) {
            $(`#span-processing-${postid}`).show();

            callApi(`/api/post/${postid}/recycle`, 'DELETE', {},
                (resp) => {
                    $(`#tr-${postid}`).hide();
                });
        }
    </script>
}

<partial name="_PostManageHeader" />

<div class="ps-4 pe-4">

    @if (Model.PostSegments.Any())
    {
        @Html.AntiForgeryToken()

        @foreach (var post in Model.PostSegments.OrderByDescending(p => p.LastModifiedUtc))
        {
            <div class="card mb-3" id="tr-@post.Id">
                <div class="card-body">
                    <h6 class="card-title">
                        <a asp-page="./EditPost" asp-route-id="@post.Id">@post.Title</a>
                    </h6>

                    <p class="mt-2 text-muted">
                        @post.ContentAbstract
                    </p>

                    <small class="text-muted">@_zoneResolver.ToTimeZone(post.CreateTimeUtc).ToLongDateString() @_zoneResolver.ToTimeZone(post.CreateTimeUtc).ToShortTimeString()</small>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-accent btn-sm btn-edit" asp-page="./EditPost" asp-route-id="@post.Id">
                        <i class="bi-pen"></i>
                    </a>
                    <a class="btn btn-outline-danger btn-sm btn-delete" data-postid="@post.Id" href="javascript:;">
                        <i class="bi-trash"></i>
                    </a>
                </div>
            </div>
        }
    }
    else
    {
        <partial name="_NoPosts" />
    }
</div>