@page "/admin/post/recycle-bin"
@model Moonglade.Web.Pages.Admin.RecycleBinModel
@{
    ViewBag.Title = "Recycle Bin";
}

@section scripts{
    <script>
        $(function () {
            $('.btn-delete').click(function () {
                var cfm = confirm('Delete Confirmation?');
                if (cfm) {
                    deletePost($(this).data('postid'));
                }
            });

            $('.btn-restore').click(function () {
                restorePost($(this).data("postid"));
            });

            $('.btn-empty-recbin').click(function () {
                callApi(`/api/post/empty-recycle-bin`, 'DELETE', {},
                    (resp) => {
                        blogToast.success('Cleared');
                        setTimeout(function () {
                            window.location.reload();
                        }, 800);
                    });
            });
        });
    </script>
}
@Html.AntiForgeryToken()
<partial name="_PostManageHeader" />

<div class="ps-4 pe-4">
    <a href="#" class="btn btn-sm btn-outline-danger btn-empty-recbin">
        <i class="bi-trash"></i>
        @Localizer["Empty Recycle Bin"]
    </a>

    @if (Model.Posts.Any())
    {
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>@Localizer["Title"]</th>
                    <th>@Localizer["Created"]</th>
                    <th>@Localizer["Options"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model.Posts.OrderByDescending(p => p.CreateTimeUtc))
                {
                    <tr id="tr-@post.Id">
                        <td>@post.Title</td>
                        <td class="text-muted">@post.CreateTimeUtc.ToString("MM/dd/yyyy HH:mm")</td>
                        <td class="p-2">
                            <a class="btn btn-sm btn-outline-accent btn-restore" data-postid="@post.Id" href="javascript:;">
                                <i class="bi-reply-fill"></i> @Localizer["Restore"]
                            </a>
                            <a class="btn btn-outline-danger btn-sm btn-delete" data-postid="@post.Id" href="javascript:;">
                                <i class="bi-trash"></i> @Localizer["Delete"]
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <partial name="_NoPosts" />
    }

</div>