@page "/admin/tags"
@using Moonglade.Core.TagFeature
@{
    ViewBag.Title = "Tags";
    var tags = await QueryMediator.QueryAsync(new GetTagCountListQuery());
    var sortedTags = tags.OrderBy(t => t.Tag.DisplayName).ToList();
}

@Html.AntiForgeryToken()

@section scripts {
    <script type="module" src="~/js/app/json2csv.mjs" asp-append-version="true"></script>
    <script type="module" src="~/js/app/admin.tags.mjs" asp-append-version="true"></script>
}

@section admintoolbar {
    <div class="admin-toolbar pb-2 border-bottom mb-3">
        <a id="btn-new-tag" class="btn btn-outline-accent">
            <i class="bi-plus-lg"></i>
            @SharedLocalizer["New"]
        </a>

        <a class="btn btn-outline-accent btn-export" data-api="/api/tags/list" data-filename="moonglade-tags.csv">
            <i class="bi-filetype-csv"></i>
            @SharedLocalizer["Export"]
        </a>
    </div>
}

<div>
    <input id="tagFilter" type="text" class="form-control mb-3" maxlength="32" placeholder="@SharedLocalizer["Filter"]">

    <ul class="list-unstyled ul-tag-mgr">
        @foreach (var tagItem in sortedTags)
        {
            <li id="li-tag-@tagItem.Tag.Id" class="admin-tag-item border rounded">
                <span class="span-tagcontent-editable" contenteditable="true" spellcheck="false" data-tagid="@tagItem.Tag.Id">@tagItem.Tag.DisplayName</span>
                <a class="btn-delete" data-tagid="@tagItem.Tag.Id">
                    <i class="bi-trash"></i>
                </a>
            </li>
        }
    </ul>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="editTagCanvas" aria-labelledby="editTagCanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="editTagCanvasLabel">@SharedLocalizer["Create Tag"]</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="edit-form" method="post">
            <div class="mb-2">
                <label class="form-label">@SharedLocalizer["Name"]</label>
                <input type="text" name="tagName" id="input-tag-name" class="form-control" required />
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-outline-accent">@SharedLocalizer["Submit"]</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">@SharedLocalizer["Cancel"]</button>
            </div>
        </form>
    </div>
</div>
