@page "/admin/tags"
@model Moonglade.Web.Pages.Admin.TagsModel
@{
    ViewBag.Title = "Manage Tags";
}
@Html.AntiForgeryToken()

@section scripts{
    <script>
        var editCanvas = new bootstrap.Offcanvas(document.getElementById('editTagCanvas'));

        function initCreateTag() {
            $('#edit-form')[0].reset();
            editCanvas.show();
        }

        $(".btn-delete").click(function () {
            var tagid = $(this).data("tagid");
            var cfm = confirm(`Confirm to delete tag: ${$(this).text().trim()}`);
            if (cfm) {
                callApi(`/api/tags/${tagid}`, 'DELETE', {},
                    (resp) => {
                        $(`#li-tag-${tagid}`).hide();
                        blogToast.success('Tag deleted');
                    });
            }
        });

        $(".span-tagcontent-editable").blur(function () {
            var tagId = $(this).data("tagid");
            var newTagName = $(this).text().trim();

            callApi(`/api/tags/${tagId}`, 'PUT', newTagName, (resp) => {
                blogToast.success('Tag updated');
            });
        });

        $(".btn-submit").click(function () {
            if ($("#edit-form").valid()) {
                callApi(`/api/tags`, 'POST', $("#input-tag-name").val(),
                    (resp) => {
                        $("#edit-form")[0].reset();
                        $("#editTagModal").modal('hide');
                        window.location.reload();
                    });
            }
        });
    </script>
}

<div class="admin-toolbar ps-4 pe-4 pt-2 pb-2 border-bottom mb-3 shadow-sm">
    <a class="btn btn-outline-accent" href="javascript:initCreateTag();">
        <i class="bi-plus-lg"></i>
        @Localizer["New"]
    </a>
</div>

<div class="ps-4 pe-4">
    <ul class="list-unstyled ul-tag-mgr">
        @foreach (var tag in Model.Tags.OrderBy(model => model.DisplayName))
        {
            <li id="li-tag-@tag.Id" class="border rounded">
                <span class="span-tagcontent-editable" contenteditable="true" spellcheck="false" data-tagid="@tag.Id">@tag.DisplayName</span>
                <a class="btn-delete" data-tagid="@tag.Id">
                    <i class="bi-trash"></i>
                    <span class="d-none">@tag.DisplayName</span>
                </a>
            </li>
        }
    </ul>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="editTagCanvas" aria-labelledby="editTagCanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="editTagCanvasLabel">@Localizer["Create Tag"]</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="edit-form" method="post">
            <div class="mb-2">
                <label class="form-label">@Localizer["Name"]</label>
                <input type="text" id="input-tag-name" class="form-control" required />
            </div>
        </form>
        <div class="mt-3">
            <button type="button" class="btn btn-success btn-submit">@Localizer["Submit"]</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">@Localizer["Cancel"]</button>
        </div>
    </div>
</div>
