@page "/admin/tags"
@model Moonglade.Web.Pages.Admin.TagsModel
@{
    ViewBag.Title = "Manage Tags";
}
@Html.AntiForgeryToken()

@section scripts{
    <script>
        $(".btn-delete").click(function () {
            var tagid = $(this).data("tagid");
            var cfm = confirm(`Confirm to delete tag: ${$(this).text().trim()}`);
            if (cfm) {
                callApi(`/api/tags/${tagid}`, 'DELETE', {},
                    (resp) => {
                        $(`#li-tag-${tagid}`).hide();
                        notyf.success('Tag deleted');
                    });
            }
        });

        $(".span-tagcontent-editable").blur(function () {
            var tagId = $(this).data("tagid");
            var newTagName = $(this).text().trim();

            callApi(`/api/tags/${tagId}`, 'PUT', {
                newName: newTagName
            }, (resp) => {
                notyf.success('Tag updated');
            });
        });

        $(".btn-submit").click(function () {
            callApi(`/api/tags/create`, 'POST', $("#input-tag-name").val(),
                (resp) => {
                    $("#edit-form")[0].reset();
                    $("#editTagModal").modal('hide');
                    window.location.reload();
                });
        });
    </script>
}

<h3>
    @Localizer["Tags"]
    <a class="btn btn-outline-success float-right" href="javascript:initCreateTag();">
        <span class="icon-plus"></span>
        @Localizer["New"]
    </a>
</h3>
<hr />

<ul class="list-unstyled ul-tag-mgr">
    @foreach (var tag in Model.Tags.OrderBy(model => model.DisplayName))
    {
        <li id="li-tag-@tag.Id" class="border">
            <span class="span-tagcontent-editable" contenteditable="true" spellcheck="false" data-tagid="@tag.Id">@tag.DisplayName</span>
            <a class="btn-delete" data-tagid="@tag.Id">
                <i class="icon-bin"></i>
                <span class="d-none">@tag.DisplayName</span>
            </a>
        </li>
    }
</ul>

<div class="modal fade" id="editTagModal" tabindex="-1" role="dialog" aria-labelledby="editTagModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTagModalLabel">@Localizer["Create Tag"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="edit-form" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>@Localizer["Name"]</label>
                        <input type="text" id="input-tag-name" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-submit">@Localizer["Submit"]</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
                </div>
            </form>
        </div>
    </div>
</div>