@{
    var currentPage = ViewContext.RouteData.Values["Page"]?.ToString();
}

<div class="admin-toolbar pb-2 border-bottom mb-3 d-flex">
    <ul class="nav nav-pills">
        <li role="presentation" class="nav-item nav-item-non-margin">
            <a class="nav-link @(currentPage == "/Admin/Settings/General" ? "active" : null)" asp-page="./General">@SharedLocalizer["General"]</a>
        </li>
        <li role="presentation" class="nav-item nav-item-non-margin">
            <a class="nav-link @(currentPage == "/Admin/Settings/Content" ? "active" : null)" asp-page="./Content">@SharedLocalizer["Content"]</a>
        </li>
        <li role="presentation" class="nav-item nav-item-non-margin">
            <a class="nav-link @(currentPage == "/Admin/Settings/Comment" ? "active" : null)" asp-page="./Comment">@SharedLocalizer["Comments"]</a>
        </li>
        <li role="presentation" class="nav-item nav-item-non-margin">
            <a class="nav-link @(currentPage == "/Admin/Settings/Image" ? "active" : null)" asp-page="./Image">@SharedLocalizer["Image"]</a>
        </li>
        <li role="presentation" class="nav-item nav-item-non-margin">
            <a class="nav-link @(currentPage == "/Admin/Settings/Subscription" ? "active" : null)" asp-page="./Subscription">@SharedLocalizer["Subscription"]</a>
        </li>
        <li role="presentation" class="nav-item nav-item-non-margin">
            <a class="nav-link @(currentPage == "/Admin/Settings/Appearance" ? "active" : null)" asp-page="./Appearance">@SharedLocalizer["Appearance"]</a>
        </li>
        <li role="presentation" class="nav-item nav-item-non-margin">
            <a class="nav-link @(currentPage == "/Admin/Settings/Notification" ? "active" : null)" asp-page="./Notification">@SharedLocalizer["Notification"]</a>
        </li>
        <li role="presentation" class="nav-item nav-item-non-margin">
            <a class="nav-link @(currentPage == "/Admin/Settings/Advanced" ? "active" : null)" asp-page="./Advanced">@SharedLocalizer["Advanced"]</a>
        </li>
    </ul>
</div>
